/* section.container {
    width: 90vw;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

div.banner {
    width: 720vw;
    /* transform: translate(-90vw); */
/* }

div.banner div {
    width: 90vw;
    float: left;
} */ 

section.container {
    width: 1900px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

div.banner {
    width: 13300px;
    /* transform: translate(-90vw); */
}

div.banner div {
    width: 1900px;
    float: left;
}

div img {
    width: 100%;
}

div .banner

div.arrow {
    position: absolute;
    font-size: 3rem;
    width: 80px;
    height: 80px;
    background-color: #0000002e;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    top: 43%;
    line-height: 72px;
}

div.next {
    right: 80px;
}

div.prev {
    z-index: 1;
    left: 5%;
}

div.btns {
    width: 90vw;
    text-align: center;
    position: absolute;
    bottom: 10px;
}
div.btns .btn {
    border-radius: 50%;
    border: 2px solid black;
    width: 15px;
    height: 15px;
}

div img .main-banner-image{
        width: 100%;
        min-width: 1050px;
        height: 370px;
        object-fit: cover;
}