.swiper {
    width: 100%;
    height: 300px;
  }

  .css-1kf59r7 img.main-banner-image {
    width: 100%;
    min-width: 1050px;
    height: 370px;
    object-fit: cover;
}

canvas, img, video {
    max-width: 100%;
}