<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1:1 문의글 작성</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/serviceCenter/css/serviceNotice.css">
    <link rel="stylesheet" href="/serviceCenter/css/questionForm.css">
    <link rel="stylesheet" href="/serviceCenter/css/serviceModal.css">
    <link rel="stylesheet" href="/main/css/header.css">
    <link rel="stylesheet" href="/main/css/footer.css">
</head>
<body>
<header th:replace="main/header.html" :: h></header>
    <div class="wrapperBig">
        <div class="wrapper">
            <div class="sidebar">
                <div class="sidebarName">고객센터</div>
                <ul class="sidebarList">
                    <li>
                        <a href="serviceNotice.html" class="sidebarMenu">공지사항
                            <span class="arrow"></span>
                        </a>
                    </li>
                    <li>
                        <a href="list.html" class="sidebarMenu">자주하는 질문
                            <span class="arrow"></span>
                        </a>
                    </li>
                    <li>
                        <a href="serviceQuestion.html" class="sidebarMenu">1:1 문의
                            <span class="arrow"></span>
                        </a>
                    </li>
                </ul>
                <a href="serviceQuestion.html" class="questionMenu">
                    <div>
                        <span class="firstLine">도움이 필요하신가요?</span>
                        <span class="secondLine">1:1 문의하기</span>
                    </div>
                    <span class="arrow2"></span>
                </a>
            </div>

            <div class="noticeBox">
                <div class="MessageConatiner">
                    <div class="Message">
                        <h2 class="ContainerTitle">1:1 문의</h2>
                    </div>
                </div>
                <hr>
                <form id="questionForm">
                    <div>
                        <div class="typeBox">
                            <label data-testid="label-text" class="typeText">유형
                                <span data-testid="label-required-text" class="redStar">*</span>
                            </label>
                            <div class="typeContainer">
                                <div class="typeInnerContainer">
                                    <div class="FirstSelect">
                                        <select id="mainType" , onchange="typeChange(this)"><i
                                                class="fi fi-rr-caret-down"></i>
                                            <option>문의유형을 선택해주세요</option>
                                            <option value="01" id="main01">주문/결제/반품/교환문의</option>
                                            <option value="02">이벤트/쿠폰/적립금문의</option>
                                            <option value="03">상품문의</option>
                                            <option value="04">배송문의</option>
                                            <option value="05">상품 누락 문의</option>
                                            <option value="06">기타문의</option>
                                        </select>

                                    </div>
                                    <div class="subSelect">
                                        <select id="detailType">
                                            <option>상세유형을 선택해주세요</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="titleBox">
                            <label data-testid="label-text" class="typeText">제목
                                <span data-testid="label-required-text" class="redStar">*</span>
                            </label>
                            <div class="titleContainer">
                                <div class="titleInnerContainer">
                                    <input type="text" placeholder="제목을 입력해주세요" class="inputTitle">
                                </div>
                            </div>
                        </div>
                        <div class="contentBox">
                            <label data-testid="label-text" class="typeText">내용
                                <span data-testid="label-required-text" class="redStar">*</span>
                            </label>
                            <div class="contentContainer">
                                <div class="contentInnerContainer">
                                    <textarea name="contents" class="contentsArea" id="contentsArea" cols="30"
                                        rows="10"></textarea>
                                    <div class="textLengthWrap">
                                        <span class="textCount" style="color: rgb(51, 51, 51);">0자</span>
                                        <span class="textTotal" style="color: rgb(153, 153, 153);">/5000자</span>
                                    </div>
                                    <div class="placeholderBox">
                                        <div class="placeholder">
                                            <strong class="content"
                                                style="display: block; margin: 0px 0px 4px; font-weight: 500;">1:1 문의 작성
                                                전 확인해주세요</strong>
                                            <strong class="content"
                                                style="display: block; margin: 16px 0px 4px; font-weight: 500;">반품 /
                                                환불</strong>
                                            <p class="preContent"
                                                style="display: block; margin: 0px 0px 4px; font-weight: 500;">ㆍ제품 하자 혹은
                                                이상으로 반품(환불)이 필요한 경우 사진과 함께 구체적인 내용을 남겨주세요.</p>
                                            <strong class="content"
                                                style="display: block; margin: 16px 0px 4px; font-weight: 500;">주문취소</strong>
                                            <p class="preContent">ㆍ주문취소는 배송 단계별로 방법이 상이합니다.</p>
                                            <p class="preContent">ㆍ[주문완료] 상태일 경우에만 주문 취소 가능합니다.</p>
                                            <p class="preContent">ㆍ[마이컬리 &gt; 주문내역 상세페이지]에서 직접 취소하실 수 있습니다.</p>
                                            <p class="preContent">ㆍ생산이 시작된 [상품준비중] 이후에는 취소가 제한되는 점 고객님의 양해 부탁드립니다.</p>
                                            <p class="preContent">ㆍ[배송준비중] 이후에는 취소가 불가하니, 반품으로 진행해주세요. (상품에 따라 반품이 불가할 수
                                                있습니다.)</p>
                                            <p class="preContent">ㆍ주문마감 시간에 임박할수록 취소 가능 시간이 짧아질 수 있습니다.</p>
                                            <p class="preContent">ㆍ비회원은 APP 또는 모바일 웹사이트에서 [마이컬리 &gt; 비회원 주문조회 페이지] 에서
                                                취소가 가능합니다.</p>
                                            <p class="preContent">ㆍ일부 예약상품은 배송 3~4일 전에만 취소 가능합니다.</p>
                                            <p class="content" style="color: rgb(240, 63, 64); padding-left: 15px;">
                                                ※주문상품의 부분취소는 불가능합니다. 전체 주문 취소 후 다시 구매 해주세요.</p>
                                            <strong class="content"
                                                style="display: block; margin: 16px 0px 4px; font-weight: 500;">배송</strong>
                                            <p class="preContent">ㆍ주문 완료 후 배송 방법(샛별/택배)은 변경이 불가능합니다.</p>
                                            <p class="preContent">ㆍ배송일 배송시간 지정은 불가능합니다. (예약배송 포함)</p>
                                            <p class="content" style="color: rgb(240, 63, 64); padding-left: 15px;">
                                                ※전화번호, 이메일, 주소, 계좌번호 등의 상세 개인정보가 문의 내용에 저장되지 않도록 주의해 주시기 바랍니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="photoBox">
                            <label data-testid="label-text" class="typeText">
                                <span data-testid="label-required-text" class="redStar"></span>
                            </label>
                            <div class="photoContainer">
                                <div class="inputPhotoBox">
                                    <div id="realImage">
                                        <img src="" id="thumb">
                                        <label for="photo-picker" class="photoLabel">
                                            <button type="button" class="photoButton">
                                                <span class="photoImg"></span>
                                            </button>
                                            <input multiple="" type="file"
                                                accept="image/jpg, image/jpeg, image/png, image/bmp" class="fileInput"
                                                id="fileInput">
                                        </label>
                                        <div class="fileGuide">
                                            <ul>
                                                <li>ㆍ30MB 이하의 이미지만 업로드 가능합니다.</li>
                                                <li>ㆍ상품과 무관한 내용익나 음란 및 불법적인 내용은 통보없이 삭제 될 수 있습니다.</li>
                                                <li>ㆍ사진은 최대 8장까지 등록가능합니다.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="recieveBox">
                            <div>
                                <label data-testid="label-text" class="typeText">답변 수신</label>
                            </div>
                            <div class="recieveWrapper">
                                <div class="recieveContainer" style="display:flex">
                                    <div class="recieveInnerContainer">
                                        <div>
                                            <div>
                                                <input type="text" value="" class="inputPhoneNumber">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="recieveAgreeBox">
                                        <label class="agreeLabel" for="InputAllowsNotificationCheck">
                                            <input name="allowsNotification" id="InputAllowsNotificationCheck"
                                                type="checkbox" class="css-agvwxo e1dcessg2" checked="">
                                            <img src="/serviceCenter/img/correct.png"
                                                alt="" class="agreeImage">
                                            <span class="css-0 e1dcessg1" style="font-size:13px">문자/알림톡 받기</span>
                                        </label>
                                    </div>
                                    <a href="#" class="personalDetail">개인정보 수정></a>
                                </div>

                                <div class="recieveNotice">
                                    <span>※야간에도 답변 완료 알림톡이 발송 되는 점 참고
                                        부탁드립니다.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submitBox">
                        <button type="button" class="submitButton" id="submitButton">등록</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal">
        <div class="modalContent">
            1:1 문의가 정상적으로 접수되었습니다.
            <div id="okModal" class="okModal">확인</div>
        </div>
    </div>
<footer th:replace="main/footer.html" :: f></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/serviceCenter/js/serviceModal.js"></script>
<script src="/serviceCenter/js/serviceCenter.js"></script>
<script src="/main/js/header.js"></script>
<script>
$(document).ready( function() {
    $("#header").load("/main/html/header.html");  // 원하는 파일 경로를 삽입하면 된다
    $("#footer").load("/main/html/footer.html");  // 추가 인클루드를 원할 경우 이런식으로 추가하면 된다
});
</script>
</html>