<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/main/css/header.css">
<link rel="stylesheet" href="/main/css/footer.css">
<link rel="stylesheet" href="/cart/css/kurly.css">
<link rel="stylesheet" href="/cart/css/cart.css">
<style>
    * {
        font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    }
</style>
<body>
    <!-- header 시작 -->
    <header th:replace="main/header.html" :: h></header>
    <!-- header 종료 -->
    <div class="css-1pz4b76 er0tf675">
        <h2 class="css-1n2hipb er0tf674">장바구니</h2>
        <div></div>
        <div class="css-a6t9xs er0tf673">
            <div class="css-8wfj4z er0tf672">
                <div class="css-20o6z0 e149z643">
                    <div class="css-zbxehx e149z642">
                        <label class="css-61d0l5 e1dcessg3" disabled="">
                            <input type="checkbox" disabled="" class="css-agvwxo e1dcessg2" />
                            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGc+CiAgICAgICAgICAgIDxnPgogICAgICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTExNjIgLTEwOTApIHRyYW5zbGF0ZSgxMDAgOTM2KSB0cmFuc2xhdGUoMTA0NiAxNDIpIHRyYW5zbGF0ZSgxNiAxMikiPgogICAgICAgICAgICAgICAgICAgICAgICA8Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMS41IiBmaWxsPSIjRjJGMkYyIiBzdHJva2U9IiNFMkUyRTIiLz4KICAgICAgICAgICAgICAgICAgICAgICAgPHBhdGggc3Ryb2tlPSIjREREIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMS41IiBkPSJNNyAxMi42NjdMMTAuMzg1IDE2IDE4IDguNSIvPgogICAgICAgICAgICAgICAgICAgIDwvZz4KICAgICAgICAgICAgICAgIDwvZz4KICAgICAgICAgICAgPC9nPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg=="
                                alt="" class="css-1wfsi82 e31wziv0" /><span class="css-0 e1dcessg1">전체선택
                                (0/0)</span>
                        </label>
                        <span class="css-454d5e e149z641"></span><button disabled=""
                            class="css-0 e149z640">선택삭제</button>
                    </div>
                </div>
                <div class="css-2lvxh7 ej77nku0">
                    <p class="css-l1lu2l eqymnpn0">장바구니에 담긴 상품이 없습니다</p>
                </div>
                <div class="css-20o6z0 e149z643">
                    <div class="css-zbxehx e149z642"><label class="css-61d0l5 e1dcessg3" disabled=""><input
                                type="checkbox" disabled="" class="css-agvwxo e1dcessg2" /><img
                                src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGc+CiAgICAgICAgICAgIDxnPgogICAgICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTExNjIgLTEwOTApIHRyYW5zbGF0ZSgxMDAgOTM2KSB0cmFuc2xhdGUoMTA0NiAxNDIpIHRyYW5zbGF0ZSgxNiAxMikiPgogICAgICAgICAgICAgICAgICAgICAgICA8Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMS41IiBmaWxsPSIjRjJGMkYyIiBzdHJva2U9IiNFMkUyRTIiLz4KICAgICAgICAgICAgICAgICAgICAgICAgPHBhdGggc3Ryb2tlPSIjREREIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMS41IiBkPSJNNyAxMi42NjdMMTAuMzg1IDE2IDE4IDguNSIvPgogICAgICAgICAgICAgICAgICAgIDwvZz4KICAgICAgICAgICAgICAgIDwvZz4KICAgICAgICAgICAgPC9nPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg=="
                                alt="" class="css-1wfsi82 e31wziv0" /><span class="css-0 e1dcessg1">전체선택
                                (0/0)</span></label><span class="css-454d5e e149z641"></span><button disabled=""
                            class="css-0 e149z640">선택삭제</button></div>
                </div>
            </div>
            <div class="css-1dta0ch er0tf671">
                <div class="css-50ad8x er0tf670">
                    <div class="css-oft680 e15fcx0p3">
                        <h3 class="css-1guaarh e15fcx0p2">배송지</h3>
                        <div class="css-50yi3o e15fcx0p1">
                            <p class="css-iba1ml e1321nl41"><em>배송지를 등록</em>하고<br />
                                <span class="css-1bmnxg7 e1321nl40">구매 가능한 상품을 확인하세요!</span>
                            </p>
                            <button class="css-1bh2ea0 e4nu7ef3" type="button" height="36" radius="3">
                                <span class="css-ymwvow e4nu7ef1">
                                    <img src="/cart/img/search.png" alt="" class="css-1m3kac1 e4nu7ef0" />주소 검색
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="css-1t6so8j em21elb0">
                        <div class="css-8jmoub ea1mry77">
                            <span class="css-vmo0an ea1mry76">상품금액</span>
                            <span class="css-iinokh ea1mry74">0<span class="css-hfgifi ea1mry72">원</span></span>
                        </div>
                        <div class="css-t4mc5m ea1mry77"><span class="css-vmo0an ea1mry76">상품할인금액</span><span
                                class="css-iinokh ea1mry74">0<span class="css-hfgifi ea1mry72">원</span></span></div>
                        <div class="css-t4mc5m ea1mry77"><span class="css-vmo0an ea1mry76">배송비</span><span
                                class="css-iinokh ea1mry74">0<span class="css-hfgifi ea1mry72">원</span></span></div>
                        <div class="css-7ygxxm eepcpbj4"><span class="css-vmo0an eepcpbj3">결제예정금액</span>
                            <span class="css-da7gr8 eepcpbj2">
                                <strong class="css-xmbce4 eepcpbj0">0</strong>
                                <span class="css-aro4zf eepcpbj1">원</span>
                            </span>
                        </div>
                    </div>
                    <div class="css-8qz8ia e1mybczi1">
                        <button class="css-fwelhw e4nu7ef3" type="button" disabled="" height="56" radius="3"><span
                                class="css-ymwvow e4nu7ef1">상품을 담아주세요</span></button>
                        <ul class="css-19kxq7d">
                            <li class="css-7s0nna ejr204i0">[주문완료] 상태일 경우에만 주문 취소 가능합니다.</li>
                            <li class="css-7s0nna ejr204i0">[마이컬리 &gt; 주문내역 상세페이지] 에서 직접 취소하실 수 있습니다.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer 시작 -->
    <footer th:replace="main/footer.html" :: f></footer>
    <!-- footer 종료 -->

</body>

</html>