<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tr="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 상세보기</title>

    <link rel="stylesheet" href="/manager/css/memberView.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>

<body>


<div class="all_wrapper">
    <header>
        <div class="logo">DDAY</div>
        <hr/>
        <div class="go_to_site"><a href="">사이트 바로가기</a></div>
        <div class="list_wrapper">

            <details class="user_manage">
                <summary>
                    <div>회원관리</div>
                </summary>
                <ul class="manage">
                    <li><a href="#">&nbsp&nbsp&nbsp회원정보 조회</a></li>
                    <li><a href="#">&nbsp&nbsp&nbsp차단된 회원</a></li>
                </ul>
            </details>


        </div>
    </header>
    <main>


        <!-- main 주 내용 시작 -->
        <div class="user_lookup_wrapper">
            <div class="title" style="
              font-size: 25px;
              padding-bottom: 16px;
          "
            >회원정보 조회
            </div>

            <!-- 검색 조건 시작 -->

            <div class="input_form_wrapper">
                <form action="">
                    <table class="admin_input">
                        <tr:block th:each="memberDetail:${memberDetail}">
                            <!-- 1행 -->
                            <tr th:object="${memberDetail}">
                                <th scope="row">이름</th>
                                <td style="border-right: none;">
                                    <span th:text="*{memberName}">황재승</span>
                                </td>
                                <th scope="row" style="border-right: none;background: white;"></th>
                                <td></td>
                            </tr>

                            <tr th:object="${memberDetail}">
                                <th scope="row">아이디</th>
                                <td style="border-right: none;">
                                    <span th:text="*{memberId}">Hwang</span>
                                </td>
                                <th scope="row" style="border-right: none;background: white;"></th>
                                <td></td>
                            </tr>

                            <!-- 2행 -->
<!--                            <tr th:object="${memberDetail}">-->
<!--                                <th scope="row">주문금액</th>-->
<!--                                <td style="border-right: none;">-->
<!--                                    <span th:text="*{orderTotalAmount}">103,550원</span>-->
<!--                                </td>-->
<!--                                <th scope="row" style="border-right: none;background: white;"></th>-->
<!--                                <td></td>-->
<!--                            </tr>-->

                            <!-- 3행 -->
                            <tr th:object="${memberDetail}">
                                <th scope="row">이메일</th>
                                <td>
                                    <span th:text="*{memberEmail}">comeday7741@kakao.com</span>
                                </td>
                                <th scope="row">회원 구분</th>
                                <td>
                                    <span>일반회원</span>
                                </td>
                            </tr>

                            <!-- 4행 -->
                            <tr th:object="${memberDetail}">
                                <th scope="row">휴대폰번호</th>
                                <td>
                                    <span th:text="*{memberPhoneNumber}">01029487741</span>
                                </td>
                                <th scope="row">성별</th>
                                <td>
                                    <span>남자</span>
                                </td>
                            </tr>

                            <!-- 5행 -->
                            <tr>
                                <th scope="row">회원번호</th>
                                <td style="border-right: none;">
                                                 <span >부산광역시 서면 더샵 센트럴스타 A동 5003호</span>
                                </td>
                                <th scope="row" style="border-right: none;background: white;"></th>
                                <td></td>
                            </tr>

                            <tr th:object="${memberDetail}">
                                <th scope="row">가입날짜</th>
                                <td style="border-right: none;">
                                    <span th:text="*{memberSignupDate}">2022년 12월 5일</span>
                                </td>
                                <th scope="row" style="border-right: none;background: white;"></th>
                                <td></td>
                            </tr>
                        </tr:block>

                    </table>
                </form>


                <!-- 페이지 이동 버튼 -->


            </div>
        </div>

    </main>
</body>
</html>