<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tr="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체 회원 관리</title>

    <link rel="stylesheet" href="/manager/css/button.css">
    <link rel="stylesheet" href="/manager/css/table.css">
    <link rel="stylesheet" href="/manager/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>
<body>
<div class="all_wrapper">
    <header>
        <div class="logo" style="color: white;">DDay</div>
        <div class="go_to_site" style="color: white;"><a href="">사이트 바로가기</a></div>
        <div class="list_wrapper">
            <details class="user_manage">
                <summary>
                    <div style="position: absolute; left: 80px; top: 140px; color: white; font-weight: 600;" >회원관리</div>

                </summary>
                <ul class="manage">
                    <li><a href="#">&nbsp&nbsp&nbsp회원정보 조회</a></li>
                    <li><a href="#">&nbsp&nbsp&nbsp차단된 회원</a></li>
                </ul>
            </details>

    </header>
    <main>



        <!-- main 주 내용 시작 -->
        <div class="user_lookup_wrapper">
            <div class="title" style="position: absolute;left: 762px;z-index: 999;font-size: 30px;">회원정보 조회</div>


            <!-- 검색 조건 시작 -->

            <div class="input_form_wrapper">
                <form action="">
                    <div class="fasfa">
                        <img src="/manager/images/search.png" style="
    width: 20px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 79px;
">
                        <img src="/manager/images/keyboard.png" style="
    width: 26px;
    height: 26px;
    position: absolute;
    left: 584px;
    top: 76px;
">
                        <i class="fas fa-search"></i>
                        <input class="searchWrap" type="text" placeholder="아이디 혹은 이름으로 검색해주세요." onkeypress="show_name(event)">

                        <i class="fas fa-keyboard"></i>
                        <span style="color:#4f86ec"><i class="fas fa-microphone" ></i>
                    </div>



                </form>
            </div>

            <div class="result_wrapper">
                <div class="result_table_title">조회 결과</div>

                <table class="result_table">
                    <thead>
                    <tr>
                        <th scope="cols">회원번호</th>
                        <th scope="cols">회원명</th>
                        <th scope="cols">아이디</th>
                        <th scope="cols">가입일자</th>
                        <th scope="cols">적립금</th>
                        <th scope="cols">주문상품건수</th>
                        <th scope="cols">주문금액</th>
                        <th scope="cols">회원상세보기</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr:block id="keyword" th:each="memberInfo:${memberInfo}">

                        <tr th:object="${memberInfo}">
                        <th th:text="*{memberNumber}" scope="row">유저1</th>
                        <td th:text="*{memberName}">이종호</td>
                        <td th:text="*{memberId}">caMelodain</td>
                        <td th:text="*{memberSignupDate}">abcabc@gmail.com</td>
                        <td th:text="*{pointPrice}">서울시</td>
                        <td th:text="*{orderNumber}">서울시</td>
                        <td th:text="*{orderTotalAmount}">서울시</td>
                        <td><a style="color: #2979ff" th:href="*{memberNumber}">회원상세보기</a></td>
                        </tr>
                    </tr>

                    </tbody>
                </table>

                <!-- 페이지 이동 버튼 -->
<!--                <div class="change_page">-->
<!--                    <button>[1]</button>-->
<!--                    <button>[2]</button>-->
<!--                    <button>[3]</button>-->
<!--                    <button>[4]</button>-->
<!--                </div>-->

            </div>
        </div>

    </main>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="/manager/js/manager.js"></script>
<script>

    function show_name(e) {
        // e.preventDefault();
        if(e.keyCode == 13){
            alert("dd");
            console.log("들어옴");
            let memberId = $("input.searchWrap").val()
            console.log(memberId);
            $.ajax({
                url: "/manager/memberAllBy",
                type: "post",
                data: {memberId: memberId},
                success: function (result) {
                    text +=   ' <tbody>'
                    text +=   '<tr:block id="keyword" th:each="memberInfo:${memberInfo}">'
                    text +=   '<tr th:object="${memberInfo}">'
                    text +=   '<th th:text="*{memberNumber}" scope="row">유저1</th>'
                    text +=   ' <td th:text="*{memberName}">이종호</td>'
                    text +=   '  <td th:text="*{memberId}">caMelodain</td>'
                    text +=   ' <td th:text="*{memberSignupDate}">abcabc@gmail.com</td>'
                    text +=   '<td th:text="*{pointPrice}">서울시</td>'
                    text +=   ' <td th:text="*{orderNumber}">서울시</td>'
                    text +=   '<td th:text="*{orderTotalAmount}">서울시</td>'
                    text +=   '<td><a style="color: #2979ff" th:href="*{memberNumber}">회원상세보기</a></td>'
                    text +=   '</tr>'
                    text +=   '</tr>'
                    text +=   '</tbody>'
                },
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }

            })

        }
    }


</script>
</html>