<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파트너 페이지</title>
    <link rel="stylesheet" href="/partner/css/partner.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/partner/css/partnerManagement.css">
<link rel="stylesheet" href="/partner/css/partner_footer.css">

</head>
<body>
<header th:replace="partner/header.html" :: ph></header>
    <div id="container-wrap" class="container-wrap">
        <div id="container" class="row">
            <div id="content-wrap">

                <!--주요 현황-->
                <div class="main-layout main-content reform">
                    <body class="base main-statistics layout-no-iframe menu-no-border">
                        <div class="main-statistics main-content reform mg0 pd0">
                            <div class="content-main">
                                <div class="main-section" id="presentationSection">
                                    <div class="table-title">
                                        <span class="">판매 관리</span>
                                    </div>
                                    <div class="statics-box reform">
                                        <div class="nav-tabs-top">
                                            <ul class="nav nav-tabs tab-fluid-5" id="presentationMainTab" role="tablist" data-period ="30">
                                                <li role="presentation" class="" data-name="sales">
                                                    <a href="/partner/html/partner_change_info.html" role="tab" data-toggle="tab"><h2>정보 수정</h2>
                                                        <img class="js-period-icon" src="">
                                                    </a>
                                                </li>
                                                <li role="presentation" class="" data-name="order">
                                                    <a href="/partner/html/partner_registration.html" role="tab" data-toggle="tab" aria-expanded="false"><h2>제품 등록</h2>
                                                        <img class="js-period-icon" src="">
                                                     </a>
                                                </li>
                                                <li role="presentation" class="active" data-name="visit">
                                                    <a href="/partner/html/partner_management.html" role="tab" data-toggle="tab" aria-expanded="false"><h2>판매 관리</h2>
                                                        <img class="js-period-icon" src="">
                                                    </a>
                                                </li>
                                                <li role="presentation" class="" data-name="member">
                                                    <a href="/partner/html/partner_shipping.html" role="tab" data-toggle="tab" aria-expanded="false"><h2>배송 관리</h2>
                                                        <img class="js-period-icon" src="">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </body>
                </div>
                
                <div class="managementBox">
                    <div class="managementTitle">
                        <h3>판매 관리</h3>
                    </div>
                    <div class="availableList">
                        <p>판매중인 상품리스트</p>
                        <table border="1" class="availableTable">
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>이미지</th>
                                    <th>상품명</th>
                                    <th>판매가</th>
                                    <th>재고</th>
                                    <th>등록일/수정일</th>
                                    <th>수정</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><img src="" alt=""></td>
                                    <td class="productName">[유통기한2022.12.29]루스타 영양강화 강력밀가루 20kg</td>
                                    <td>24,600원</td>
                                    <td>12</td>
                                    <td>
                                        <p>2022-11-16</p>
                                        <p>2022-11-16</p>
                                    </td>
                                    <td>
                                        <input type="button" class="productChangeButton"  value="수정">
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><img src="" alt=""></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td> <input type="button" class="productChangeButton"  value="수정"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><img src="" alt=""></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td> <input type="button" class="productChangeButton"  value="수정"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><img src="" alt=""></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td> <input type="button" class="productChangeButton"  value="수정"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><img src="" alt=""></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td> <input type="button" class="productChangeButton"  value="수정"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><img src="" alt=""></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td> <input type="button" class="productChangeButton"  value="수정"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><img src="" alt=""></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td> <input type="button" class="productChangeButton"  value="수정"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><img src="" alt=""></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td> <input type="button" class="productChangeButton"  value="수정"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><img src="" alt=""></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td> <input type="button" class="productChangeButton"  value="수정"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><img src="" alt=""></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td> <input type="button" class="productChangeButton"  value="수정"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><img src="" alt=""></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td> <input type="button" class="productChangeButton"  value="수정"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><img src="" alt=""></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td> <input type="button" class="productChangeButton"  value="수정"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><img src="" alt=""></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td> <input type="button" class="productChangeButton"  value="수정"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><img src="" alt=""></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td> <input type="button" class="productChangeButton"  value="수정"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><img src="" alt=""></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td> <input type="button" class="productChangeButton"  value="수정"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><img src="" alt=""></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td> <input type="button" class="productChangeButton"  value="수정"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><img src="" alt=""></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td> <input type="button" class="productChangeButton"  value="수정"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><img src="" alt=""></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td> <input type="button" class="productChangeButton"  value="수정"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btnContent">
                            <div class="pagination" id="pagination">페이지 영역</div>
                    </div>


                    <!--<div class="returnList">
                        <p>반품리스트</p>
                        <table border="1" class="returnTable">
                            <th>번호</th>
                            <th>주문일시</th>
                            <th>반품신청일</th>
                            <th>주문자</th>
                            <th>주문번호</th>
                            <th>주문상품</th>
                            <th>수량</th>
                            <th>상품금액</th>
                            <th>사유</th>
                            <tr>
                                <td>2</td>
                                <td>
                                    <p class="date buyDate">2022-11-04</p>
                                    <p class="time buyTime">01:32</p>
                                </td>
                                <td>
                                    <p class="date returnDate">2022-11-07</p>
                                    <p class="time returnTime">17:09</p>
                                </td>
                                <td>
                                    <p class="memberName">정주연</p>
                                    <p class="memberId">(jjy3730/일반회원)</p>
                                </td>
                                <td>2211040132183082</td>
                                <td>70 원형팬 초미니(100*70)</td>
                                <td>1</td>
                                <td>3000원</td>
                                <td>상품불량</td>
                            </tr>
                        </table>
                    </div>
                    <div class="cancelList">
                        <p>취소리스트</p>
                        <table border="1" class="cancelTable">
                            <th>번호</th>
                            <th>이미지</th>
                            <th>상품명</th>
                            <th>판매가</th>
                            <th>삭제일</th>
                            <tr>
                                <td>1</td>
                                <td><img src="" alt=""></td>
                                <td class="productName">[유통기한2022.12.29]루스타 영양강화 강력밀가루 20kg</td>
                                <td>24,600원</td>
                                <td>
                                    2022-11-16
                                </td>
                            </tr>
                            </table>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
<footer th:replace="partner/footer.html" :: pf></footer>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/partner/js/partner.js"></script>
<script>
    $('input.productChangeButton').on("click",function(){
        console.log('들어왔어요');
        $(location).attr('href', '/partner/html/partnerProductChange.html');
    });
</script>
</body>
</html>