<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파트너 페이지</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/partner/css/change.css">
    <link rel="stylesheet" href="/partner/css/partner.css">
    <link rel="stylesheet" href="/partner/css/calendar.css">
    <link rel="stylesheet" href="/partner/css/partnermain.css">
    <link rel="stylesheet" href="/partner/css/partnerManagement.css">
    <link rel="stylesheet" href="/partner/css/partner_footer.css">
</head>
<body>
    <div id="container-wrap" class="container-wrap">
            <div id="content-wrap">

                <div id="header" class="col-xs-12">
                    <nav class="navbar">
                        <div class="container">
                            <div class="navbar-inner" style="margin-right: 0px;">
                                <div class="collapse navbar-collapse">
                                    <ul class="nav navbar-nav reform">
                                        <li class="">
                                            <a href="/partner/partner_change_info" id="menu_policy" style="width:97.083333333333px;">정보수정</a>
                                        </li>
                                        <li class="">
                                            <a href="/partner/partner_registration" id="menu_goods" style="width:97.083333333333px;">제품등록</a>
                                        </li>
                                        <li class="">
                                            <a href="/partner/partner_management" id="menu_order" style="width:97.083333333333px;">판매관리</a>
                                        </li>
                                        <li class="">
                                            <a href="/partner/partner_shipping" id="menu_member" style="width:97.083333333333px;">배송관리</a>
                                        </li>
                                </div>
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="#"></a>
                                </div>
                                <div class="gnb">
                                    <ul class="list-inline">
                                        <li class="no-bar">
                                            <div class="dropdown">
                                                <!-- header -->
                                                <a href="#" class="dropdown-toggle gnb-idinfo" id="headerSubMenuManager" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                                                    <span>판매자</span>님 (
                                                    <span>wanted</span> )
                                                    <span>로그아웃</span>
                                                </a>
                                                <ul class="dropdown-menu gnb-dropdown-menu" aria-labelledby="headerSubMenuManager">
                                                    <li class="dropdown-item"><a href="#">판매자 정보</a></li>
                                                    <!--운영자 마이페이지-->
                                                    <li class="dropdown-item"><a href="#">로그아웃</a></li>
                                                    <!-- 로그 아웃-->
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>

                <!--주요 현황-->
                <div class="main-layout main-content reform">
                    <div class="greetingBox"><p>파트너님</p> <p>어서오세요!</p></div>
                    <div class="main-statistics main-content reform mg0 pd0">
                        <div class="content-main">
                                <div class="row">
                                    <div class="col-xs-8">
                                                        <!-- 주문 관리 내용 시작 -->
                                                        <!-- 주문관리 -->
                                        <div class="main-section order-management">

                                            <div class="table-title btm-line">
                                                <span class="gd-help-manual"><h3>주문 관리</h3></span>
                                            </div>
                                            <div class="main-section-inner">
                                                <ol class="content order list-unstyled reform">
                                                    <li class="active">
                                                        <a href="/partner/partner_management">
                                                            <span class="status">당일판매</span>
                                                            <div class="order-list-val">1</div>
                                                        </a>
                                                    </li>

                                                    <li class="active">
                                                        <a href="/partner/partner_shipping">
                                                            <span class="status">상품준비중</span>
                                                            <div class="order-list-val">2</div>
                                                        </a>
                                                    </li>
                                                </ol>
                                                    <ol class="content order list-unstyled reform">
                                                    <li class="active">
                                                        <a href="/partner/partner_shipping">
                                                            <span class="status">배송중</span>
                                                            <div class="order-list-val">217</div>
                                                        </a>
                                                    </li>
                                                    <li class="active">
                                                        <a href="/partner/partner_shipping">
                                                            <span class="status">배송완료</span>
                                                            <div class="order-list-val">459</div>
                                                        </a>
                                                    </li>
                                                </ol>
                                                <!--<ol class="content order list-unstyled reform">
                                                    <li class="active">
                                                        <a href="">
                                                            <span class="status">배송완료</span>
                                                            <div class="order-list-val">459</div>
                                                        </a>
                                                    </li>
                                                    <li class="active">
                                                        <a href="">
                                                            <span class="status">구매확정</span>
                                                            <div class="order-list-val">142</div>
                                                        </a>
                                                    </li>
                                                    <li class="">
                                                        <a href="">
                                                            <span class="status">교환접수</span>
                                                            <div class="order-list-val">0</div>
                                                        </a>
                                                    </li>
                                                    <li class="">
                                                        <a href="">
                                                            <span class="status">환불접수</span>
                                                            <div class="order-list-val">0</div>
                                                        </a>
                                                    </li>
                                                </ol>-->
                                            </div>
                                            <div class="clear-both"></div>
                                        </div>
                                        <!-- 주문 관리 내용 끝 -->
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                    </div>
                                </div>
                        </div>
                    </div>
                    </div>
                <!--<div class="managementBox">
                    <div class="managementTitle">
                        <h3>판매 관리</h3>
                    </div>
                    <div class="availableList">
&lt;!&ndash;                        <p>판매중인 상품리스트</p>&ndash;&gt;
                        <table border="1" class="availableTable">
                            <th>번호</th>
                            <th>이미지</th>
                            <th>상품명</th>
                            <th>판매가</th>
                            <th>재고</th>
                            <th>등록일/수정일</th>
                            <th>수정</th>
                            <tr>
                                <td>1</td>
                                <td><img src="" alt=""></td>
                                <td class="productName">[유통기한2022.12.29]루스타 영양강화 강력밀가루 20kg</td>
                                <td>24,600원</td>
                                <td>12</td>
                                <td>
                                    <p>2022-11-16</p>
                                    <p>2022-11-16</p>
                                </td>
                                <td>
                                    <input type="button" class="productChangeButton"  value="수정">
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><img src="" alt=""></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td> <input type="button" class="productChangeButton"  value="수정"></td>
                            </tr>
                        </table>
                    </div>

                </div>-->

                <div class="partnerNoticeBox">
                    <h2>파트너 플랫폼 이용안내</h2>
                    <p>고객센터 : 1111 - 1111</p>
                    <ul>
                        <li>- 파트너 플랫폼에 오신 것을 환영합니다.</li>
                        <li>- 파트너 플랫폼에서는 주문상세정보 등을 확인할 수 있습니다.</li>
                        <li>- 파트너 플랫폼에서 처리하시는 고객 개인정보(성명 연락처 등)는 반드시 주문처리활용을 목적으로만 사용해주시길 바람니다.
                        주문처리활용 목적 외로 개인정보 활용 또는 외부로 개인정보를 유출 하실 수 없습니다.</li>
                        <li>- 관련 법령에 의거 배송왼료가 된 후에는 고객 개인정보가 마스킹 처리됩니다.</li>
                        <li>- 관련 법령에 의거 파트너로 승인된 사용자만이 사용가능합니다.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<footer th:replace="partner/footer.html" :: pf></footer>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="bootstrap-dialog-header">
                    <div class="bootstrap-dialog-close-button" style="display: block;">
                        <button class="close">
                            ×</button>
                        </div>
                        <div class="bootstrap-dialog-title">일정관리</div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="bootstrap-dialog-body">
                        <div class="bootstrap-dialog-message">
                            <div id="layer-wrap">
                                <form id="frmReg" name="frmReg" action="../base/schedule_ps.php" method="post" novalidate="novalidate">
                                    <input type="hidden" name="mode" value="add">
                                    <input type="hidden" name="scdDt" value="2022-11-20">
                                    <div class="schedule-icon-title">
                                        <div class="pdl30">
                                            <span class="date-text">2022-11-20            
                                                <span>
                                                    <span style="color: #f91d11;font-weight: bold">0건</span>의 일정이 있습니다.
                                                </span>
                                            </span>
                                            <span class="pull-right pdl5 pdt5"> 
                                            </span>
                                        </div>
                                    </div>
                                    <table class="table table-rows table-fixed" id="sch-content" style="border : 0px;">
                                        <colgroup>
                                            <col width="87%"></col>
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <td style="padding-left:0px">
                                                    <input type="hidden" mode="sno[]" value="">
                                                    <textarea name="contents[]" style="min-width: 507px; max-width: 507px;"></textarea>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-center" style="padding: 20px 0 25px 0;border-top: 1px solid #e6e6e6">
                                        <button type="submit" class="btn btn-xl btn-black">저장</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="display: none;">
                    <div class="bootstrap-dialog-footer">
                    </div>
                </div>
            </div>
        </div>
</div>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="/partner/js/calendar.js"></script>
    <script>
      $(".btn-link").click("on", function(i, v){
        $(".modal-dialog").css("display", "block");
    })
    $(".close").click("on", function(i, v){
        $(".modal-dialog").css("display", "none");
    })  
    </script>
</body>
</html>