<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div class="frugal-shopping banner-title"  th:fragment="fsb">
    <div class="today-product-title">
        <div class="today-product-big-title">
            <span class="today-product-span">알뜰 쇼핑</span>
        </div>
    </div>
    <div class="today-product-image-link">
        <div class="swiper-container-todayProduct" style="overflow: hidden;">
            <div class="swiper-wrapper">
                <a href="#;" class="swiper-slide" style="display: flex;">
                    <div style="width: 249px; margin-right: 18px;">
                        <div class="today-product">
                            <div class="today-product-image product-hidden">
                                <img src="https://product-image.kurly.com/cdn-cgi/image/width=400,format=auto/product/image/21704a23-582c-4710-8349-2f8ad9ebb32f.jpg" alt="상품 이미지" loading="lazy">
                                <div>
                                    <button type="button" class="mainCart button-absolute">
                                        <img src="/main/images/main/cart.png" width="45px" height="45px"  alt="장바구니 아이콘">
                                    </button>
                                </div>
                            </div>
                            <div class="product-info product-info-header">
                                <h3 class="product-name">스마일 만쥬</h3>
                                <div class="content-row">
                                    <div class="product-price">
                                        <span class="sales-price css-18tpqqq">5,900
                                            <span class="won"> 원</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 249px; margin-right: 18px;">
                        <div class="today-product">
                            <div class="today-product-image product-hidden">
                                <img src="https://product-image.kurly.com/cdn-cgi/image/width=400,format=auto/product/image/cf207454-e42f-41b3-b525-0cf1b8db4952.jpg" alt="상품 이미지" loading="lazy">
                                <div>
                                    <button type="button" class="mainCart button-absolute">
                                        <img src="/main/images/main/cart.png" width="45px" height="45px"  alt="장바구니 아이콘">
                                    </button>
                                </div>
                            </div>
                            <div class="product-info product-info-header">
                                <h3 class="product-name">[공유관] 국민 어포 빠사삭 80g X 2봉</h3>
                                <div class="content-row">
                                    <div class="product-price">
                                        <span class="sales-price css-18tpqqq">5,980
                                            <span class="won"> 원</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 249px; margin-right: 18px;">
                        <div class="today-product">
                            <div class="today-product-image product-hidden">
                                <img src="https://product-image.kurly.com/cdn-cgi/image/width=400,format=auto/product/image/11e5ecab-41b4-4fe2-be1f-2872f94ae337.jpg" alt="상품 이미지" loading="lazy">
                                <div>
                                    <button type="button" class="mainCart button-absolute">
                                        <img src="/main/images/main/cart.png" width="45px" height="45px"  alt="장바구니 아이콘">
                                    </button>
                                </div>
                            </div>
                            <div class="product-info product-info-header">
                                <h3 class="product-name">[델리치오] 호주산 목초육 안심 스테이크 250g (냉장)</h3>
                                <div class="content-row now-price">
                                    <div class="product-price">
                                        <span class="discount-rate discount-orange">7%</span>
                                        <span class="sales-price css-18tpqqq">3,534 원
                                    </div>
                                    <span class="dimmed-price css-18tpqqq ei5rudb1">3,800<span class="won"> 원</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 249px; margin-right: 18px;">
                        <div class="today-product">
                            <div class="today-product-image product-hidden">
                                <img src="https://product-image.kurly.com/cdn-cgi/image/width=400,format=auto/product/image/b5bcaf56-72bb-432f-9769-089aa6b43287.jpg" alt="상품 이미지" loading="lazy">
                                <div>
                                    <button type="button" class="mainCart button-absolute">
                                        <img src="/main/images/main/cart.png" width="45px" height="45px"  alt="장바구니 아이콘">
                                    </button>
                                </div>
                            </div>
                            <div class="product-info product-info-header">
                                <h3 class="product-name">[현대데코] 크리스마스 트리전구세트 3종</h3>
                                <div class="content-row now-price">
                                    <div class="product-price">
                                        <span class="discount-rate discount-orange">23%</span>
                                        <span class="sales-price css-18tpqqq">29,900 원~
                                    </div>
                                    <span class="dimmed-price css-18tpqqq ei5rudb1">39,000<span class="won"> 원~</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#;" class="swiper-slide" style="display: flex;">
                    <div style="width: 249px; margin-right: 18px;">
                        <div class="today-product">
                            <div class="today-product-image product-hidden">
                                <img src="https://img-cf.kurly.com/cdn-cgi/image/width=400,format=auto/shop/data/goods/1651455844958l0.jpg" alt="상품 이미지" loading="lazy">
                                <div>
                                    <button type="button" class="mainCart button-absolute">
                                        <img src="/main/images/main/cart.png" width="45px" height="45px"  alt="장바구니 아이콘">
                                    </button>
                                </div>
                            </div>
                            <div class="product-info product-info-header">
                                <h3 class="product-name">검정콩가루 500g</h3>
                                <div class="content-row">
                                    <div class="product-price">
                                        <span class="sales-price css-18tpqqq">13,900
                                            <span class="won"> 원</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 249px; margin-right: 18px;">
                        <div class="today-product">
                            <div class="today-product-image product-hidden">
                                <img src="https://img-cf.kurly.com/cdn-cgi/image/width=400,format=auto/shop/data/goods/1651455844958l0.jpg" alt="상품 이미지" loading="lazy">
                                <div>
                                    <button type="button" class="mainCart button-absolute">
                                        <img src="/main/images/main/cart.png" width="45px" height="45px"  alt="장바구니 아이콘">
                                    </button>
                                </div>
                            </div>
                            <div class="product-info product-info-header">
                                <h3 class="product-name">검정콩가루 500g</h3>
                                <div class="content-row">
                                    <div class="product-price">
                                        <span class="sales-price css-18tpqqq">13,900
                                            <span class="won"> 원</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 249px; margin-right: 18px;">
                        <div class="today-product">
                            <div class="today-product-image product-hidden">
                                <img src="https://img-cf.kurly.com/cdn-cgi/image/width=400,format=auto/shop/data/goods/1651455844958l0.jpg" alt="상품 이미지" loading="lazy">
                                <div>
                                    <button type="button" class="mainCart button-absolute">
                                        <img src="/main/images/main/cart.png" width="45px" height="45px"  alt="장바구니 아이콘">
                                    </button>
                                </div>
                            </div>
                            <div class="product-info product-info-header">
                                <h3 class="product-name">검정콩가루 500g</h3>
                                <div class="content-row">
                                    <div class="product-price">
                                        <span class="sales-price css-18tpqqq">13,900
                                            <span class="won"> 원</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 249px; margin-right: 18px;">
                        <div class="today-product">
                            <div class="today-product-image product-hidden">
                                <img src="https://img-cf.kurly.com/cdn-cgi/image/width=400,format=auto/shop/data/goods/1651455844958l0.jpg" alt="상품 이미지" loading="lazy">
                                <div>
                                    <button type="button" class="mainCart button-absolute">
                                        <img src="/main/images/main/cart.png" width="45px" height="45px"  alt="장바구니 아이콘">
                                    </button>
                                </div>
                            </div>
                            <div class="product-info product-info-header">
                                <h3 class="product-name">검정콩가루 500g</h3>
                                <div class="content-row">
                                    <div class="product-price">
                                        <span class="sales-price css-18tpqqq">13,900
                                            <span class="won"> 원</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Add Pagination -->
            <!-- Add Arrows -->
            <button type="button" class="swiper-button-next today-product-button"></button>
            <button type="button" class="swiper-button-prev today-product-button"></button>
        </div>
    </div>

    <!--                  -->
</div>
</body>
</html>

