<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div class="fruitBanner banner-title" th:fragment="fb">
    <div class="today-product-title">
        <div class="today-product-big-title">
            <span class="today-product-span">못난이 농/수산물</span>
        </div>
    </div>
    <!--                  -->
    <div class="today-product-image-link">
        <div class="swiper-container-todayProduct" style="overflow: hidden;">
            <div class="swiper-wrapper">
                <a href="#" class="swiper-slide" style="display: flex;">
                    <div onclick="location.href=('')" style="width: 249px; margin-right: 18px;">
                        <div class="today-product">
                            <div class="today-product-image product-hidden">
                                <img src="https://img-cf.kurly.com/cdn-cgi/image/width=400,format=auto/shop/data/goods/1578618355611l0.jpg" alt="상품 이미지" loading="lazy">
                                <div>
                                    <button type="button" class="today-product-button button-absolute">
                                        <img src="/main/image/main/cart.png" width="45px" height="45px"  alt="장바구니 아이콘">
                                    </button>
                                </div>
                            </div>
                            <div class="product-info product-info-header">
                                <h3 class="product-name">검정콩가루 500g</h3>
                                <div class="content-row">
                                    <div class="product-price">
                                                <span class="sales-price css-18tpqqq">13,900
                                                    <span class="won"> 원</span>
                                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div onclick="location.href=('')" style="width: 249px; margin-right: 18px;">
                        <div class="today-product">
                            <div class="today-product-image product-hidden">
                                <img src="https://img-cf.kurly.com/cdn-cgi/image/width=400,format=auto/shop/data/goods/1653038544220l0.jpeg" alt="상품 이미지" loading="lazy">
                                <div>
                                    <button type="button" class="today-product-button button-absolute">
                                        <img src="/main/image/main/cart.png" width="45px" height="45px"  alt="장바구니 아이콘">
                                    </button>
                                </div>
                            </div>
                            <div class="product-info product-info-header">
                                <h3 class="product-name">검정콩가루 500g</h3>
                                <div class="content-row">
                                    <div class="product-price">
                                                <span class="sales-price css-18tpqqq">13,900
                                                    <span class="won"> 원</span>
                                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div onclick="location.href=('')" style="width: 249px; margin-right: 18px;">
                        <div class="today-product">
                            <div class="today-product-image product-hidden">
                                <img src="https://img-cf.kurly.com/cdn-cgi/image/width=400,format=auto/shop/data/goods/1636608568753l0.jpg" alt="상품 이미지" loading="lazy">
                                <div>
                                    <button type="button" class="today-product-button button-absolute">
                                        <img src="/main/image/main/cart.png" width="45px" height="45px"  alt="장바구니 아이콘">
                                    </button>
                                </div>
                            </div>
                            <div class="product-info product-info-header">
                                <h3 class="product-name">검정콩가루 500g</h3>
                                <div class="content-row">
                                    <div class="product-price">
                                                <span class="sales-price css-18tpqqq">13,900
                                                    <span class="won"> 원</span>
                                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div onclick="location.href=('')" style="width: 249px; margin-right: 18px;">
                        <div class="today-product">
                            <div class="today-product-image product-hidden">
                                <img src="https://product-image.kurly.com/cdn-cgi/image/width=400,format=auto/product/image/e3b794fd-11af-447d-9c21-a28345d2aa33.jpg" alt="상품 이미지" loading="lazy">
                                <div>
                                    <button type="button" class="today-product-button button-absolute">
                                        <img src="/main/image/main/cart.png" width="45px" height="45px"  alt="장바구니 아이콘">
                                    </button>
                                </div>
                            </div>
                            <div class="product-info product-info-header">
                                <h3 class="product-name">검정콩가루 500g</h3>
                                <div class="content-row">
                                    <div class="product-price">
                                                <span class="sales-price css-18tpqqq">13,900
                                                    <span class="won"> 원</span>
                                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="swiper-slide" style="display: flex;">
                    <div onclick="location.href=('')" style="width: 249px; margin-right: 18px;">
                        <div class="today-product">
                            <div class="today-product-image product-hidden">
                                <img src="https://img-cf.kurly.com/cdn-cgi/image/width=400,format=auto/shop/data/goods/1651455844958l0.jpg" alt="상품 이미지" loading="lazy">
                                <div>
                                    <button type="button" class="today-product-button button-absolute">
                                        <img src="/main/image/main/cart.png" width="45px" height="45px"  alt="장바구니 아이콘">
                                    </button>
                                </div>
                            </div>
                            <div class="product-info product-info-header">
                                <h3 class="product-name">검정콩가루 500g</h3>
                                <div class="content-row">
                                    <div class="product-price">
                                                <span class="sales-price css-18tpqqq">13,900
                                                    <span class="won"> 원</span>
                                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div onclick="location.href=('')" style="width: 249px; margin-right: 18px;">
                        <div class="today-product">
                            <div class="today-product-image product-hidden">
                                <img src="https://img-cf.kurly.com/cdn-cgi/image/width=400,format=auto/shop/data/goods/1651455844958l0.jpg" alt="상품 이미지" loading="lazy">
                                <div>
                                    <button type="button" class="today-product-button button-absolute">
                                        <img src="/main/image/main/cart.png" width="45px" height="45px"  alt="장바구니 아이콘">
                                    </button>
                                </div>
                            </div>
                            <div class="product-info product-info-header">
                                <h3 class="product-name">검정콩가루 500g</h3>
                                <div class="content-row">
                                    <div class="product-price">
                                                <span class="sales-price css-18tpqqq">13,900
                                                    <span class="won"> 원</span>
                                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div onclick="location.href=('')" style="width: 249px; margin-right: 18px;">
                        <div class="today-product">
                            <div class="today-product-image product-hidden">
                                <img src="https://img-cf.kurly.com/cdn-cgi/image/width=400,format=auto/shop/data/goods/1651455844958l0.jpg" alt="상품 이미지" loading="lazy">
                                <div>
                                    <button type="button" class="today-product-button button-absolute">
                                        <img src="/main/image/main/cart.png" width="45px" height="45px"  alt="장바구니 아이콘">
                                    </button>
                                </div>
                            </div>
                            <div class="product-info product-info-header">
                                <h3 class="product-name">검정콩가루 500g</h3>
                                <div class="content-row">
                                    <div class="product-price">
                                                <span class="sales-price css-18tpqqq">13,900
                                                    <span class="won"> 원</span>
                                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div onclick="location.href=('')" style="width: 249px; margin-right: 18px;">
                        <div class="today-product">
                            <div class="today-product-image product-hidden">
                                <img src="https://img-cf.kurly.com/cdn-cgi/image/width=400,format=auto/shop/data/goods/1651455844958l0.jpg" alt="상품 이미지" loading="lazy">
                                <div>
                                    <button type="button" class="today-product-button button-absolute">
                                        <img src="/main/image/main/cart.png" width="45px" height="45px"  alt="장바구니 아이콘">
                                    </button>
                                </div>
                            </div>
                            <div class="product-info product-info-header">
                                <h3 class="product-name">검정콩가루 500g</h3>
                                <div class="content-row">
                                    <div class="product-price">
                                                <span class="sales-price css-18tpqqq">13,900
                                                    <span class="won"> 원</span>
                                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Add Pagination -->
            <!-- Add Arrows -->
            <button type="button" class="swiper-button-next today-product-button"></button>
            <button type="button" class="swiper-button-prev today-product-button"></button>
        </div>
    </div>
    <!--                  -->
</div>
</body>
</html>