<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script>
        function fn_search() {
            alert("212");
            if($("#searchPage")!= null){
                alert(1);
                document.searchForm.submit();
                $.ajax({
                    type:"GET",
                    url:"/search/search",
                    data: $("name[keyword]").serialize(),
                    dataType:"JSON",
                    success: function(data){
                        console.log("통신성공");
                        alert("통신성공")
                        var productName = $("#gnb_search").val();
                        console.log(productName);
                    },
                    error:function(){
                        console.log("통신에러");
                    }
                })
                alert(2);
                return ;
            }

        }
    </script>
</head>
<body>
<header th:fragment="h">
    <div id="header">
        <div class="header">
            <div class="searchbar">
                <div class="loginbar">
                    <a class="join" href="/member/join">회원가입</a>
                    <div class="barbar"></div>
                    <a class="login lobo" href="/member/login">로그인</a>
                    <div class="barbar"></div>
                    <div class="service_centor">
                        <a class="service lobo css-over" href="/faq/list">고객센터</a>
                    </div>
                </div>
                <!-- 로그인바 종료-->
                <div class="subsearchbar">
                    <div class="logo"> <!--onclick="location.href='/'"-->
                        <img src="/main/images/banner/logo-대체.webp" alt="마켓컬리 로고" class="main-logo e1s3pt0j0">
                        <button class="active purple text1010">D-Day</button>
                    </div>
                    <!--검색창-->
                    <form name="searchForm" onsubmit="return false" action="/search/search"><!--action="/page/page.do"-->
                        <div class="hiddenlogo">
                            <div class="mainsearchbar">
                                <input id="gnb_search" name="keyword" placeholder="검색어를 입력해주세요" required="" class="searchbar-title" value="">
                                <button id="btn_search" aria-label="submit" class="searchbar-search" name="searchBtn" onclick="fn_search()">
                                    <img src="/main/images/main/search.png" class="search-image">
                                </button>
                            </div>
                        </div>
                    </form>
                    <!--검색창-->
                    <div class="hiddenlogo">
                        <div class="link-service">
                            <div class="css1-icon" onclick="location.href='/member/mypageDelivery'"></div>
                            <button class="css2-icon" aria-label="찜하기" type="button" onclick="location.href='/member/mypageLike'"></button>
                            <div class="css3-icon" onclick="location.href='/cart/list'">
                                <div>
                                    <div>
                                        <button class="shopping-basket"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trueheader">
                <div class="head-line">
                    <div>
                    </div>
                    <ul class="main-title">
                        <li class="main-subtitle">
                            <a href="/product/todayCategory"><span class="main-subsubtitle">당일 판매상품</span></a>
                        </li>
                        <li class="main-subtitle">
                            <a href="/product/newCategory"><span class="main-subsubtitle">신상품</span></a>
                        </li>
                        <li class="main-subtitle">
                            <a href="/product/bestCategory"><span class="main-subsubtitle">베스트</span></a>
                        </li>
                        <li class="main-subtitle">
                            <a href="/product/saleCategory"><span class="main-subsubtitle">대박 할인 상품</span></a>
                        </li>
                    </ul>
                    <div class="delivery-text-box">
                    </div>
                </div>
            </div>
            <div class="hiddenbar"></div>
        </div>
    </div>
</header>
</body>


</html>
