<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div type="LINE_BANNERS" class="line-banners"th:fragment="lb2">
        <div class="line-banners-padding">
            <a href="https://www.kurly.com/shop/event/kurlyEvent.php?htmid=event/2022/1117/kurlystmas/kurlystmas" class="line-banners-link">
                <img src="https://product-image.kurly.com/banner/random-band/pc/img/f617d40a-f366-499c-a2de-9c1db92ebc7f.jpg" alt="">
            </a>
        </div>
    </div>
</body>
</html>