<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div type="LINE_BANNERS" class="line-banners" th:fragment="lb1">
    <div class="line-banners-padding">
        <a href="https://www.kurly.com/shop/event/kurlyEvent.php?htmid=event/2022/1117/kurlystmas/kurlystmas" class="line-banners-link">
            <img src="/main/images/banner/lineBanner.png" alt="">
        </a>
    </div>
    </div>
</div>
</body>
</html>