<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="centorbody" th:fragment="mb">
    <div class="bannerStart">
        <!--메인 배너 시작-->
        <div class="main-banner">
            <div class="swiper-container-mySwiper">
                <div class="swiper-container-mySwiper">
                    <div class="swiper-wrapper" id="swiper-wrapper" aria-live="polite" style="transition-duration: 0ms; transform: translate3d(-1660px, 0px, 0px);">
                        <div class="swiper-slide" role="group" aria-label="1 / 5" style="width: 1050px;">
                            <img class="main-banner-image" src="https://product-image.kurly.com/cdn-cgi/image/format=auto/banner/main/pc/img/ae3a8cfa-2626-488a-bf58-e9dac2211728.jpg">
                        </div>
                        <div class="swiper-slide" role="group" aria-label="2 / 5" style="width: 1050px;">
                            <img class="main-banner-image" src="https://product-image.kurly.com/cdn-cgi/image/format=auto/banner/main/pc/img/e4bfb13c-0922-4f08-a3ac-a2742997fa67.jpg">
                        </div>
                        <div class="swiper-slide" role="group" aria-label="3 / 5" style="width: 1050px;">
                            <img class="main-banner-image" src="https://product-image.kurly.com/cdn-cgi/image/format=auto/banner/main/pc/img/ee9293f9-1144-4436-8903-baee402faa0f.jpg">
                        </div>
                        <div class="swiper-slide" role="group" aria-label="4 / 5" style="width: 1050px;">
                            <img class="main-banner-image" src="https://product-image.kurly.com/cdn-cgi/image/format=auto/banner/main/pc/img/4cf2b3be-d018-4c7e-a9b0-0d7cf5bed76f.jpg">
                        </div>
                        <div class="swiper-slide" role="group" aria-label="5 / 5" style="width: 1050px;">
                            <img class="main-banner-image" src="https://product-image.kurly.com/cdn-cgi/image/format=auto/banner/main/pc/img/3c2e8166-0859-43ce-a114-8aae6b885f1b.jpg">
                        </div>
                    </div>
                    <div class="swiper-button-next" style="color: #5f0080;" tabindex="0" role="button" aria-label="다음 슬라이드" aria-controls="swiper-wrapper-1010cb2109cf5e0ef89" aria-disabled="false"></div>
                    <div class="swiper-button-prev" style="color: #5f0080;" tabindex="0" role="button" aria-label="이전 슬라이드" aria-controls="swiper-wrapper-1010cb2109cf5e0ef89" aria-disabled="false"></div>
                    <div class="swiper-pagination swiper-pagination-fraction swiper-pagination-horizontal mainbanner-text" style="left:auto">
                                <span class="swiper-pagination-current">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">1</font>
                                    </font>
                                </span>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;"> / </font>
                        </font>
                        <span class="swiper-pagination-total">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">5</font>
                            </font>
                        </span>
                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>