<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:div="http://www.thymeleaf.org"
      xmlns:tr="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="today-recommend-products banner-title" th:fragment="trpb">
    <div class="today-product-title">
        <div class="today-product-big-title">
            <span class="today-product-span">당일 유통기한 임박상품</span>
        </div>
    </div>
    <!--                  -->
    <div class="today-product-image-link">
        <div class="swiper-container-todayProduct" style="overflow: hidden;">
            <div class="swiper-wrapper">

                    <!--게시물1번-->
                    <tr:block th:each="mainProduct:${mainProduct}">
                        <tr th:object="${mainProduct}">
                    <div style="width: 249px; margin-right: 18px;">
                        <div class="today-product">
                            <div class="today-product-image product-hidden">
                                <a th:href="@{/product/todayCategoryDetail(productNumber=${mainProduct.productNumber})}">
                                <img th:text="*{productThumbnailName}" src="https://img-cf.kurly.com/cdn-cgi/image/width=400,format=auto/shop/data/goods/1594181922977l0.jpg" alt="상품 이미지" loading="lazy">
                                </a>
                                <div>
                                    <button type="button" class="mainCart button-absolute inputCart">
                                        <input type="hidden" class="productNumber" th:value="${mainProduct.productNumber}">
                                        <input type="hidden" id="productSalePrice" th:value="${mainProduct.productSalePrice}">
                                        <input type="hidden" id="productName" th:value="${mainProduct.productName}">
                                        <input type="hidden" id="productPrice" th:value="${mainProduct.productPrice}">
                                        <img src="/main/images/main/cart.png" width="45px" height="45px"  alt="장바구니 아이콘">
                                    </button>
                                </div>
                            </div>
                            <div class="product-info product-info-header">

                                <h3 th:text="*{productName}" class="product-name">[델리치오] 호주산 목초육 안심 스테이크 250g
                                    (냉장)</h3>

                                <div class="content-row now-price">
                                    <div class="product-price">
                                        <span class="discount-rate discount-orange" th:text="*{productSalePercent} + '%' ">25%</span>
                                        <span th:text="*{productSalePrice}+원" class="sales-price css-18tpqqq">13,900</span>
                                    </div>
                                    <span class="dimmed-price css-18tpqqq ei5rudb1" th:text="*{productPrice}">22,900
                                                <span class="won"> 원</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                        </tr>
                    </tr:block>
<!--                    &lt;!&ndash;게시물 2번&ndash;&gt;-->
<!--                    <div style="width: 249px; margin-right: 18px;">-->
<!--                        <div class="today-product">-->
<!--                            <div class="today-product-image product-hidden">-->
<!--                                <img src="https://img-cf.kurly.com/cdn-cgi/image/width=400,format=auto/shop/data/goods/1657614949985l0.jpg" alt="상품 이미지" loading="lazy">-->
<!--                                <div>-->
<!--                                    <button type="button" class="mainCart button-absolute">-->
<!--                                        <img src="/main/images/main/cart.png" width="45px" height="45px"  alt="장바구니 아이콘">-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="product-info product-info-header">-->
<!--                                <h3 class="product-name">[종가집] 담백한 나박김치 1.2kg</h3>-->
<!--                                <div class="content-row">-->
<!--                                    <div class="product-price">-->
<!--                                                <span class="sales-price css-18tpqqq">10,900-->
<!--                                                    <span class="won"> 원</span>-->
<!--                                                </span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div style="width: 249px; margin-right: 18px;">-->
<!--                        <div class="today-product">-->
<!--                            <div class="today-product-image product-hidden">-->
<!--                                <img src="https://product-image.kurly.com/cdn-cgi/image/width=400,format=auto/product/image/b7bf4efa-a0a6-46c0-9799-317dfd2731ab.jpg" alt="상품 이미지" loading="lazy">-->
<!--                                <div>-->
<!--                                    <button type="button" class="mainCart button-absolute">-->
<!--                                        <img src="/main/images/main/cart.png" width="45px" height="45px"  alt="장바구니 아이콘">-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="product-info product-info-header">-->
<!--                                <h3 class="product-name">[던킨도너츠] 달콤한 미니 필링 도넛 4종</h3>-->
<!--                                <div class="content-row">-->
<!--                                    <div class="product-price">-->
<!--                                                <span class="sales-price css-18tpqqq">7,470-->
<!--                                                    <span class="won"> 원</span>-->
<!--                                                </span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--            &lt;!&ndash; Add Pagination &ndash;&gt;-->
<!--                    <div style="width: 249px; margin-right: 18px;">-->
<!--                        <div class="today-product">-->
<!--                            <div class="today-product-image product-hidden">-->
<!--                                <img src="https://img-cf.kurly.com/cdn-cgi/image/width=400,format=auto/shop/data/goods/1515479447673l0.jpg" alt="상품 이미지" loading="lazy">-->
<!--                                <div>-->
<!--                                    <button type="button" class="mainCart button-absolute">-->
<!--                                        <img src="/main/images/main/cart.png" width="45px" height="45px"  alt="장바구니 아이콘">-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="product-info product-info-header">-->
<!--                                <h3 class="product-name">[섬죽] 삼계녹두죽</h3>-->
<!--                                <div class="content-row">-->
<!--                                    <div class="product-price">-->
<!--                                                <span class="sales-price css-18tpqqq">7,300-->
<!--                                                    <span class="won"> 원</span>-->
<!--                                                </span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </a>-->
<!--                <a href="#;" class="swiper-slide" style="display: flex;">-->
<!--                    <div style="width: 249px; margin-right: 18px;">-->
<!--                        <div class="today-product">-->
<!--                            <div class="today-product-image product-hidden">-->
<!--                                <img src="https://img-cf.kurly.com/cdn-cgi/image/width=400,format=auto/shop/data/goods/1651455844958l0.jpg" alt="상품 이미지" loading="lazy">-->
<!--                                <div>-->
<!--                                    <button type="button" class="mainCart button-absolute">-->
<!--                                        <img src="/main/images/main/cart.png" width="45px" height="45px"  alt="장바구니 아이콘">-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="product-info product-info-header">-->
<!--                                <h3 class="product-name">검정콩가루 100g</h3>-->
<!--                                <div class="content-row">-->
<!--                                    <div class="product-price">-->
<!--                                                <span class="sales-price css-18tpqqq">13,900-->
<!--                                                    <span class="won"> 원</span>-->
<!--                                                </span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div style="width: 249px; margin-right: 18px;">-->
<!--                        <div class="today-product">-->
<!--                            <div class="today-product-image product-hidden">-->
<!--                                <img src="https://img-cf.kurly.com/cdn-cgi/image/width=400,format=auto/shop/data/goods/1651455844958l0.jpg" alt="상품 이미지" loading="lazy">-->
<!--                                <div>-->
<!--                                    <button type="button" class="mainCart button-absolute">-->
<!--                                        <img src="/main/images/main/cart.png" width="45px" height="45px"  alt="장바구니 아이콘">-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="product-info product-info-header">-->
<!--                                <h3 class="product-name">검정콩가루 200g</h3>-->
<!--                                <div class="content-row">-->
<!--                                    <div class="product-price">-->
<!--                                                <span class="sales-price css-18tpqqq">13,900-->
<!--                                                    <span class="won"> 원</span>-->
<!--                                                </span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div style="width: 249px; margin-right: 18px;">-->
<!--                        <div class="today-product">-->
<!--                            <div class="today-product-image product-hidden">-->
<!--                                <img src="https://img-cf.kurly.com/cdn-cgi/image/width=400,format=auto/shop/data/goods/1651455844958l0.jpg" alt="상품 이미지" loading="lazy">-->
<!--                                <div>-->
<!--                                    <button type="button" class="mainCart button-absolute">-->
<!--                                        <img src="/main/images/main/cart.png" width="45px" height="45px"  alt="장바구니 아이콘">-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="product-info product-info-header">-->
<!--                                <h3 class="product-name">검정콩가루 300g</h3>-->
<!--                                <div class="content-row">-->
<!--                                    <div class="product-price">-->
<!--                                                <span class="sales-price css-18tpqqq">13,900-->
<!--                                                    <span class="won"> 원</span>-->
<!--                                                </span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div style="width: 249px; margin-right: 18px;">-->
<!--                        <div class="today-product">-->
<!--                            <div class="today-product-image product-hidden">-->
<!--                                <img src="https://img-cf.kurly.com/cdn-cgi/image/width=400,format=auto/shop/data/goods/1651455844958l0.jpg" alt="상품 이미지" loading="lazy">-->
<!--                                <div>-->
<!--                                    <button type="button" class="mainCart button-absolute">-->
<!--                                        <img src="/main/images/main/cart.png" width="45px" height="45px"  alt="장바구니 아이콘">-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="product-info product-info-header">-->
<!--                                <h3 class="product-name">검정콩가루 400g</h3>-->
<!--                                <div class="content-row">-->
<!--                                    <div class="product-price">-->
<!--                                                <span class="sales-price css-18tpqqq">13,900-->
<!--                                                    <span class="won"> 원</span>-->
<!--                                                </span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

            </div>
            <!-- Add Arrows -->
            <button type="button" class="swiper-button-next today-product-button"></button>
            <button type="button" class="swiper-button-prev today-product-button"></button>
        </div>
    </div>
</div>
</body>
</html>