<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="com.example.dday.domain.vo.CartVO" alias="cartVO"/>
        <typeAlias type="com.example.dday.domain.vo.CartDTO" alias="cartDTO"/>
        <typeAlias type="com.example.dday.domain.vo.MemberVO" alias="memberVO"/>
        <typeAlias type="com.example.dday.domain.vo.OrderDetailVO" alias="orderDetailVO"/>
        <typeAlias type="com.example.dday.domain.vo.OrderVO" alias="orderVO"/>
        <typeAlias type="com.example.dday.domain.vo.PartnerVO" alias="partnerVO"/>
        <typeAlias type="com.example.dday.domain.vo.PartnerDTO" alias="partnerDTO"/>
        <typeAlias type="com.example.dday.domain.vo.PartnerProductDTO" alias="partnerProductDTO"/>
        <typeAlias type="com.example.dday.domain.vo.PointVO" alias="pointVO"/>
        <typeAlias type="com.example.dday.domain.vo.ProductLikeVO" alias="productLikeVO"/>
        <typeAlias type="com.example.dday.domain.vo.ProductVO" alias="productVO"/>
        <typeAlias type="com.example.dday.domain.vo.AddressVO" alias="addressVO"/>
        <typeAlias type="com.example.dday.domain.vo.ManagerDTO" alias="managerDTO"/>
        <typeAlias type="com.example.dday.domain.vo.ReviewDTO" alias="reviewDTO"/>
        <typeAlias type="com.example.dday.domain.vo.ReviewVO" alias="reviewVO"/>
        <typeAlias type="com.example.dday.domain.vo.ProductDetailDTO" alias="productDetailDTO"/>
        <typeAlias type="com.example.dday.domain.vo.ReviewProductDTO" alias="reviewProductDTO"/>
    </typeAliases>
</configuration>