@charset "utf-8";

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

input, button{
    border: none;
    background-color: white;
}

button{
    cursor: pointer;
    padding: 0px;
    cursor: pointer;
}

ol, ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    cursor: pointer;
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}

.disabled_button{
    border-color: rgb(221, 221, 221) !important;
    color: rgb(221, 221, 221) !important;
}

.search-icon{
    position: relative;
    width: 30px;
    height: 30px;
    margin: 10px;
    bottom: 3px;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgzNnYzNkgweiIvPgogICAgICAgIDxnIHN0cm9rZT0iIzVGMDA4MCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNyI+CiAgICAgICAgICAgIDxwYXRoIGQ9Im0yNi4wODEgMjYuMDgxLTQuMTItNC4xMk0xNi40NjcgMjMuMzM0YTYuODY3IDYuODY3IDAgMSAwIDAtMTMuNzM0IDYuODY3IDYuODY3IDAgMCAwIDAgMTMuNzM0eiIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==") 0px 0px no-repeat;
}

.location-icon{
    width: 36px;
    height: 36px;
    margin-right: 20px;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4LjcgNikiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJNOS4zMDYgMjRTMCAxNi41NDQgMCA5LjMwNmE5LjMwNiA5LjMwNiAwIDAgMSAxOC42MTIgMEMxOC42MTIgMTYuNTQ0IDkuMzA2IDI0IDkuMzA2IDI0eiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgY3g9IjkuMjEyIiBjeT0iOS4xMjMiIHI9IjIuNzg0Ii8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K") 50% 50% no-repeat;
    cursor: pointer;
}

.like-icon{
    width: 36px;
    height: 36px;
    background:url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yOC45MjcgOC44OTNhNi40NiA2LjQ2IDAgMCAwLTkuMTM5IDBsLTEuODI5IDEuODI4LTEuODI3LTEuODI4YTYuNDYyIDYuNDYyIDAgMSAwLTkuMTQgOS4xMzhMOC44MiAxOS44Nmw4LjQzMiA4LjQzNGExIDEgMCAwIDAgMS40MTQgMGw4LjQzMy04LjQzNGgwbDEuODI4LTEuODI4YTYuNDYgNi40NiAwIDAgMCAwLTkuMTM4eiIgc3Ryb2tlPSIjMzMzIiBzdHJva2Utd2lkdGg9IjEuNyIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==") 50% 50% no-repeat;
}

.like-icon:hover{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yOC45MjcgOC44OTNhNi40NiA2LjQ2IDAgMCAwLTkuMTM5IDBsLTEuODI5IDEuODI4LTEuODI3LTEuODI4YTYuNDYyIDYuNDYyIDAgMSAwLTkuMTQgOS4xMzhMOC44MiAxOS44Nmw4LjQzMiA4LjQzNGExIDEgMCAwIDAgMS40MTQgMGw4LjQzMy04LjQzNGgwbDEuODI4LTEuODI4YTYuNDYgNi40NiAwIDAgMCAwLTkuMTM4eiIgc3Ryb2tlPSIjNWYwMDgwIiBzdHJva2Utd2lkdGg9IjEuNyIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==");
}

.cart-icon{
    display: block;
    width: 36px;
    height: 36px;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1LjE2NCA2LjU0NykiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJtMjUuNjggMy42Ni0yLjcyIDExLjU3SDcuMzdMNC42NiAzLjY2eiIvPgogICAgICAgICAgICA8Y2lyY2xlIGN4PSIyMC41MiIgY3k9IjIwLjc4IiByPSIyLjE0Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgY3g9IjkuODEiIGN5PSIyMC43OCIgcj0iMi4xNCIvPgogICAgICAgICAgICA8cGF0aCBkPSJNMCAwaDMuOGwxLjc2IDcuNSIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==");
    cursor: pointer;
}

.cart-icon:hover{
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1LjE2NCA2LjU0NykiIHN0cm9rZT0iIzVmMDA4MCIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJtMjUuNjggMy42Ni0yLjcyIDExLjU3SDcuMzdMNC42NiAzLjY2eiIvPgogICAgICAgICAgICA8Y2lyY2xlIGN4PSIyMC41MiIgY3k9IjIwLjc4IiByPSIyLjE0Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgY3g9IjkuODEiIGN5PSIyMC43OCIgcj0iMi4xNCIvPgogICAgICAgICAgICA8cGF0aCBkPSJNMCAwaDMuOGwxLjc2IDcuNSIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==");
}

.bar{
    width: 1px;
    height: 13px;
    margin: 0px 12px;
    background-color: rgb(217, 217, 217);
}

.top_area{
    position: relative;
    width: 1050px;
    height: 100px;
    margin: 0px auto;
    letter-spacing: -0.3px;
}

.top{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 20;
    display: flex;
    align-items: center;
    font-size: 12px;
    height: 35px;
}

.top a{
    cursor: pointer;
}

.top .sign_up{
    color : #ff4500;
}

.top2_area{
    height: 100px;
    padding-top: 36px;
}

.logo_area{
    display: flex;
    align-items: center;
    height: 63px;
}

.logo_area button{
    font-size: 18px;
    font-weight: bold;
}


.market_kurly{
    margin-left: 22px;
}

.market_kurly::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 14px;
    margin-top: 5px;
    margin-left: 11px;
    background-color: rgb(226, 226, 226);
}

.beauty_kurly{
    flex-shrink: 0;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: rgb(181, 181, 181);
    cursor: pointer;
    position: relative;
    margin-left: 22px;
}
.beauty_kurly:hover{
    color: #ff4500;
}

.beauty_kurly::after{
    content: "";
    position: absolute;
    display: block;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwIDAgNyA3IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgPHBhdGggZD0iTTUuMTA4IDd2LS4wMDdMMS45MTEgMi41NzdWN0guMDQ2VjBoMS44NjdsMy4xOTYgNC40MTlWMGgxLjg2N3Y3SDUuMTA4eiIgZmlsbD0iI0ZBNjIyRiIgZmlsbC1ydWxlPSJldmVub2RkIi8+Cjwvc3ZnPgo=") 0px 0px no-repeat;
    width: 10px;
    height: 10px;
    top: 3px;
    right: -13px;
}

.active{
    color: #ff4500;
}

.search_area, .icon_area{
    position: relative;
    width: 1050px;
    margin: 0px auto;
}

.search_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 325px;
    top: -55px;
    width: 400px;
    height: 48px;
    padding-left: 14px;
    border: 1px solid #ff4500;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(247 247 247) 0px 0px 0px 1px inset;
}

.search_box input:hover{
    cursor: text;
}

.search_box input{
    width: 300px;
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 15px;
    letter-spacing: -.33px;
}

.icons{
    display: flex;
    align-items: center;
    position: absolute;
    right: -6px;
    top: -49px;
}

.cart_div{
    position: relative;
    margin-left: 20px;
}

.menu_area{
    min-width: 1050px;
    letter-spacing: -0.3px;
    background-color: rgb(255, 255, 255);
    position: relative;
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px;
    width: 100%;
}

.menu{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1050px;
    height: 56px;
    margin: 0px auto;
    cursor: pointer;
}

.category_area{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 16px;
}

.category_area:hover{
    color: #ff4500;
}

.category_area:hover >.category{
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNiAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMTZ2MS43SDBWMHptMCA2LjE1aDE2djEuN0gwdi0xLjd6bTAgNi4xNWgxNlYxNEgwdi0xLjd6IiBmaWxsPSIjNUYwMDgwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4KPC9zdmc+Cg==") no-repeat 0 0;
}

.category{
    width: 16px;
    height: 14px;
    margin-right: 14px;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNiAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMTZ2MS43SDBWMHptMCA2LjE1aDE2djEuN0gwdi0xLjd6bTAgNi4xNWgxNlYxNEgwdi0xLjd6IiBmaWxsPSIjMzMzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4KPC9zdmc+Cg==") 0px 0px / 16px 14px no-repeat;
}

.main_category{
    display: flex;
}

.main_category li{
    display: flex; 
    justify-content: center;
    width: 150px;
    height: 55px;
    padding-top: 18px;
    line-height: 20px;
    text-align: center;
    font-size: 16px;
}
.main_category li:hover{
    text-decoration: underline;
    color: #5f0080;
}

.shipping_area{
    display: flex;
    align-items: center;
}

.shipping{
    height: 32px;
    padding: 6px 16px;
    border-radius: 18px;
    border: solid 1px #eee;
    color: #666;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -.32px;
}

.time{
    font-weight: 500;
    color: #ff4500;
}

/* login main */
.login_main{
    min-width: 1050px;
    margin-top: 90px;
    margin-bottom: 60px;
    /* background-color: #fff; */
}

.login_main>h2{
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

.main_content{
    width: 340px;
    margin: 0 auto;
    letter-spacing: -.6px;
}

.main_input{
    margin-top: 30px;
}

.main_input>div{
    padding-bottom: 12px;
}

.main_input>div:first-child{
    margin-bottom: 5px;
}

.main_input input{
    height: 54px;
    width: 100%;
    padding: 0 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    outline: none;
    box-sizing: border-box;
}

.main_input input:focus{
    border:1px solid black;
}

.input_box{
    height: 48px;
}

.find_bar{
    width: 1px;
    height: 10px;
    margin: 5px 6px 0;
    background-color: #333;
}

.find{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    font-size: 13px;
}

.find a{
    color: #333;
    cursor: pointer;
}

.button_area{
    margin-top: 28px;
}

.button_area button{
    display: block;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 54px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
}

.login_btn{
    background-color: #ff4500;
    color: #fff;
    border: 0 none;
}

.signup_btn{
    border: 1px solid #ff4500;
    color: #ff4500;
    margin-top: 10px;
}

/* footer */

footer{
    padding-top: 29px;
    border-top: 1px solid #f7f7f7;
}

.footer_top{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 67px;
}

.footer_top, .footer_middle{
    width: 1050px;
    margin: 0 auto;
}

.footer_top h2{
    padding-bottom: 17px;
    font-size: 20px;
    line-height: 29px;
}

.footer_top h1{
    display: block;
    font-size: 28px;
    padding-bottom: 20px;
    line-height: 40px;
}

.footer_top h2>span{
    font-size: 16px;
    margin-left: 8px;
    font-weight: normal;
}

.footer_top button{
    display: block;
    width: 140px;
    height: 40px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    line-height: 39px;
    text-align: center;
    font-size: 14px;
}

.footer_top .button_another{
    margin-left: 8px !important;
}

.footer_top .buttons{
    display: flex;
    margin-bottom: 38px;
}

.inquiry{
    font-size: 12px;
    line-height: 18px;
    color: rgb(153, 153, 153);
}

.footer_top ul {
    display: flex;
}

.footer_top_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_top_right ul:first-child{
    width: 100%;
    padding-bottom: 29px;
}

.footer_top_right ul:first-child li{
    margin-left: 14px;
    font-size: 14px;
}

.footer_top_right ul:first-child li:first-of-type{
    margin-left: 0;
}

.footer_top_right_text{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #999;
}

.footer_top_right_text span{
    padding-left: 4px;
}

.footer_top_right_text span::after{
    content: '|';
    padding-right: 4px;
    font-size: 10px;
    vertical-align: top;
}

.footer_top_right_text a{
    color: #ff4500;
}

.sns_icons{
    padding-top: 28px;
}

.sns_icons li{
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.sns_icons li img{
    width: 100%;
}

.footer_middle{
    display: flex;
    justify-content: space-between;
    padding: 26px 0 33px;
    border-top: 1px solid #eee;
}

.footer_middle button{
    display: flex;
    text-align: left;
}

.footer_middle button img{
    width: 34px;
    margin-right: 10px;
}

.footer_middle button p{
    font-size: 10px;
    line-height: 14.5px;
    color: #999;
    word-break: break-word;
}

.footer_bottom{
    padding: 20px 0 30px;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    background-color: #f7f7f7;
    color: #999;
}

.footer_bottom>em{
    display: block;
    padding-top: 7px;
    font-style: normal;
}

/* find */
.find_main{
    min-width: 1050px;
    padding: 50px 0px;
}

.find_main h2{
    padding-bottom: 30px;
    font-weight: 500;
    font-size: 28px;
    text-align: center;
}

.find_main_content{
    max-width: 400px;
    padding: 0px 10px 6px;
    margin: auto;
    position: relative;
}

.find_main_content #emailForm{
    padding: 24px 20px;
    display: none;
}

@media (min-width: 1050px) {
    .find_choice{
        padding: 0;
        margin: 0 20px;
    }
}
.find_choice{
    background-color: white;
    box-shadow: rgb(221 221 221) 0px -0.5px 0px 0px inset;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    background-color: white;
}
.find_choice input{
    appearance: none;
}

.find_choice label{
    display: block;
    flex-grow: 1;
    position: relative;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    color: rgb(102, 102, 102);
    line-height: 18px;
    box-shadow: rgb(221 221 221) 0px -0.5px 0px 0px inset;
}

.choice{
    color: #ff4500;
    box-shadow: #ff4500 0px -2px 0px 0px inset;
    box-shadow: #ff4500 0px -2px 0px 0px inset;
    font-weight: bold;
}

.find_input_area:nth-child(2){
    margin-top: 8px;
}

.find_inputs{
    padding-bottom: 12px;
}

.find_inputs label{
    display: inline-block;
    padding: 8px 0px 11px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    color: rgb(51, 51, 51);
}

.find_inputs div:first-child{
    position: relative;
    height: 48px;
}

.find_inputs input{
    width: 100%;
    height: 46px;
    padding: 0 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    outline: none;
    box-sizing: border-box;
}

.find_inputs input:focus{
    border:1px solid black;
}

.auth{
    margin-top: 18px;
}

@media (min-width: 1050px){
    .auth button {
        height: 56px;
    }
}

.auth button{
    display: block;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 52px;
    border-radius: 4px;
    color: #fff;
    border: 0 none;
    background-color: #ddd;
    font-size: 16px;
}

.signup_main{
    min-width: 1050px;
    margin-top: 50px;
    margin-bottom: 60px;
}

.signup_main h2{
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 35px;
    font-weight: 500;
    text-align: center;
    letter-spacing: -1px;
    color: rgb(51, 51, 51);
}

.signup_main section{
    width: 640px;
    margin: 0px auto;
}

.essential{
    color: rgb(238, 106, 123);
}

.main_start{
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(51, 51, 51);
    font-size: 12px;
    color: rgb(102, 102, 102);
    line-height: 17px;
    text-align: right;
}

.label_div{
    width: 139px;
    padding-top: 12px;
}

.label_div label{
    font-weight: 500;
    color: rgb(51, 51, 51);
    line-height: 20px;
}

.main_section{
    display: inline-flex;
    width: 100%;
    padding: 10px 20px
}

.input_section{
    position: relative;
    /* height: 48px; */
    flex: 1 1 0%;
}

.input_section .input_box:focus{
    border: 1px solid black;
}

.input_section .input_box{
    width: 100%;
    height: 46px;
    padding: 0 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    outline: none;
    box-sizing: border-box;
}

.button_section{
    width: 120px;
    margin-left: 8px;
}

.button_section button{
    height: 44px;
    border-radius: 3px;
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    /* height: 52px;
    border-radius: 3px; */
    color: #ff4500;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ff4500;
    font-weight: bold;
}

.address_search{
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 44px;
    border-radius: 4px;
    color: #ff4500;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ff4500;
}

.address_search{
    font-size: 14px;
    font-weight: bold;
}

.address_search img{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 4px;
    vertical-align: middle;
}

.address_text{
    display: block;
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
    color: rgb(102, 102, 102);
}

.input_radio{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 14px;
}

.input_radio label{
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 0px 9px;
}

.input_radio label input{
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0px, 0px, 0px, 0px);
}

.radio_circle{
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(221, 221, 221);
}

.radio_in_circle{
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: white;
}

.input_choice{
    background-color: #ff4500;
}

.real_label{
    position: relative;
    margin-left: 12px;
    color: #333;
}

.birth_box{
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    padding: 0px 15px;
}

.birth_box div{
    position: relative;
    height: 40px;
}

.birth_box div input{
    text-align: center;
    font-size: 14px !important;
    border: none;
    width: 100%;
    height: 40px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 38px;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}

.birth_box span::after{
    content: "/";
    font-size: 14px;
    color: rgb(204, 204, 204);
    text-align: center;
    line-height: 40px;
}

.input_last{
    padding: 10px 0px;
    border-bottom: 1px solid rgb(51, 51, 51);
}

.agree_section{
    display: inline-flex;
    width: 100%;
    padding: 10px 0px 10px 20px;
}

.agree_title{
    width: 139px;
    padding-top: 12px;
}

.agree_title label{
    font-weight: 500;
    color: rgb(51, 51, 51);
    line-height: 20px;
}

.signup_submit{
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(247, 247, 247);
    padding: 40px 0px;
}

.signup_submit button{
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 240px;
    height: 56px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #ff4500;
    border: 0px none;
    font-size: 16px;
    font-weight: bold;
}

.agree_content{
    display: flex;
    padding: 8px 0px;
    justify-content: space-between;
    align-items: center;
}

.agree_content:first-of-type{
    align-items: flex-start;
    flex-direction: column;
    padding-top: 12px;
}

.agree_content input[type=checkbox] {
    overflow: hidden;
    position: absolute;
    clip: rect(0px, 0px, 0px, 0px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
}

.agree_content .agree_all{
    position: relative;
    display: flex;
    align-items: center;
    vertical-align: top;
    line-height: normal;
    color: rgb(51, 51, 51);
    padding: 0px;
    font-weight: 500;
    font-size: 18px;
}

.agree_content p{
    font-size: 12px;
    color: rgb(102, 102, 102);
    padding-top: 4px;
    padding-left: 36px;
}

.agree_content img{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.agree_content a i{
    font-size: 12px;
    margin-left: 2px;
}

.dif{
    display: flex;
    padding: 8px 0px;
    flex-direction: column;
    align-items: inherit;
}

.agree_box{
    display: flex;
    align-items: center;
}

.agree_box label{
    display: flex;
    align-items: center;
}

.agree_all span{
    padding-right: 5px;
    color: rgb(221 221 221);
}

.agree_box span{
    padding-right: 5px;
    color: rgb(221 221 221);
}

.agree_select{
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.agree_content a {
    padding-right: 22px;
    color: #ff4500;
    letter-spacing: 0px;
}

.agree_select p {
    margin-left: 36px;
    padding-left: 16px;
    background: url(https://res.kurly.com/pc/service/common/2006/ico_sub_dot.svg) 0px 0px / 16px 20px no-repeat;
    font-size: 12px;
    color: #ff4500;
    line-height: 18px;
    letter-spacing: -0.5px;
    padding-top: 0px;
}

.agree_select label{
    padding: 14px 80px 9px 0px;
}

.msg p{
    font-size: 13px;
    color: rgb(240, 63, 64);
    margin-top: -4px;
}

.check_img{
    display: inline-block; 
    width: 24px; 
    height: 24px; 
    margin-right: 12px;
}

span.timer{
    position: absolute;
    left: -65%;
    top: 48%;
    transform: translateY(-50%);
}
span.timer2 {
    color: rgb(240, 63, 64);
}


.num_check_input{
    display: none;
}
