/* 마이페이지 고정 틀 start  */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
}

div.mypageHeader {
    width: 100%;
    padding: 50px 0px;
    margin-bottom: -20px;
    background-color: rgb(247, 247, 247);
    margin-left: 0;
    margin-right: 0;
}

div.headerTop {
    display: grid;
    grid-template-columns: 372px auto;
    width: 1050px;
    margin: 0px auto;
    gap: 4px;
}

div.header1 {
    padding: 30px 30px 26px;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    
}
div.header2 {
    flex: 1 1 0%;
    overflow: hidden;
    background: rgb(255, 255, 255);
    width: 335px;
    grid-row: 1 / 3;
}
div.header3 {
    flex: 1 1 0%;
    overflow: hidden;
    background: rgb(255, 255, 255);
    width: 335px;
    grid-row: 1 / 3;
}


div.headerInfo {
    display: flex;
}

div.headerGrade {
    min-width: 48px;
    height: 48px;
    display: flex;
    -webkit-box-pack: justify;
    align-items: center;
    justify-content: center;
    -webkit-box-align: center;
    border-radius: 3px;
    font-weight: normal;
    font-size: 14px;
    color: rgb(95, 0, 128);
    border: 1px solid rgb(95, 0, 128);
    background-color: white;
}

div.headerName {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    min-width: 50%;
    min-height: 48px;
    margin-left: 20px;
}
strong.headerRname {
    display: block;
    overflow: hidden;
    font-weight: 500;
    font-size: 20px;
    color: rgb(51, 51, 51);
    line-height: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.savingPercent{
    display: flex;
    flex-direction: column;
}

p.savingPercent {
    font-size: 14px;
    line-height: 18px;
    color: rgb(51, 51, 51);
    margin-top: 27px;
    margin-bottom: 27px;

}

div.seeGrade{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

button.seeAll {
    width: 50%;
    height: 42px;
    border: 1px solid rgb(244, 244, 244);
    border-radius: 30px;
    background-color: rgb(244, 244, 244);
    font-size: 13px;
    color: rgb(51, 51, 51);
    text-align: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

button.seeNext {
    margin-left: 10px;
    width: 50%;
    height: 42px;
    border: 1px solid rgb(244, 244, 244);
    border-radius: 30px;
    background-color: rgb(244, 244, 244);
    font-size: 13px;
    color: rgb(51, 51, 51);
    text-align: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

button.savingMoney{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 26px 0px 30px 30px;
    border-radius: 0;
    font-size: 14px;
    color: #333;
    -webkit-appearance: button;
    cursor: pointer;
    text-transform: none;
    overflow: visible;
    background-color: transparent;
    border: none;
    font: inherit;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

div.savingMoney {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    -webkit-box-align: center;
    color: rgb(51, 51, 51);

}

span.savingMoney {
    width: 34px;
    height: 32px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAA4CAQAAAACj/OVAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfmAxYGNhJAM7wjAAAAd0lEQVRYw+3UsQ2AMAwAQQfRsESWiCmp2I+aJagYgZYBaGGItGYEIhQZIf3VVl5OYREAAP4oxRTrvdYUzGzh6EfHYFiss7Ve8pEFnZNpJkmSJEnT/ObGltzSrzl/KTly5PxzIjo5X8501sy1BTODyX657QcAgL8b8j9nkEwifVYAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjItMDMtMjJUMDY6NTQ6MTYrMDA6MDClJXo+AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIyLTAzLTIyVDA2OjU0OjE2KzAwOjAw1HjCggAAAABJRU5ErkJggg==) 50% 50% / cover no-repeat;
}

div.savingDetail {
    font-weight: 700;
    font-size: 27px;
    color: rgb(95, 0, 128);
    margin-top: 42px;
}
span.savingDetail{
    font-weight: 400;
}

button.coupon{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 26px 0px 30px 30px;
    border-radius: 0;
    font-size: 14px;
    color: #333;
    -webkit-appearance: button;
    cursor: pointer;
    text-transform: none;
    overflow: visible;
    background-color: transparent;
    border: none;
    font: inherit;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

div.savingChange {
    font-size: 12px;
    color: rgb(153, 153, 153);
    margin-top: 10px;
}

div.couponName {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(51, 51, 51);
}

span.couponName {
    width: 34px;
    height: 32px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAA4CAQAAAACj/OVAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfmAxYGNhJAM7wjAAAAd0lEQVRYw+3UsQ2AMAwAQQfRsESWiCmp2I+aJagYgZYBaGGItGYEIhQZIf3VVl5OYREAAP4oxRTrvdYUzGzh6EfHYFiss7Ve8pEFnZNpJkmSJEnT/ObGltzSrzl/KTly5PxzIjo5X8501sy1BTODyX657QcAgL8b8j9nkEwifVYAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjItMDMtMjJUMDY6NTQ6MTYrMDA6MDClJXo+AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIyLTAzLTIyVDA2OjU0OjE2KzAwOjAw1HjCggAAAABJRU5ErkJggg==) 50% 50% / cover no-repeat;
}

div.couponCount {
    font-weight: 700;
    font-size: 27px;
    color: rgb(95, 0, 128);
    margin-top: 42px;
}

span.couponCount {
    font-weight: 400px;
}

a.ad {
    display: block;
    width: 1050px;
    overflow: hidden;
    margin: 20px auto 0px;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

img.ad {
    width: 100%;
    height: 60px;
    object-fit: cover;
    border: 0;
    vertical-align: top;
    max-width: 100%;

}

div.mypageBottom {
    display: flex;
    width: 1050px;
    padding: 50px 0px 80px;
    margin: 0px auto;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

div.mypageBottomLeft {
    width: 200px;
}
div.leftTitle {
    height: 35px;
    padding: 5px 0px 35px 1px;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    color: rgb(51, 51, 51);
    letter-spacing: -1px;
}

ul.leftList{
    border: 1px solid rgb(242, 242, 242);
    list-style-type: none;
    padding-left: 0;
    margin-top: 30px;
}

li.orderList{
    display: list-item;
    text-align: -webkit-match-parent;
}

a.orderList{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 14px 20px 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    font-size: 15.5px;
     color: rgb(102, 102, 102);
    text-decoration: none;
    background-color: transparent;
    

}
a.orderList2{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 14px 20px 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    font-size: 15.5px;
    color: rgb(102, 102, 102);
    text-decoration: none;
    background-color: transparent;

}
a.orderList3{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 14px 20px 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    font-size: 15.5px;
    color: rgb(102, 102, 102);
    text-decoration: none;
    background-color: transparent;
    

}
a.orderList4{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 14px 20px 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    font-size: 15.5px;
    color: rgb(102, 102, 102);
    text-decoration: none;
    background-color: transparent;

}
a.orderList5{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 14px 20px 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    font-size: 15.5px;
    color: rgb(102, 102, 102);
    text-decoration: none;
    background-color: transparent;

}
a.orderList6{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 14px 20px 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    font-size: 15.5px;
    color:  rgb(102, 102, 102);
    text-decoration: none;
    background-color: transparent;
    

}
a.orderList7{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 14px 20px 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    font-size: 15.5px;
    color: rgb(95, 0, 128);
    text-decoration: none;
    background-color: transparent;
    font-weight: 700;
    

}
a.orderList8{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 14px 20px 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    font-size: 15.5px;
    color: rgb(102, 102, 102);
    text-decoration: none;
    background-color: transparent;

}

span.orderList{
    display: inline-block;
    width: 6px;
    height: 11px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjExIiB2aWV3Qm94PSIwIDAgNiAxMSI+CiAgICA8cGF0aCBmaWxsPSIjOTk5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xIDExTDYgNS41IDEgMCAwIDEuMSA0IDUuNSAwIDkuOXoiLz4KPC9zdmc+Cg==);
    background-size: cover;
    background-position: center center;
}
span.orderList2{
    display: inline-block;
    width: 6px;
    height: 11px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjExIiB2aWV3Qm94PSIwIDAgNiAxMSI+CiAgICA8cGF0aCBmaWxsPSIjOTk5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xIDExTDYgNS41IDEgMCAwIDEuMSA0IDUuNSAwIDkuOXoiLz4KPC9zdmc+Cg==);
    background-size: cover;
    background-position: center center;
}
span.orderList3{
    display: inline-block;
    width: 6px;
    height: 11px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjExIiB2aWV3Qm94PSIwIDAgNiAxMSI+CiAgICA8cGF0aCBmaWxsPSIjOTk5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xIDExTDYgNS41IDEgMCAwIDEuMSA0IDUuNSAwIDkuOXoiLz4KPC9zdmc+Cg==);
    background-size: cover;
    background-position: center center;
}
span.orderList4{
    display: inline-block;
    width: 6px;
    height: 11px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjExIiB2aWV3Qm94PSIwIDAgNiAxMSI+CiAgICA8cGF0aCBmaWxsPSIjOTk5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xIDExTDYgNS41IDEgMCAwIDEuMSA0IDUuNSAwIDkuOXoiLz4KPC9zdmc+Cg==);
    background-size: cover;
    background-position: center center;
}
span.orderList5{
    display: inline-block;
    width: 6px;
    height: 11px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjExIiB2aWV3Qm94PSIwIDAgNiAxMSI+CiAgICA8cGF0aCBmaWxsPSIjOTk5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xIDExTDYgNS41IDEgMCAwIDEuMSA0IDUuNSAwIDkuOXoiLz4KPC9zdmc+Cg==);
    background-size: cover;
    background-position: center center;
}
span.orderList6{
    display: inline-block;
    width: 6px;
    height: 11px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjExIiB2aWV3Qm94PSIwIDAgNiAxMSI+CiAgICA8cGF0aCBmaWxsPSIjOTk5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xIDExTDYgNS41IDEgMCAwIDEuMSA0IDUuNSAwIDkuOXoiLz4KPC9zdmc+Cg==);
    background-size: cover;
    background-position: center center;
}
span.orderList7{
    display: inline-block;
    width: 6px;
    height: 11px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjExIiB2aWV3Qm94PSIwIDAgNiAxMSI+CiAgICA8cGF0aCBmaWxsPSIjNUYwMDgwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xIDExTDYgNS41IDEgMCAwIDEuMSA0IDUuNSAwIDkuOXoiLz4KPC9zdmc+Cg==);
    background-size: cover;
    background-position: center center;
}
span.orderList8{
    display: inline-block;
    width: 6px;
    height: 11px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjExIiB2aWV3Qm94PSIwIDAgNiAxMSI+CiAgICA8cGF0aCBmaWxsPSIjOTk5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xIDExTDYgNS41IDEgMCAwIDEuMSA0IDUuNSAwIDkuOXoiLz4KPC9zdmc+Cg==);
    background-size: cover;
    background-position: center center;
}

a.orderList:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(95, 0, 128);
    font-weight: 500;
    outline: 0;
}
a.orderList2:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(95, 0, 128);
    font-weight: 500;
    outline: 0;
}
a.orderList3:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(95, 0, 128);
    font-weight: 500;
    outline: 0;
}
a.orderList4:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(95, 0, 128);
    font-weight: 500;
    outline: 0;
}
a.orderList5:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(95, 0, 128);
    font-weight: 500;
    outline: 0;
}
a.orderList6:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(95, 0, 128);
    font-weight: 500;
    outline: 0;
}
a.orderList7:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(95, 0, 128);
    font-weight: 500;
    outline: 0;
}
a.orderList8:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(95, 0, 128);
    font-weight: 500;
    outline: 0;
}
span.orderList:hover {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjExIiB2aWV3Qm94PSIwIDAgNiAxMSI+CiAgICA8cGF0aCBmaWxsPSIjNUYwMDgwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xIDExTDYgNS41IDEgMCAwIDEuMSA0IDUuNSAwIDkuOXoiLz4KPC9zdmc+Cg==);

}

a {
    color: inherit;
    text-decoration: none;
  }
a.assist {
    height: 60px;
    padding: 0px 20px;
    margin-top: 20px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 0px 100px 100px 0px;
    background-color: rgb(250, 250, 250);
    line-height: 20px;
}
div.assist {
    display: flex;
    flex-direction: column;
    color: rgb(51, 51, 51);
}
span.assist{
    font-size: 14px;
    font-weight: 500;
}
span.assist2 {
    font-size: 12px;
}
span.assist3{
    display: inline-block;
    width: 6px;
    height: 11px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjExIiB2aWV3Qm94PSIwIDAgNiAxMSI+CiAgICA8cGF0aCBmaWxsPSIjNUYwMDgwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xIDExTDYgNS41IDEgMCAwIDEuMSA0IDUuNSAwIDkuOXoiLz4KPC9zdmc+Cg==);
    background-size: cover;
    background-position: center center;
}
section.savingWon{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgb(221, 221, 221);
    margin-bottom: 40px;
}
dl.item{
    border-right: 1px solid rgb(221, 221, 221);
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 34px 60px 36px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin: 0;
}
dt.label{
    color: rgb(0, 0, 0);
    line-height: 20px;
    font-size: 14px;
}
dd.price{
    color: rgb(95, 0, 128);
    line-height: 30px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0px;
}
span.unit{
    font-weight: 400;
    color: rgb(95, 0, 128);
    line-height: 30px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0px;
}
div.bottomRight {
    width: 820px;

 }
 div.bottomRightHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 27px;
    -webkit-box-pack: justify;
    justify-content: space-between;
 }
 div.brhLeft {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    height: 42px;
 }
 h2.brhLeft {
    font-weight: 500;
    font-size: 24px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.5px;
    line-height: 48px;
 }
 span.brhLeft{
    padding-left: 11px;
    font-size: 14px;
    letter-spacing: -0.3px;
    color: rgb(153, 153, 153);
    line-height: 20px;
 }

div.brhRight {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;

}
div.brhRight2 {
    width: 157px;

}
div.brhRight3 {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
    width: 100%;
}
div.brhRight4 {
    font-weight: 400;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    font-size: 14px;
    height: 44px;
    border-color: rgb(221, 221, 221);
    border-radius: 0px;
}
div.tabindex {
    padding-right: 32px;
    height: auto;
    min-height: 1.4375em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    appearance: none;
    user-select: none;
    border-radius: 4px;
    cursor: pointer;
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 16.5px 14px;

}
input.tabindex{
    bottom: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
    font: inherit;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}
svg.tabindex{
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    position: absolute;
    right: 7px;
    top: calc(50% - 0.5em);
    pointer-events: none;
    color: rgba(0, 0, 0, 0.54);
    right: 10px;
}
svg:not(:root) {
    overflow: hidden;
}

fieldset.tabindex{
    border-color: #ddd !important;
    text-align: left;
    position: absolute;
    inset: -5px 0px 0px;
    margin: 0px;
    padding: 0px 8px;
    pointer-events: none;
    border-radius: inherit;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    min-width: 0%;
}

legend.tanindex{
    float: unset;
    padding: 0px;
    line-height: 11px;
    transition: width 150ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    border: 0;
    vertical-align: top;
}
div.brhLine{
    display: flex;
    flex-direction: row;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 2px solid rgb(51, 51, 51);
}
div.deliveryList{
    display: flex;
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid rgb(51, 51, 51);
    justify-content: space-between;
    font-size: 14px;
}

div.couponRegist{
    padding: 19px 29px 14px;
    border: 1px solid rgb(221, 221, 221);
    font-size: 14px;
    color: #333;
}
div.couponRegistInner{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div.couponRegistInner2{
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}
div.couponNumArea{
    padding: 0px;
    box-sizing: border-box;
    margin: 0;
    font-size: 12px;
    color: #333;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

button.couponRegist2{
    width: 140px;
    height: 36px;
    border: none;
    background-color: rgb(95, 0, 128);
    font-size: 12px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    border-radius: 0;
    -webkit-appearance: button;
    cursor: pointer;
    margin-left: 10px;
    /* text-transform: none;
    overflow: visible;
    background-color: transparent;
    border: none;
    font: inherit;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    margin: 0;
    padding: 0; */
}
input.couponNumArea{
    margin-right: 10px;
    width: 210px;
    height: 34px;
    padding: 0px 10px;
    border-radius: 0px;
    border: 1px solid rgb(26, 26, 26);
    font-size: 12px;
    color: black;
    line-height: 32px;
    outline: none;
    letter-spacing: -0.6px;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    font: inherit;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}
p.couponRule{
    margin-top: 13px;
    font-size: 12px;
    color: rgb(240, 63, 64);
    box-sizing: border-box;
    margin: 0;
    padding-top: 12px;
}
div.couponRule2{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    color: rgb(102, 102, 102);
    font-weight: 400;
    padding: 15px 0px 2px;
}
p.couponRule2{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 12px;
}
p.couponRule3{
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 13px;
    margin-right: 6px;
    color: rgb(102, 102, 102);
    font-weight: 400;
}
div.modal{ 
    position:absolute; 
    width:100%; 
    height: 1075px; 
    background: rgba(0,0,0,0.4); 
    top:0; 
    left:0; 
    display:none;
    z-index: 999;
    
  }
  div.modal_content{
    width:360px; height:156px;
    background:#fff; border-radius:10px;
    position:relative; top:50%; left:50%;
    margin-top: -169px;
    margin-left: -159px;
    text-align:center;
    box-sizing:border-box; padding:74px 0;
    line-height:23px; cursor:pointer;
  }
  button.cancel{
    border: none;
    font-size: 16px;
    color: rgb(95, 0, 128);
    background: transparent;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
    overflow: visible;
    font-weight: 500;
    position: absolute;
    left: 90px;
    top: 109px;
    font-family: "Noto Sans KR", sans-serif;
    width: 180px;
    height: 40px;
  }
  button.remove{
    border: none;
    font-size: 16px;
    color: rgb(95, 0, 128);
    background: transparent;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
    overflow: visible;
    font-weight: 500;
    position: absolute;
    left: 180px;
    top: 109px;
    font-family: "Noto Sans KR", sans-serif;
    width: 180px;
    height: 40px;
  }
  div.modalText{
    font-size: 16px;
    position: absolute;
    left: 80px;
    bottom: 87px;
  }

  div.deliveryChoice2{
    margin-left: 300px;
  }
  div.deliveryChoice5{
    margin-right: 27px;
  }

  p.notExist{
    border-bottom: 1px solid rgb(244, 244, 244);
    text-align: center;
    padding: 30px 0px;
    font-size: 13px;
    color: rgb(102, 102, 102);
  }