<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/main/css/header.css">
  <link rel="stylesheet" href="/main/css/footer.css">
  <title>Search</title>
</head>
<link rel="stylesheet" href="/search/css/searchDemo.css">
<link rel="stylesheet" href="/search/css/search.css">
<style data-emotion="css-global" data-s=""></style>
<body>
<header th:replace="main/header.html" :: h></header>
  <div class="css-1qq5c2w e1j5v3ii1">
    <div class="css-1wh226x e1j5v3ii0">
      <div id="container" class="css-1i60c0e e2b3c3l0">
        <h3 class="css-bv8gkm etf617g1">베스트</h3>
        <div class="css-pzlq5x etf617g2">
          <div class="css-1jgnig9 ev2ab494">
            <div class="css-11y1fso ev2ab493"><span class="css-wy76no ev2ab492">필터</span><button
                class="css-7pv5zq ev2ab491"><svg width="12" height="12" viewBox="0 0 16 16" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path id="pathrefresh1"
                    d="M13.78 3.96303C12.504 2.16973 10.4086 1 8.04 1C4.15192 1 1 4.15192 1 8.04C1 11.9281 4.15192 15.08 8.04 15.08C11.9281 15.08 15.08 11.9281 15.08 8.04"
                    stroke="#ddd" stroke-width="1.6" stroke-linecap="square" stroke-linejoin="round"></path>
                  <path id="pathrefresh2" d="M14.4933 1L14.4933 4.52H10.9733" stroke="#ddd" stroke-width="1.6"
                    stroke-linecap="square" stroke-linejoin="round"></path>
                </svg><span class="css-w7g3fo ev2ab490">초기화</span></button></div>
            <div class="css-0 egeqx0g0">
              <div class="css-146937 e1frj59j10"><button class="css-16ixplb e1frj59j9">
                  <div class="css-1iwixyn e1frj59j8">카테고리</div><svg width="18" height="18" viewBox="0 0 18 18"
                    fill="none" stroke="#999" xmlns="http://www.w3.org/2000/svg" class="css-innaj4 e1frj59j6"
                    style="transform: rotate(0deg);">
                    <path id="patharrow" d="M5 11L9 7L13 11" stroke="#999" stroke-width="1.2"></path>
                  </svg>
                </button>
                <ul class="css-1kscq9s e1frj59j5" style="max-height: 100vh; opacity: 1;">
                  <li class="css-liheoa e1isxf3i1">
                    <a href="" class="css-s5xdrg e1isxf3i0">
                      <button class="css-17kh8wb ee933650">
                        <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path id="pathcircle" d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z" stroke="#ddd"></path>
                          <path id="pathcheck" d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></button><span class="css-1buhy1h ee933652">생수·음료·우유·커피</span><span
                        class="css-ryw54y ee933651">96</span></a></li>
                  <li class="css-liheoa e1isxf3i1"><a
                      href=""
                      class="css-s5xdrg e1isxf3i0"><button class="css-17kh8wb ee933650"><svg width="18" height="18"
                          viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path id="pathcircle"
                            d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z"
                            stroke="#ddd"></path>
                          <path id="pathcheck" d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></button><span class="css-1buhy1h ee933652">간식·과자·떡</span><span
                        class="css-ryw54y ee933651">21</span></a></li>
                  <li class="css-liheoa e1isxf3i1"><a
                      href=""
                      class="css-s5xdrg e1isxf3i0"><button class="css-17kh8wb ee933650"><svg width="18" height="18"
                          viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path id="pathcircle"
                            d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z"
                            stroke="#ddd"></path>
                          <path id="pathcheck" d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></button><span class="css-1buhy1h ee933652">베이커리·치즈·델리</span><span
                        class="css-ryw54y ee933651">17</span></a></li>
                  <li class="css-liheoa e1isxf3i1"><a
                      href=""
                      class="css-s5xdrg e1isxf3i0"><button class="css-17kh8wb ee933650"><svg width="18" height="18"
                          viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path id="pathcircle"
                            d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z"
                            stroke="#ddd"></path>
                          <path id="pathcheck" d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></button><span class="css-1buhy1h ee933652">베이비·키즈·완구</span><span
                        class="css-ryw54y ee933651">6</span></a></li>
                  <li class="css-liheoa e1isxf3i1"><a
                      href=""
                      class="css-s5xdrg e1isxf3i0"><button class="css-17kh8wb ee933650"><svg width="18" height="18"
                          viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path id="pathcircle"
                            d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z"
                            stroke="#ddd"></path>
                          <path id="pathcheck" d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></button><span class="css-1buhy1h ee933652">반려동물</span><span
                        class="css-ryw54y ee933651">6</span></a></li>
                  <li class="css-liheoa e1isxf3i1"><a
                      href=""
                      class="css-s5xdrg e1isxf3i0"><button class="css-17kh8wb ee933650"><svg width="18" height="18"
                          viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path id="pathcircle"
                            d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z"
                            stroke="#ddd"></path>
                          <path id="pathcheck" d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></button><span class="css-1buhy1h ee933652">샐러드·간편식</span><span
                        class="css-ryw54y ee933651">4</span></a></li>
                  <li class="css-liheoa e1isxf3i1"><a
                      href="https://www.kurly.com/search?sword=%EC%9A%B0%EC%9C%A0&amp;page=1&amp;per_page=12&amp;sorted_type=4&amp;filters=category%3A012"
                      class="css-s5xdrg e1isxf3i0"><button class="css-17kh8wb ee933650"><svg width="18" height="18"
                          viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path id="pathcircle"
                            d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z"
                            stroke="#ddd"></path>
                          <path id="pathcheck" d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></button><span class="css-1buhy1h ee933652">헤어·바디·구강</span><span
                        class="css-ryw54y ee933651">2</span></a></li>
                  <li class="css-liheoa e1isxf3i1"><a
                      href="https://www.kurly.com/search?sword=%EC%9A%B0%EC%9C%A0&amp;page=1&amp;per_page=12&amp;sorted_type=4&amp;filters=category%3A085"
                      class="css-s5xdrg e1isxf3i0"><button class="css-17kh8wb ee933650"><svg width="18" height="18"
                          viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path id="pathcircle"
                            d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z"
                            stroke="#ddd"></path>
                          <path id="pathcheck" d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></button><span class="css-1buhy1h ee933652">가전제품</span><span
                        class="css-ryw54y ee933651">2</span></a></li>
                  <li class="css-liheoa e1isxf3i1"><a
                      href="https://www.kurly.com/search?sword=%EC%9A%B0%EC%9C%A0&amp;page=1&amp;per_page=12&amp;sorted_type=4&amp;filters=category%3A233"
                      class="css-s5xdrg e1isxf3i0"><button class="css-17kh8wb ee933650"><svg width="18" height="18"
                          viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path id="pathcircle"
                            d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z"
                            stroke="#ddd"></path>
                          <path id="pathcheck" d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></button><span class="css-1buhy1h ee933652">스킨케어·메이크업</span><span
                        class="css-ryw54y ee933651">2</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="css-1d3w5wq ef36txc5">
            <div class="css-1stur9s eudxpx34">
              <div class="css-crqql1 eudxpx33">총 170건</div>
              <ul class="css-1vmfy7j eudxpx32">
                <li class="css-5uzvtq eudxpx31">
                  <a href="" class="css-126imjl eudxpx30">추천순</a>
                </li>
                <li class="css-5uzvtq eudxpx31"><a href="" class="css-19ce13b eudxpx30">신상품순</a></li>
                <li class="css-5uzvtq eudxpx31"><a href="" class="css-19ce13b eudxpx30">판매량순</a></li>
                <li class="css-5uzvtq eudxpx31"><a href="" class="css-19ce13b eudxpx30">혜택순</a></li>
                <li class="css-5uzvtq eudxpx31"><a href="" class="css-19ce13b eudxpx30">낮은 가격순</a></li>
                <li class="css-5uzvtq eudxpx31"><a href="" class="css-19ce13b eudxpx30">높은 가격순</a></li>
              </ul>
            </div>
            <div class="css-15x6ap3 ef36txc4">
              <div href="" class="css-1xyd46f e1c07x4811">
                <div class="css-0 e1c07x489">
                  <div class="e1c07x4810 css-1mlybuj e3um3060">
                    <img src="https://img-cf.kurly.com/cdn-cgi/image/width=676,format=auto/shop/data/goods/1637154205701l0.jpg">
                    <div>
                      <button type="button" class="e1c07x488 css-1lapv13 e17x72af0">
                        <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDUiIGhlaWdodD0iNDUiIHZpZXdCb3g9IjAgMCA0NSA0NSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGNpcmNsZSBmaWxsPSIjMkEwMDM4IiBvcGFjaXR5PSIuNSIgY3g9IjIyLjUiIGN5PSIyMi41IiByPSIyMi41Ii8+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTEuMDMgMTQuMzgpIiBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0ibTIwLjQ2IDIuOTEtMi4xNyA5LjIzSDUuODdMMy43MSAyLjkxeiIvPgogICAgICAgICAgICA8Y2lyY2xlIHN0cm9rZS13aWR0aD0iMS4yIiBjeD0iMTYuMzUiIGN5PSIxNi44NiIgcj0iMS43Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLXdpZHRoPSIxLjIiIGN4PSI3LjgyIiBjeT0iMTYuODYiIHI9IjEuNyIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0iTTAgMGgzLjAybDEuNDEgNS45OCIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==">
                      </button>
                    </div>
                  </div>
                </div>
                <div class="css-c1cgl e1c07x486"><span class="css-1qd61ut e1ms5t9c1"><span
                      class="css-1mp68i5 e1ms5t9c0">샛별배송</span></span><span class="css-rklo75 e1c07x485">[연세우유 x 마켓컬리]
                    전용목장우유 900mL</span>
                  <div class="e1c07x484 css-1sieafg ei5rudb2">
                    <div></div><span class="sales-price css-18tpqqq ei5rudb1">2,070<span class="won"> 원</span></span>
                  </div>
                  <p class="css-13g46z0 e1c07x483">가격, 퀄리티 모두 만족스러운 1A등급 우유</p>
                  <div class="css-1hrnl0u e1cvv2hm1"><span class="css-1e5t2sz e1cvv2hm0">Kurly Only</span><span
                      class="css-1er7oa7 e1cvv2hm0">재활용 우수</span></div>
                </div>
              </div>
              <div href="/goods/5007540" class="css-1xyd46f e1c07x4811">
                <div class="css-0 e1c07x489">
                  <div class="e1c07x4810 css-1mlybuj e3um3060"><img
                      src="https://img-cf.kurly.com/cdn-cgi/image/width=676,format=auto/shop/data/goods/1646638953618l0.jpg"
                      alt="상품 이미지" loading="lazy">
                    <div><button type="button" class="e1c07x488 css-1lapv13 e17x72af0"><img
                          src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDUiIGhlaWdodD0iNDUiIHZpZXdCb3g9IjAgMCA0NSA0NSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGNpcmNsZSBmaWxsPSIjMkEwMDM4IiBvcGFjaXR5PSIuNSIgY3g9IjIyLjUiIGN5PSIyMi41IiByPSIyMi41Ii8+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTEuMDMgMTQuMzgpIiBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0ibTIwLjQ2IDIuOTEtMi4xNyA5LjIzSDUuODdMMy43MSAyLjkxeiIvPgogICAgICAgICAgICA8Y2lyY2xlIHN0cm9rZS13aWR0aD0iMS4yIiBjeD0iMTYuMzUiIGN5PSIxNi44NiIgcj0iMS43Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLXdpZHRoPSIxLjIiIGN4PSI3LjgyIiBjeT0iMTYuODYiIHI9IjEuNyIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0iTTAgMGgzLjAybDEuNDEgNS45OCIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg=="
                          alt="장바구니 아이콘"></button></div>
                  </div>
                </div>
                <div class="css-c1cgl e1c07x486"><span class="css-1qd61ut e1ms5t9c1"><span
                      class="css-1mp68i5 e1ms5t9c0">샛별배송</span></span><span class="css-rklo75 e1c07x485">[상하목장] 유기농 우유
                    &amp; 저지방 우유 750mL 2종</span>
                  <div class="e1c07x484 css-1sieafg ei5rudb2">
                    <div></div><span class="sales-price css-18tpqqq ei5rudb1">4,900<span class="won"> 원</span></span>
                  </div>
                  <p class="css-13g46z0 e1c07x483">행복한 소가 만들어낸 행복한 한 모금 </p>
                </div>
              </div>
              <div href="/goods/5049727" class="css-1xyd46f e1c07x4811">
                <div class="css-0 e1c07x489">
                  <div class="e1c07x4810 css-1mlybuj e3um3060"><img
                      src="https://img-cf.kurly.com/cdn-cgi/image/width=676,format=auto/shop/data/goods/1583462074699l0.jpg"
                      alt="상품 이미지" loading="lazy">
                    <div><button type="button" class="e1c07x488 css-1lapv13 e17x72af0"><img
                          src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDUiIGhlaWdodD0iNDUiIHZpZXdCb3g9IjAgMCA0NSA0NSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGNpcmNsZSBmaWxsPSIjMkEwMDM4IiBvcGFjaXR5PSIuNSIgY3g9IjIyLjUiIGN5PSIyMi41IiByPSIyMi41Ii8+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTEuMDMgMTQuMzgpIiBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0ibTIwLjQ2IDIuOTEtMi4xNyA5LjIzSDUuODdMMy43MSAyLjkxeiIvPgogICAgICAgICAgICA8Y2lyY2xlIHN0cm9rZS13aWR0aD0iMS4yIiBjeD0iMTYuMzUiIGN5PSIxNi44NiIgcj0iMS43Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLXdpZHRoPSIxLjIiIGN4PSI3LjgyIiBjeT0iMTYuODYiIHI9IjEuNyIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0iTTAgMGgzLjAybDEuNDEgNS45OCIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg=="
                          alt="장바구니 아이콘"></button></div>
                  </div>
                </div>
                <div class="css-c1cgl e1c07x486"><span class="css-1qd61ut e1ms5t9c1"><span
                      class="css-1mp68i5 e1ms5t9c0">샛별배송</span></span><span class="css-rklo75 e1c07x485">[서울우유] 나 100%
                    우유 1.8L</span>
                  <div class="e1c07x484 css-1sieafg ei5rudb2">
                    <div></div><span class="sales-price css-18tpqqq ei5rudb1">4,990<span class="won"> 원</span></span>
                  </div>
                  <p class="css-13g46z0 e1c07x483">서울우유의 믿을 수 있는 품질! 든든한 용량 1등급 우유</p>
                </div>
              </div>
              <div href="/goods/5044571" class="css-1xyd46f e1c07x4811">
                <div class="css-0 e1c07x489">
                  <div class="e1c07x4810 css-1mlybuj e3um3060"><img
                      src="https://img-cf.kurly.com/cdn-cgi/image/width=676,format=auto/shop/data/goods/1637921690477l0.jpg"
                      alt="상품 이미지" loading="lazy">
                    <div><button type="button" class="e1c07x488 css-1lapv13 e17x72af0"><img
                          src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDUiIGhlaWdodD0iNDUiIHZpZXdCb3g9IjAgMCA0NSA0NSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGNpcmNsZSBmaWxsPSIjMkEwMDM4IiBvcGFjaXR5PSIuNSIgY3g9IjIyLjUiIGN5PSIyMi41IiByPSIyMi41Ii8+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTEuMDMgMTQuMzgpIiBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0ibTIwLjQ2IDIuOTEtMi4xNyA5LjIzSDUuODdMMy43MSAyLjkxeiIvPgogICAgICAgICAgICA8Y2lyY2xlIHN0cm9rZS13aWR0aD0iMS4yIiBjeD0iMTYuMzUiIGN5PSIxNi44NiIgcj0iMS43Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLXdpZHRoPSIxLjIiIGN4PSI3LjgyIiBjeT0iMTYuODYiIHI9IjEuNyIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0iTTAgMGgzLjAybDEuNDEgNS45OCIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg=="
                          alt="장바구니 아이콘"></button></div>
                  </div>
                </div>
                <div class="css-c1cgl e1c07x486"><span class="css-1qd61ut e1ms5t9c1"><span
                      class="css-1mp68i5 e1ms5t9c0">샛별배송</span></span><span class="css-rklo75 e1c07x485">[서울우유] 나 100%
                    우유 1000mL</span>
                  <div class="e1c07x484 css-1sieafg ei5rudb2">
                    <div></div><span class="sales-price css-18tpqqq ei5rudb1">2,710<span class="won"> 원</span></span>
                  </div>
                  <p class="css-13g46z0 e1c07x483">서울우유의 믿을 수 있는 품질! 우리나라 대표 1A 우유</p>
                </div>
              </div>
              <div href="/goods/5048852" class="css-1xyd46f e1c07x4811">
                <div class="css-0 e1c07x489">
                  <div class="e1c07x4810 css-1mlybuj e3um3060"><img
                      src="https://img-cf.kurly.com/cdn-cgi/image/width=676,format=auto/shop/data/goods/1645694606714l0.jpg"
                      alt="상품 이미지" loading="lazy">
                    <div><button type="button" class="e1c07x488 css-1lapv13 e17x72af0"><img
                          src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDUiIGhlaWdodD0iNDUiIHZpZXdCb3g9IjAgMCA0NSA0NSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGNpcmNsZSBmaWxsPSIjMkEwMDM4IiBvcGFjaXR5PSIuNSIgY3g9IjIyLjUiIGN5PSIyMi41IiByPSIyMi41Ii8+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTEuMDMgMTQuMzgpIiBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0ibTIwLjQ2IDIuOTEtMi4xNyA5LjIzSDUuODdMMy43MSAyLjkxeiIvPgogICAgICAgICAgICA8Y2lyY2xlIHN0cm9rZS13aWR0aD0iMS4yIiBjeD0iMTYuMzUiIGN5PSIxNi44NiIgcj0iMS43Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLXdpZHRoPSIxLjIiIGN4PSI3LjgyIiBjeT0iMTYuODYiIHI9IjEuNyIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0iTTAgMGgzLjAybDEuNDEgNS45OCIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg=="
                          alt="장바구니 아이콘"></button></div>
                  </div>
                </div>
                <div class="css-c1cgl e1c07x486"><span class="css-1qd61ut e1ms5t9c1"><span
                      class="css-1mp68i5 e1ms5t9c0">샛별배송</span></span><span class="css-rklo75 e1c07x485">[상하목장] 유기농 우유
                    900mL</span>
                  <div class="e1c07x484 css-1sieafg ei5rudb2">
                    <div></div><span class="sales-price css-18tpqqq ei5rudb1">4,580<span class="won"> 원</span></span>
                  </div>
                  <p class="css-13g46z0 e1c07x483">넉넉하게 만나는 유기농 우유</p>
                </div>
              </div>
              <div href="/goods/5034152" class="css-1xyd46f e1c07x4811">
                <div class="css-0 e1c07x489">
                  <div class="e1c07x4810 css-1mlybuj e3um3060"><img
                      src="https://product-image.kurly.com/cdn-cgi/image/width=676,format=auto/product/image/53d88b56-ee1e-4405-9a7d-710eaf9af72e.jpg"
                      alt="상품 이미지" loading="lazy">
                    <div><button type="button" class="e1c07x488 css-1lapv13 e17x72af0"><img
                          src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDUiIGhlaWdodD0iNDUiIHZpZXdCb3g9IjAgMCA0NSA0NSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGNpcmNsZSBmaWxsPSIjMkEwMDM4IiBvcGFjaXR5PSIuNSIgY3g9IjIyLjUiIGN5PSIyMi41IiByPSIyMi41Ii8+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTEuMDMgMTQuMzgpIiBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0ibTIwLjQ2IDIuOTEtMi4xNyA5LjIzSDUuODdMMy43MSAyLjkxeiIvPgogICAgICAgICAgICA8Y2lyY2xlIHN0cm9rZS13aWR0aD0iMS4yIiBjeD0iMTYuMzUiIGN5PSIxNi44NiIgcj0iMS43Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLXdpZHRoPSIxLjIiIGN4PSI3LjgyIiBjeT0iMTYuODYiIHI9IjEuNyIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0iTTAgMGgzLjAybDEuNDEgNS45OCIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg=="
                          alt="장바구니 아이콘"></button></div>
                  </div>
                </div>
                <div class="css-c1cgl e1c07x486"><span class="css-1qd61ut e1ms5t9c1"><span
                      class="css-1mp68i5 e1ms5t9c0">샛별배송</span></span><span class="css-rklo75 e1c07x485">[매일] 소화가 잘되는
                    우유 930mL 2종</span>
                  <div class="e1c07x484 css-1sieafg ei5rudb2">
                    <div></div><span class="sales-price css-18tpqqq ei5rudb1">3,290<span class="won"> 원</span></span>
                  </div>
                  <p class="css-13g46z0 e1c07x483">유당은 제거하고 칼슘은 높인</p>
                </div>
              </div>
              <div href="/goods/5060807" class="css-1xyd46f e1c07x4811">
                <div class="css-0 e1c07x489">
                  <div class="e1c07x4810 css-1mlybuj e3um3060"><img
                      src="https://img-cf.kurly.com/cdn-cgi/image/width=676,format=auto/shop/data/goods/1607314173577l0.jpg"
                      alt="상품 이미지" loading="lazy">
                    <div><button type="button" class="e1c07x488 css-1lapv13 e17x72af0"><img
                          src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDUiIGhlaWdodD0iNDUiIHZpZXdCb3g9IjAgMCA0NSA0NSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGNpcmNsZSBmaWxsPSIjMkEwMDM4IiBvcGFjaXR5PSIuNSIgY3g9IjIyLjUiIGN5PSIyMi41IiByPSIyMi41Ii8+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTEuMDMgMTQuMzgpIiBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0ibTIwLjQ2IDIuOTEtMi4xNyA5LjIzSDUuODdMMy43MSAyLjkxeiIvPgogICAgICAgICAgICA8Y2lyY2xlIHN0cm9rZS13aWR0aD0iMS4yIiBjeD0iMTYuMzUiIGN5PSIxNi44NiIgcj0iMS43Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLXdpZHRoPSIxLjIiIGN4PSI3LjgyIiBjeT0iMTYuODYiIHI9IjEuNyIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0iTTAgMGgzLjAybDEuNDEgNS45OCIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg=="
                          alt="장바구니 아이콘"></button></div>
                  </div>
                </div>
                <div class="css-c1cgl e1c07x486"><span class="css-1qd61ut e1ms5t9c1"><span
                      class="css-1mp68i5 e1ms5t9c0">샛별배송</span></span><span class="css-rklo75 e1c07x485">[우유공식] 무항생제
                    우유 900ml</span>
                  <div class="e1c07x484 css-1sieafg ei5rudb2">
                    <div></div><span class="sales-price css-18tpqqq ei5rudb1">3,200<span class="won"> 원</span></span>
                  </div>
                  <p class="css-13g46z0 e1c07x483">목장의 과학으로 만든 우유</p>
                  <div class="css-1hrnl0u e1cvv2hm1"><span class="css-1e5t2sz e1cvv2hm0">Kurly Only</span></div>
                </div>
              </div>
              <div href="/goods/5049893" class="css-1xyd46f e1c07x4811">
                <div class="css-0 e1c07x489">
                  <div class="e1c07x4810 css-1mlybuj e3um3060"><img
                      src="https://img-cf.kurly.com/cdn-cgi/image/width=676,format=auto/shop/data/goods/1585707320997l0.jpg"
                      alt="상품 이미지" loading="lazy">
                    <div><button type="button" class="e1c07x488 css-1lapv13 e17x72af0"><img
                          src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDUiIGhlaWdodD0iNDUiIHZpZXdCb3g9IjAgMCA0NSA0NSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGNpcmNsZSBmaWxsPSIjMkEwMDM4IiBvcGFjaXR5PSIuNSIgY3g9IjIyLjUiIGN5PSIyMi41IiByPSIyMi41Ii8+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTEuMDMgMTQuMzgpIiBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0ibTIwLjQ2IDIuOTEtMi4xNyA5LjIzSDUuODdMMy43MSAyLjkxeiIvPgogICAgICAgICAgICA8Y2lyY2xlIHN0cm9rZS13aWR0aD0iMS4yIiBjeD0iMTYuMzUiIGN5PSIxNi44NiIgcj0iMS43Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLXdpZHRoPSIxLjIiIGN4PSI3LjgyIiBjeT0iMTYuODYiIHI9IjEuNyIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0iTTAgMGgzLjAybDEuNDEgNS45OCIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg=="
                          alt="장바구니 아이콘"></button></div>
                  </div>
                </div>
                <div class="css-c1cgl e1c07x486"><span class="css-1qd61ut e1ms5t9c1"><span
                      class="css-1mp68i5 e1ms5t9c0">샛별배송</span></span><span class="css-rklo75 e1c07x485">[매일] 오리지널 우유
                    1.5L</span>
                  <div class="e1c07x484 css-1sieafg ei5rudb2">
                    <div></div><span class="sales-price css-18tpqqq ei5rudb1">4,390<span class="won"> 원</span></span>
                  </div>
                  <p class="css-13g46z0 e1c07x483">세균수 1A 등급의 신선한 우유</p>
                </div>
              </div>
              <div href="/goods/5048854" class="css-1xyd46f e1c07x4811">
                <div class="css-0 e1c07x489">
                  <div class="e1c07x4810 css-1mlybuj e3um3060"><img
                      src="https://img-cf.kurly.com/cdn-cgi/image/width=676,format=auto/shop/data/goods/1653034416980l0.jpg"
                      alt="상품 이미지" loading="lazy">
                    <div><button type="button" class="e1c07x488 css-1lapv13 e17x72af0"><img
                          src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDUiIGhlaWdodD0iNDUiIHZpZXdCb3g9IjAgMCA0NSA0NSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGNpcmNsZSBmaWxsPSIjMkEwMDM4IiBvcGFjaXR5PSIuNSIgY3g9IjIyLjUiIGN5PSIyMi41IiByPSIyMi41Ii8+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTEuMDMgMTQuMzgpIiBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0ibTIwLjQ2IDIuOTEtMi4xNyA5LjIzSDUuODdMMy43MSAyLjkxeiIvPgogICAgICAgICAgICA8Y2lyY2xlIHN0cm9rZS13aWR0aD0iMS4yIiBjeD0iMTYuMzUiIGN5PSIxNi44NiIgcj0iMS43Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLXdpZHRoPSIxLjIiIGN4PSI3LjgyIiBjeT0iMTYuODYiIHI9IjEuNyIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0iTTAgMGgzLjAybDEuNDEgNS45OCIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg=="
                          alt="장바구니 아이콘"></button></div>
                  </div>
                </div>
                <div class="css-c1cgl e1c07x486"><span class="css-1qd61ut e1ms5t9c1"><span
                      class="css-1mp68i5 e1ms5t9c0">샛별배송</span></span><span class="css-rklo75 e1c07x485">[매일] 매일우유
                    후레쉬팩 오리지널 900mL</span>
                  <div class="e1c07x484 css-1sieafg ei5rudb2">
                    <div></div><span class="sales-price css-18tpqqq ei5rudb1">2,610<span class="won"> 원</span></span>
                  </div>
                  <p class="css-13g46z0 e1c07x483">신선함과 고소함을 더한 살균 우유</p>
                </div>
              </div>
              <div href="/goods/5001691" class="css-1xyd46f e1c07x4811">
                <div class="css-0 e1c07x489">
                  <div class="e1c07x4810 css-1mlybuj e3um3060"><img
                      src="https://img-cf.kurly.com/cdn-cgi/image/width=676,format=auto/shop/data/goods/1628558475434l0.jpg"
                      alt="상품 이미지" loading="lazy">
                    <div><button type="button" class="e1c07x488 css-1lapv13 e17x72af0"><img
                          src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDUiIGhlaWdodD0iNDUiIHZpZXdCb3g9IjAgMCA0NSA0NSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGNpcmNsZSBmaWxsPSIjMkEwMDM4IiBvcGFjaXR5PSIuNSIgY3g9IjIyLjUiIGN5PSIyMi41IiByPSIyMi41Ii8+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTEuMDMgMTQuMzgpIiBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0ibTIwLjQ2IDIuOTEtMi4xNyA5LjIzSDUuODdMMy43MSAyLjkxeiIvPgogICAgICAgICAgICA8Y2lyY2xlIHN0cm9rZS13aWR0aD0iMS4yIiBjeD0iMTYuMzUiIGN5PSIxNi44NiIgcj0iMS43Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLXdpZHRoPSIxLjIiIGN4PSI3LjgyIiBjeT0iMTYuODYiIHI9IjEuNyIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0iTTAgMGgzLjAybDEuNDEgNS45OCIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg=="
                          alt="장바구니 아이콘"></button></div>
                  </div>
                </div>
                <div class="css-c1cgl e1c07x486"><span class="css-1qd61ut e1ms5t9c1"><span
                      class="css-1mp68i5 e1ms5t9c0">샛별배송</span></span><span class="css-rklo75 e1c07x485">[상하목장] 유기농 우유
                    3종</span>
                  <div class="e1c07x484 css-1sieafg ei5rudb2">
                    <div></div><span class="sales-price css-18tpqqq ei5rudb1">4,400<span class="won"> 원</span>~</span>
                  </div>
                  <p class="css-13g46z0 e1c07x483">행복한 소가 주는 자연의 선물</p>
                </div>
              </div>
              <div href="/goods/5044650" class="css-1xyd46f e1c07x4811">
                <div class="css-0 e1c07x489">
                  <div class="e1c07x4810 css-1mlybuj e3um3060"><img
                      src="https://img-cf.kurly.com/cdn-cgi/image/width=676,format=auto/shop/data/goods/1575961965803l0.jpg"
                      alt="상품 이미지" loading="lazy">
                    <div><button type="button" class="e1c07x488 css-1lapv13 e17x72af0"><img
                          src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDUiIGhlaWdodD0iNDUiIHZpZXdCb3g9IjAgMCA0NSA0NSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGNpcmNsZSBmaWxsPSIjMkEwMDM4IiBvcGFjaXR5PSIuNSIgY3g9IjIyLjUiIGN5PSIyMi41IiByPSIyMi41Ii8+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTEuMDMgMTQuMzgpIiBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0ibTIwLjQ2IDIuOTEtMi4xNyA5LjIzSDUuODdMMy43MSAyLjkxeiIvPgogICAgICAgICAgICA8Y2lyY2xlIHN0cm9rZS13aWR0aD0iMS4yIiBjeD0iMTYuMzUiIGN5PSIxNi44NiIgcj0iMS43Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLXdpZHRoPSIxLjIiIGN4PSI3LjgyIiBjeT0iMTYuODYiIHI9IjEuNyIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0iTTAgMGgzLjAybDEuNDEgNS45OCIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg=="
                          alt="장바구니 아이콘"></button></div>
                  </div>
                </div>
                <div class="css-c1cgl e1c07x486"><span class="css-1qd61ut e1ms5t9c1"><span
                      class="css-1mp68i5 e1ms5t9c0">샛별배송</span></span><span class="css-rklo75 e1c07x485">[범산목장] 목초먹인
                    유기농 우유 1000mL</span>
                  <div class="e1c07x484 css-1sieafg ei5rudb2">
                    <div></div><span class="sales-price css-18tpqqq ei5rudb1">6,900<span class="won"> 원</span></span>
                  </div>
                  <p class="css-13g46z0 e1c07x483">강원도 목초 우유를 대용량으로</p>
                </div>
              </div>
              <div href="/goods/5049894" class="css-1xyd46f e1c07x4811">
                <div class="css-0 e1c07x489">
                  <div class="e1c07x4810 css-1mlybuj e3um3060"><img
                      src="https://img-cf.kurly.com/cdn-cgi/image/width=676,format=auto/shop/data/goods/1585707959594l0.jpg"
                      alt="상품 이미지" loading="lazy">
                    <div><button type="button" class="e1c07x488 css-1lapv13 e17x72af0"><img
                          src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDUiIGhlaWdodD0iNDUiIHZpZXdCb3g9IjAgMCA0NSA0NSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGNpcmNsZSBmaWxsPSIjMkEwMDM4IiBvcGFjaXR5PSIuNSIgY3g9IjIyLjUiIGN5PSIyMi41IiByPSIyMi41Ii8+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTEuMDMgMTQuMzgpIiBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0ibTIwLjQ2IDIuOTEtMi4xNyA5LjIzSDUuODdMMy43MSAyLjkxeiIvPgogICAgICAgICAgICA8Y2lyY2xlIHN0cm9rZS13aWR0aD0iMS4yIiBjeD0iMTYuMzUiIGN5PSIxNi44NiIgcj0iMS43Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLXdpZHRoPSIxLjIiIGN4PSI3LjgyIiBjeT0iMTYuODYiIHI9IjEuNyIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0iTTAgMGgzLjAybDEuNDEgNS45OCIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg=="
                          alt="장바구니 아이콘"></button></div>
                  </div>
                </div>
                <div class="css-c1cgl e1c07x486"><span class="css-1qd61ut e1ms5t9c1"><span
                      class="css-1mp68i5 e1ms5t9c0">샛별배송</span></span><span class="css-rklo75 e1c07x485">[매일] 저지방 우유
                    1.5L</span>
                  <div class="e1c07x484 css-1sieafg ei5rudb2">
                    <div></div><span class="sales-price css-18tpqqq ei5rudb1">4,390<span class="won"> 원</span></span>
                  </div>
                  <p class="css-13g46z0 e1c07x483">세균수 1A 등급의 저지방 우유</p>
                </div>
              </div>
            </div>
            <div class="css-rdz8z7 e82lnfz1"><a class="css-1d20dg7 e82lnfz0"><img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAHCAQAAABwkq/rAAAAHUlEQVR42mNgAIPi/8X/kWkwA8SE0UQIMJAsCKMBBzk27fqtkcYAAAAASUVORK5CYII="
                  alt="처음 페이지로 이동하기 아이콘"></a><a class="css-1d20dg7 e82lnfz0"><img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAHCAQAAABqrk9lAAAAGElEQVR42mNgAIPi/8X/4QwwE5PBQJADAAKSG3cyVhtXAAAAAElFTkSuQmCC"
                  alt="이전 페이지로 이동하기 아이콘"></a><a class="css-19yo1fh e82lnfz0">1</a><a
                class="css-1d20dg7 e82lnfz0">2</a><a class="css-1d20dg7 e82lnfz0">3</a><a
                class="css-1d20dg7 e82lnfz0">4</a><a class="css-1d20dg7 e82lnfz0">5</a><a
                class="css-1d20dg7 e82lnfz0">6</a><a class="css-1d20dg7 e82lnfz0">7</a><a
                class="css-1d20dg7 e82lnfz0">8</a><a class="css-1d20dg7 e82lnfz0">9</a><a
                class="css-1d20dg7 e82lnfz0">10</a><a class="css-1d20dg7 e82lnfz0"><img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAHCAQAAABqrk9lAAAAGUlEQVR42mMo/l/8nwECQEwCHEwGhAlRBgA2mht3SwgzrwAAAABJRU5ErkJggg=="
                  alt="다음 페이지로 이동하기 아이콘"></a><a class="css-1d20dg7 e82lnfz0"><img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAHCAQAAABwkq/rAAAAIElEQVR42mMo/l/8n4GBgQFGQ5kgDowmQZCwAMImhDkAb0k27Zcisn8AAAAASUVORK5CYII="
                  alt="마지막 페이지로 이동하기 아이콘"></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<footer th:replace="main/footer.html" :: f></footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/main/js/header.js"></script>
</body>
</html>