<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
<link rel="stylesheet" href="/main/css/header.css">
<link rel="stylesheet" href="/main/css/footer.css">
<link rel="stylesheet" href="/search/css/searchDemo.css">
<link rel="stylesheet" href="/search/css/search.css">
<link rel="stylesheet" href="/search/css/modal.css">
<link rel="stylesheet" href="/search/css/topButton.css">
<style>
    * {
        font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    }
    li{
        list-style:none;
    }
</style>
<style data-emotion="css-global" data-s=""></style>
<style>
    svg:not(:root) {
        overflow: hidden;
    }

    svg {
        width: 48;
        height: 48;
        fill: none;
    }

    g {
        clip-path: url(#clip0_368_6766);
    }

    :not(svg) {
        transform-origin: 0px 0px;
    }

    #dod {
        d: path("M 22.0732 43.1463 C 33.7116 43.1463 43.1463 33.7116 43.1463 22.0732 C 43.1463 10.4348 33.7116 1 22.0732 1 C 10.4348 1 1 10.4348 1 22.0732 C 1 33.7116 10.4348 43.1463 22.0732 43.1463 Z");
        stroke: rgb(226, 226, 226);
        stroke-width: 2;
        stroke-linecap: round;
    }

    #bogi {
        d: path("M 47.8293 47.8291 L 37.2927 37.2925");
        stroke: rgb(226, 226, 226);
        stroke-width: 2;
        stroke-linecap: round;
    }
</style>

<body>
<!-- header -->
<header th:replace="main/header.html" :: h></header>
<!-- header 종료 -->
<div class="search_page" id="pageSearch">
    <div class="side_margin">
        <div id="container" class="content_width">
            <h3 class="search_section"th:if="${not #strings.isEmpty(keyword)}">'<span class="key_word" id="searchKey" th:text="${keyword}"></span>'에 대한 검색결과
                <span class="key_word" id="searchKey" th:unless="${not #strings.isEmpty(keyword)}"></span></h3>
            <div class="css-pzlq5x etf617g2">
                <!--필터 바 start-->
                <form name="filterBanner" id="filterBanner" onsubmit="return false">
                    <div class="css-1jgnig9 ev2ab494">
                        <div class="css-11y1fso ev2ab493"><span class="css-wy76no ev2ab492">필터</span>
                        </div>

                        <div>
                            <div class="category_section">
                                <button class="css-16ixplb e1frj59j9">
                                    <div class="css-1iwixyn e1frj59j8">카테고리</div>
                                </button>
                                <div class="categoryfilter">
                                    <div class="input_section">
                                        <div class="check_content">
                                            <label>
                                                <input name="filterBox" type="checkbox" class="check" id="vegetable" value="1" th:checked="${#lists.contains(filterSearchList,'1')}">
                                                <span th:class="'material-symbols-outlined check_img '+ ${#lists.contains(filterSearchList,'1') ? 'fill': ''}">check_circle</span>
                                                <span class="filter_name">채소</span>
                                            </label>
                                        </div>
                                        <div class="check_content">
                                            <label>
                                                <input name="filterBox" type="checkbox" class="check" id="fruit_nut_rice" value="2" th:checked="${#lists.contains(filterSearchList,'2')}">
                                                <span th:class="'material-symbols-outlined check_img '+ ${#lists.contains(filterSearchList,'2') ? 'fill': ''}">check_circle</span>
                                                <span class="filter_name">과일·견과·쌀</span>
                                            </label>
                                        </div>
                                        <div class="check_content">
                                            <label>
                                                <input name="filterBox" type="checkbox" class="check" id="seafood" value="3" th:checked="${#lists.contains(filterSearchList,'3')}">
                                                <span th:class="'material-symbols-outlined check_img '+ ${#lists.contains(filterSearchList,'3') ? 'fill': ''}">check_circle</span>
                                                <span class="filter_name">수산·해산·건어물</span>
                                            </label>
                                        </div>
                                        <div class="check_content">
                                            <label>
                                                <input name="filterBox" type="checkbox" class="check" id="meat_egg" value="4" th:checked="${#lists.contains(filterSearchList,'4')}">
                                                <span th:class="'material-symbols-outlined check_img '+ ${#lists.contains(filterSearchList,'4') ? 'fill': ''}">check_circle</span>
                                                <span class="filter_name">정육·계란</span>
                                            </label>
                                        </div>
                                        <div class="check_content">
                                            <label>
                                                <input name="filterBox" type="checkbox" class="check" id="soup_side_main" value="5" th:checked="${#lists.contains(filterSearchList,'5')}">
                                                <span th:class="'material-symbols-outlined check_img '+ ${#lists.contains(filterSearchList,'5') ? 'fill': ''}">check_circle</span>
                                                <span class="filter_name">국·반찬·메인요리</span>
                                            </label>
                                        </div>
                                        <div class="check_content">
                                            <label>
                                                <input name="filterBox" type="checkbox" class="check" id="salad" value="6" th:checked="${#lists.contains(filterSearchList,'6')}">
                                                <span th:class="'material-symbols-outlined check_img '+ ${#lists.contains(filterSearchList,'6') ? 'fill': ''}">check_circle</span>
                                                <span class="filter_name">샐러드·간편식</span>
                                            </label>
                                        </div>
                                        <div class="check_content">
                                            <label>
                                                <input name="filterBox" type="checkbox" class="check" id="noodle_sauce_oil" value="7" th:checked="${#lists.contains(filterSearchList,'7')}">
                                                <span th:class="'material-symbols-outlined check_img '+ ${#lists.contains(filterSearchList,'7') ? 'fill': ''}">check_circle</span>
                                                <span class="filter_name">면·양념·오일</span>
                                            </label>
                                        </div>
                                        <div class="check_content">
                                            <label>
                                                <input name="filterBox" type="checkbox" class="check" id="drink" value="8" th:checked="${#lists.contains(filterSearchList,'8')}">
                                                <span th:class="'material-symbols-outlined check_img '+ ${#lists.contains(filterSearchList,'8') ? 'fill': ''}">check_circle</span>
                                                <span class="filter_name">생수·음료·우유·커피</span>
                                            </label>
                                        </div>
                                        <div class="check_content">
                                            <label>
                                                <input name="filterBox" type="checkbox" class="check" id="snack" value="9" th:checked="${#lists.contains(filterSearchList,'9')}">
                                                <span th:class="'material-symbols-outlined check_img '+ ${#lists.contains(filterSearchList,'9') ? 'fill': ''}">check_circle</span>
                                                <span class="filter_name">간식·과자·떡</span>
                                            </label>
                                        </div>
                                        <div class="check_content">
                                            <label>
                                                <input name="filterBox" type="checkbox" class="check" id="bakery_cheese" value="10" th:checked="${#lists.contains(filterSearchList,'10')}">
                                                <span th:class="'material-symbols-outlined check_img '+ ${#lists.contains(filterSearchList,'10') ? 'fill': ''}">check_circle</span>
                                                <span class="filter_name">베이커리·치즈·델리</span>

                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
                <!--필터 바 end-->

                <div class="result_section">
                    <div class="result_info">
                        <div class="total_search" th:text="${'총 '+countList+'건'}"></div>
                        <ul class="pricefilter">
                            <li class="pricefilter_specify"><a id="pricelow1" class="pricefilter_a" onclick="fn_search(`lower`)"
                                                               onmouseover="this.style.color='#FF4500'" onMouseout="this.style.color='#B5B5B5';" >낮은 가격순</a></li>
                            <li class="pricefilter_specify"><a id="pricehigh1" class="pricefilter_a" onclick="fn_search(`higher`)"
                                                               onmouseover="this.style.color='#FF4500'" onMouseout="this.style.color='#B5B5B5';">높은 가격순</a></li>
                        </ul>
                    </div>

                    <!--상품 나열 start-->
                    <div class="product_grid">
                        <div href="/goods/5063110" class="product_content" th:each="product : ${productList}"
                           >
                            <div>
                                <div class="product_img_section">
                                    <a th:href="@{/product/categoryDetail(productNumber=${product.productNumber})}">
                                        <img th:src="@{${'https://img-cf.kurly.com/cdn-cgi/image/width=676,format=auto/shop/data/goods/'+product.productThumbnailName+'.jpg'}}">
                                    </a>

                                    <div>
                                        <button type="button" class="pickup"><img src="/search/images/cart.png"
                                                                                  alt="장바구니 아이콘">
                                            <input type="hidden" class="productNumber" th:value="${product.productNumber}">
                                            <input type="hidden" id="productSalePrice" th:value="${product.productSalePrice}">
                                            <input type="hidden" id="productName" th:value="${product.productName}">
                                            <input type="hidden" id="productPrice" th:value="${product.productPrice}">
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="product_info"><span class="delivery_info_section">
                                <span class="delivery_info">샛별배송</span></span>
                                <a th:href="@{/product/categoryDetail(productNumber=${product.productNumber})}">
                                <span class="product_name" th:text="${product.productName}"></span>
                                </a>
                                <div class="price_section">
                                    <div></div>
                                    <span class="sales-price" th:text="${#numbers.formatInteger(product.productPrice,1,'COMMA')+'원'}"></span>
                                </div>
                                <p class="mini_info"th:text="${product.productInformation}"> </p>
                            </div>
                        </div>

                        <!--상품 나열 end-->
                        <div class="css-pzlq5x etf617g2">
                            <div class="css-1d3w5wq ef36txc5">
                                <div height="480" class="css-19a5sw6 ef36txc3"><svg width="48" height="48" viewBox="0 0 48 48"
                                                                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_368_6766)">
                                        <path id="dod"
                                              d="M22.0732 43.1463C33.7116 43.1463 43.1463 33.7116 43.1463 22.0732C43.1463 10.4348 33.7116 1 22.0732 1C10.4348 1 1 10.4348 1 22.0732C1 33.7116 10.4348 43.1463 22.0732 43.1463Z"
                                              stroke="#e2e2e2" stroke-width="2" stroke-linecap="round"></path>
                                        <path id="bogi" d="M47.8293 47.8291L37.2927 37.2925" stroke="#e2e2e2"
                                              stroke-width="2" stroke-linecap="round">
                                        </path>
                                    </g>
                                    <defs>
                                        <clippath id="clip0_368_6766">
                                            <rect width="48" height="48" fill="#fff"></rect>
                                        </clippath>
                                    </defs>
                                </svg><span class="css-o337e7 ef36txc2">검색된 상품이 없습니다.</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer -->
            <footer th:replace="main/footer.html" :: f></footer>
            <!--modal-->
            <form id="modalForm">
                <div class="modalContainer" >
                    <div class="modalBox">
                        <div class="modal">
                            <div class="modalBody">
                                <div class="modalWrapper">
                                    <div class="modalContent">
                                        <input type="hidden" name="productNumber">
                                        <div class="modalProductName">
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="priceAndCount">
                                        <div>
                                            <span class="discountBox"></span>
                                            <span class="priceBox"></span>
                                        </div>
                                        <div class="product_cnt_box">
                                            <button type="button" class="minus"></button>
                                            <div class="cnt" id="cartCount">1</div>
                                            <button type="button" class="plus"></button>
                                        </div>
                                    </div>
                                    <div class="totalPriceBox">
                                        <div class="totalPriceInner">
                                            <div class="totalLine">
                                                <p>
                                                    합계
                                                </p>
                                                <div>
                                                    <span class="changePrice"></span>
                                                    <span class="totalWon">원</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pointBox">
                                            <span class="pointText">적립</span>
                                            <span class="pointCalText">구매 시
                                  <span class="realPoint">5% 적립
                                  </span>
                              </span>
                                        </div>
                                    </div>
                                    <div class="modalButtonBox">
                                        <button class="modalCancelButton" type="button">
                                            <span class="modalButtonText">취소</span>
                                        </button>
                                        <button type="button" class="modalOkButton addCart_btn">
                                            <span class="modalButtonText">장바구니 담기</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--modal end-->

            <!--상승버튼-->
            <div id="topButton" style="cursor: pointer; width: 60px; height: 60px;">
                <img src="/main/images/main/up.PNG" id="topButtonImg">
            </div>
            <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="/main/js/header.js"></script>
            <script th:inline="javascript" src="/search/js/search.js"></script>
            <script th:inline="javascript" src="/search/js/modal.js"></script>
            <script th:inline="javascript" src="/search/js/topButton.js"></script>
            <script th:inline="javascript">
                /*<![CDATA[*/
                let none = /*[[${countList}]]*/
                if(none == 0){
                    $(".pricefilter").hide();
                }else{
                    $(".ef36txc5").hide();
                }
                /*]]>*/
            </script>
</body>
</html>