<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
<link rel="stylesheet" th:href="@{/main/css/header.css}">
<link rel="stylesheet" th:href="@{/main/css/footer.css}">
<link rel="stylesheet" th:href="@{/product/css/searchDemo.css}">
<link rel="stylesheet" th:href="@{/product/css/search.css}">
<link rel="stylesheet" th:href="@{/product/css/modal.css}">

<style>
    * {
        font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    }
</style>

<body>
<!-- header -->
<header th:replace="main/header.html" :: h></header>
<!-- header 종료 -->
<div class="search_page">
    <div class="side_margin">
        <div id="container" class="content_width">
            <h3 class="search_section">베스트</h3>
            <div class="css-pzlq5x etf617g2">
                <!--필터 바 start-->
                <form name="filterBanner" id="filterBanner" onsubmit="return false">
                    <div class="css-1jgnig9 ev2ab494">
                        <div class="css-11y1fso ev2ab493"><span class="css-wy76no ev2ab492">필터</span>

                        </div>

                        <div>
                            <div class="category_section">
                                <button class="css-16ixplb e1frj59j9">
                                    <div class="css-1iwixyn e1frj59j8">카테고리</div>
                                </button>
                                <div class="categoryfilter">
                                    <div class="input_section">
                                        <div class="check_content">
                                            <label>
                                                <input name="filterBox" type="checkbox" class="check" id="vegetable" value="1" th:checked="${#lists.contains(filterSearchList,'1')}">
                                                <!--<span th:if="${#lists.contains(filterSearchList,'1')}"></span>-->
                                                <span th:class="'material-symbols-outlined check_img '+ ${#lists.contains(filterSearchList,'1') ? 'fill': ''}">check_circle</span>
                                                <span class="filter_name">채소</span>
                                            </label>
                                        </div>
                                        <div class="check_content">
                                            <label>
                                                <input name="filterBox" type="checkbox" class="check" id="fruit_nut_rice" value="2" th:checked="${#lists.contains(filterSearchList,'2')}">
                                                <span th:class="'material-symbols-outlined check_img '+ ${#lists.contains(filterSearchList,'2') ? 'fill': ''}">check_circle</span>
                                                <span class="filter_name">과일·견과·쌀</span>
                                            </label>
                                        </div>
                                        <div class="check_content">
                                            <label>
                                                <input name="filterBox" type="checkbox" class="check" id="seafood" value="3" th:checked="${#lists.contains(filterSearchList,'3')}">
                                                <span th:class="'material-symbols-outlined check_img '+ ${#lists.contains(filterSearchList,'3') ? 'fill': ''}">check_circle</span>
                                                <span class="filter_name">수산·해산·건어물</span>
                                            </label>
                                        </div>
                                        <div class="check_content">
                                            <label>
                                                <input name="filterBox" type="checkbox" class="check" id="meat_egg" value="4" th:checked="${#lists.contains(filterSearchList,'4')}">
                                                <span th:class="'material-symbols-outlined check_img '+ ${#lists.contains(filterSearchList,'4') ? 'fill': ''}">check_circle</span>
                                                <span class="filter_name">정육·계란</span>
                                            </label>
                                        </div>
                                        <div class="check_content">
                                            <label>
                                                <input name="filterBox" type="checkbox" class="check" id="soup_side_main" value="5" th:checked="${#lists.contains(filterSearchList,'5')}">
                                                <span th:class="'material-symbols-outlined check_img '+ ${#lists.contains(filterSearchList,'5') ? 'fill': ''}">check_circle</span>
                                                <span class="filter_name">국·반찬·메인요리</span>
                                            </label>
                                        </div>
                                        <div class="check_content">
                                            <label>
                                                <input name="filterBox" type="checkbox" class="check" id="salad" value="6" th:checked="${#lists.contains(filterSearchList,'6')}">
                                                <span th:class="'material-symbols-outlined check_img '+ ${#lists.contains(filterSearchList,'6') ? 'fill': ''}">check_circle</span>
                                                <span class="filter_name">샐러드·간편식</span>
                                            </label>
                                        </div>
                                        <div class="check_content">
                                            <label>
                                                <input name="filterBox" type="checkbox" class="check" id="noodle_sauce_oil" value="7" th:checked="${#lists.contains(filterSearchList,'7')}">
                                                <span th:class="'material-symbols-outlined check_img '+ ${#lists.contains(filterSearchList,'7') ? 'fill': ''}">check_circle</span>
                                                <span class="filter_name">면·양념·오일</span>
                                            </label>
                                        </div>
                                        <div class="check_content">
                                            <label>
                                                <input name="filterBox" type="checkbox" class="check" id="drink" value="8" th:checked="${#lists.contains(filterSearchList,'8')}">
                                                <span th:class="'material-symbols-outlined check_img '+ ${#lists.contains(filterSearchList,'8') ? 'fill': ''}">check_circle</span>
                                                <span class="filter_name">생수·음료·우유·커피</span>
                                            </label>
                                        </div>
                                        <div class="check_content">
                                            <label>
                                                <input name="filterBox" type="checkbox" class="check" id="snack" value="9" th:checked="${#lists.contains(filterSearchList,'9')}">
                                                <span th:class="'material-symbols-outlined check_img '+ ${#lists.contains(filterSearchList,'9') ? 'fill': ''}">check_circle</span>
                                                <span class="filter_name">간식·과자·떡</span>
                                            </label>
                                        </div>
                                        <div class="check_content">
                                            <label>
                                                <input name="filterBox" type="checkbox" class="check" id="bakery_cheese" value="10" th:checked="${#lists.contains(filterSearchList,'10')}">
                                                <span th:class="'material-symbols-outlined check_img '+ ${#lists.contains(filterSearchList,'10') ? 'fill': ''}">check_circle</span>
                                                <span class="filter_name">베이커리·치즈·델리</span>

                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
                <div class="result_section">
                    <div class="result_info">
                        <div class="total_search" th:text="총 + ${bestsTotal} + 건">총 170건</div>
                        <ul class="pricefilter">
                            <li class="pricefilter_specify"><a class="pricefilter_a pricelow">낮은 가격순</a></li>
                            <li class="pricefilter_specify"><a class="pricefilter_a pricehigh">높은 가격순</a></li>
                        </ul>
                    </div>
                    <div class="product_grid" >
                        <th:block th:each="product:${bests}">
                            <a class="read" th:href="@{/product/categoryDetail(productNumber=${product.productNumber})}">

                        <div class="product_content delivery_product_content" th:object="${product}">
                            <div>
                                <div class="product_img_section">
<!--                                    <img th:src="@{${item.getImgPath()}}">-->
                                    <img th:src="@{/partner/display(fileName=${product.productThumbnailName})}">
                                    <div><button type="button" class="pickup inputCart">
                                        <input type="hidden" class="productNumber" th:value="${product.productNumber}">
                                        <input type="hidden" id="productSalePrice" th:value="${product.productSalePrice}">
                                        <input type="hidden" id="productName" th:value="${product.productName}">
                                        <input type="hidden" id="productPrice" th:value="${product.productPrice}">
                                        <img src="/search/images/cart.png" alt="장바구니 아이콘"></button></div>

                                </div>
                            </div>
                            <div class="product_info"><span class="delivery_info_section"><span class="product_name" th:text="*{productName}"></span></span>
                                <div class="price_section" >
                                    <div></div><span class="sales-price" th:text="*{productSalePrice} + 원"></span>
                                </div>
                                <p class="mini_info" th:text="*{productOnelineInformation}"></p>
                            </div>

                        </div>
                            </a>
                        </th:block>
                    </div>

                    <div th:object="${pagination}" class="pagination">
                        <div style="text-align: center; display:flex">
                            <a class="changePage" th:href="*{startPage - 1}" th:if="*{prev}">
                                <code class="page_move">
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAHCAQAAABqrk9lAAAAGElEQVR42mNgAIPi/8X/4QwwE5PBQJADAAKSG3cyVhtXAAAAAElFTkSuQmCC"
                                            alt="이전 페이지로 이동하기 아이콘">
                                </code></a>
                            <th:block th:each="page:${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                                <a class="changePage" th:href="${page}" th:if="${pagination.productCriteria.page != page}"><code th:text="${page}" class="page_move"></code></a>
                                <code th:unless="${pagination.productCriteria.page != page}" th:text="${page}" class="page_move"></code>
                            </th:block>
                            <a class="changePage" th:href="*{endPage + 1}" th:if="*{next}"><code class="page_move currentPage">
                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAHCAQAAABqrk9lAAAAGUlEQVR42mMo/l/8nwECQEwCHEwGhAlRBgA2mht3SwgzrwAAAABJRU5ErkJggg=="
                                                                    alt="다음 페이지로 이동하기 아이콘">
                            </code></a>
                        </div>
                        <form th:action="@{/product/bestCategory}" th:object="${productCriteria}" name="pageForm">
                            <input type="hidden" th:field="*{page}">
                            <input type="hidden" th:field="*{amount}">
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<form id="modalForm">
    <div class="modalContainer" >
        <div class="modalBox">
            <div class="modal">
                <div class="modalBody">
                    <div class="modalWrapper">
                        <div class="modalContent">
                            <input type="hidden" name="productNumber">
                            <div class="modalProductName">
                                <span></span>
                            </div>
                        </div>
                        <div class="priceAndCount">
                            <div>
                                <span class="discountBox"></span>
                                <span class="priceBox"></span>
                            </div>
                            <div class="product_cnt_box">
                                <button type="button" class="minus"></button>
                                <div class="cnt" id="cartCount">1</div>
                                <button type="button" class="plus"></button>
                            </div>
                        </div>
                        <div class="totalPriceBox">
                            <div class="totalPriceInner">
                                <div class="totalLine">
                                    <p>
                                        합계
                                    </p>
                                    <div>
                                        <span class="changePrice"></span>
                                        <span class="totalWon">원</span>
                                    </div>
                                </div>
                            </div>
                            <div class="pointBox">
                                <span class="pointText">적립</span>
                                <span class="pointCalText">구매 시
                                  <span class="realPoint">5% 적립
                                  </span>
                              </span>
                            </div>
                        </div>
                        <div class="modalButtonBox">
                            <button class="modalCancelButton" type="button">
                                <span class="modalButtonText">취소</span>
                            </button>
                            <button type="button" class="modalOkButton addCart_btn">
                                <span class="modalButtonText">장바구니 담기</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!--modal end-->
<!-- footer -->
<footer th:replace="main/footer.html" :: f></footer>
<!-- modal -->

<footer th:replace="main/footer.html" :: f></footer>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/main/js/header.js}"></script>
<script th:src="@{/product/js/search.js}"></script>
<script th:src="@{/product/js/categoryModal.js}"></script>
<script th:src="@{/cart/js/cart.js}"></script>
<script th:inline="javascript">
    let productNumber = [[${productNumber}]];
    let $pages = $("a.changePage");
    let queryString = [[${pagination.productCriteria.queryString}]];


    $pages.on("click", function(e){
        e.preventDefault();
        $(document.pageForm.page).val($(this).attr("href"));
        document.pageForm.submit();
    });
</script>

</body>
</html>
