<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Noto Sans KR -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap"
          rel="stylesheet">
    <!-- css -->
    <!--    <link rel="stylesheet" href="/Project/serviceCenter/css/serviceNotice.css">-->
    <link rel="stylesheet" th:href="@{/product/css/categoryDetail.css}">
    <link rel="stylesheet" th:href="@{/product/css/modal.css}">
    <link rel="stylesheet" th:href="@{/main/css/header.css}">
    <link rel="stylesheet" th:href="@{/main/css/footer.css}">



</head>
<body>
<header th:replace="main/header.html" :: h></header>
<div id="detail">
    <main>
        <div class="detail_img">
            <!--            <img th:src="@{${item.getImgPath()}}">-->
        </div>
        <section>
            <div class="title_top">일반상품</div>
            <div>
                <div class="title">
                    <h1 th:text="${product.productName}"></h1>
                </div>
                <h2 class="title_bottom" th:text="${product.productOnelineInformation}">든든하고 푸짐한 한 그릇</h2>
            </div>
            <h2 class="price">
                <span class="sale_percent" th:text="${product.productSalePercent}"></span><span
                    style="color:rgb(250, 98, 47);">%</span>
                <span th:text="${product.productSalePrice}"></span>
                <span>원</span>
            </h2>
            <span class="price_origin" th:text="${product.productPrice}"></span>
            <div class="login_sale">해당 상품 구매 시, 5% 적립 됩니다.</div>
            <div class="selling_detail">
                <dl>
                    <dt>판매자</dt>
                    <dd>
                        <p>파트너1</p>
                    </dd>
                </dl>
                <dl>
                    <dt>상품기한</dt>
                    <dd>
                        <p>제조일자 - 유통기한</p>
                        <p style="display:flex">
                            <span th:text="${product.productManufactureDate}">2022.11.19</span>
                            <span style="padding: 0px 10px 0px 10px;"> - </span>
                            <span th:text="${product.productExpirationDate}">2022.11.30</span>
                        </p>
                    </dd>
                </dl>
                <dl>
                    <dt>안내사항</dt>
                    <dd>
                        <p>- 모든 제품은 정품 검수 완료된 상품으로, 박스 개봉 이후에는 교환 및 반품은 불가 한 점 양해 부탁 드립니다.</p>
                    </dd>
                </dl>
            </div>
            <div>
                <div class="selling_detail">
                    <dl>
                        <dt>상품선택</dt>
                        <div class="selling_choice">
                            <div class="product_name">
                                <span th:text="${product.productName}">[강남면옥] 갈비탕</span>
                            </div>
                            <div class="product_detail_cnt_box">
                                <div class="product_cnt">
                                    <button class="minus"></button>
                                    <div class="cnt">1</div>
                                    <button class="plus"></button>
                                </div>
                                <div class="cnt_price">
                                    <span th:text="${product.productPrice}"></span>
                                    <span>원</span>
                                </div>
                            </div>
                        </div>
                    </dl>
                </div>
                <div>
                    <div>
                        <div class="total_price">
                            <span>총 상품금액 :</span>
                            <span class="changePrice" th:text="${product.productSalePrice}"></span>
                            <span>원</span>
                        </div>
                        <div class="total_point">
                            <span>적립</span>
                            <span>구매 시, 5% 적립 혜택</span>
                        </div>
                    </div>
                </div>
                <div class="purchase_button">
                    <!-- <button class="btn">
                        <span>
                            <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIHN0cm9rZT0iI0NDQyIgc3Ryb2tlLXdpZHRoPSIxLjYiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTEyLjY2NiAyM2EzLjMzMyAzLjMzMyAwIDEgMCA2LjY2NiAwIi8+CiAgICAgICAgPHBhdGggZD0iTTI1Ljk5OCAyMi43MzhINmwuMDEzLS4wM2MuMDc2LS4xMzUuNDcxLS43MDQgMS4xODYtMS43MDlsLjc1LTEuMDV2LTYuNjM1YzAtNC40ODUgMy40MzgtOC4xNCA3Ljc0MS04LjMwOEwxNiA1YzQuNDQ2IDAgOC4wNSAzLjcyMiA4LjA1IDguMzE0djYuNjM0bDEuNzA3IDIuNDExYy4xNzMuMjUzLjI1NC4zOC4yNDIuMzh6IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KICAgIDwvZz4KPC9zdmc+Cg==" alt="">
                        </span>
                    </button> -->
                    <button class="heart_button btn">
                            <span>
                                <img src="/product/images/heart.png"
                                     class="blankHeart" style="width:24px;">
                            </span>
                    </button>
                    <!--                    <button class="in_cart" onclick="location.href='/cart/list'">-->
                    <button class="in_cart">
                        <a th:href="@{/cart/list}"></a>
                        <span>장바구니 담기</span>
                    </button>
                    <!-- <div class="cart_btn_area"></div> -->
                </div>
            </div>
        </section>
    </main>
    <div>
        <nav class="product_nav">
            <ul>
                <li>
                    <a href="#product_wrap">
                        <span class="name">상품설명</span>
                    </a>
                </li>
                <li>
                    <a href="#review_wrap">
                        <span class="name">상품리뷰</span>
                        <span class="count">(9,999+)</span>
                    </a>
                </li>
                <li>
                    <a href="#seller_wrap">
                        <span class="name">판매자정보</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div>
            <!-- 상품설명 -->
            <div id="description" class="product_content">
                <div class="product_wrap" id="product_wrap">
                    <div class="product_intro">
                        <div>
                            <!--                            <img th:src="@{${item.getImgPath()}}">-->
                            <img src="https://img-cf.kurly.com/shop/data/goodsview/20200420/gv10000091198_1.jpg">
                        </div>
                        <div class="product_context">
                            <h3>
                                <small th:text="${product.productOnelineInformation}"></small>
                                <p th:text="${product.productName}"></p>
                            </h3>

                            <p class="words" th:text="${product.productInformation}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 상품리뷰 -->
            <div class="review_wrap product_content" id="review_wrap">
                <section>
                    <header>
                        <h2>상품후기</h2>
                    </header>
                    <ul>
                        <li>사진후기 100원, 글후기 50원 적립금 혜택이 있어요.</li>
                        <li>주간 베스트 후기로 선정 시 5,000원을 추가 적립</li>
                        <li>후기 작성은 배송완료일로부터 30일 이내 가능합니다.</li>
                        <li>작성하신 후기는 확인 후 적립금이 지급됩니다. (영업일 기준 평균 1~2일 소요)</li>
                    </ul>
                    <div class="reviews">
                        <div class="reviews_cnt">
                            <span>총 27,220개</span>
                        </div>
                        <div class="review_not_div">

                        </div>
                        <ul class="review_content_ul">
                            <!--                         review start -->
<!--                            <div class="review">-->
<!--                                <div class="member_name_area">-->
<!--                                    <div class="member_name">-->
<!--                                        <span>공**</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <article>-->
<!--                                    <div class="review_detail">-->
<!--                                        <div class="review_prod_title">-->
<!--                                            <h3>[강남면옥] 갈비탕</h3>-->
<!--                                        </div>-->
<!--                                        <p>유명하길래 냅다 픽해봤어요 맛있길 바라며</p>-->
<!--                                        <div class="review_img">-->
<!--                                            <button></button>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <footer>-->
<!--                                        <span>2022.11.19</span>-->
<!--                                    </footer>-->
<!--                                </article>-->
<!--                            </div>-->
                            <!--                         review end -->

                        </ul>
                        <div class="review_pageInfo_div">
                            <div class="pageButtonBox">
                                <div class="pageButtons">
                                    <button disabled type="button" class="prevButton">
                                        <div class="prevMessage">이전</div>
                                    </button>
                                    <button type="button" class="nextButton">
                                        <div class="nextMessage">다음</div>
                                    </button>
                                </div>
                            </div>
                        </div>



                </section>
                <!-- 판매자정보 -->
                <div class="seller review_wrap product_content" id="seller_wrap">
                    <section>
                        <header>
                            <h2>판매자 정보</h2>
                        </header>
                        <ul>
                            <li>판매자 정보를 제공하는 공간입니다.</li>
                            <li>제공되는 전화번호나 연락수단으로 상품에 대한 문의를 할 수 있습니다.</li>
                        </ul>
                        <ul style="padding-top: 0px;">
                            <li>회사명</li>
                            <li>컬리</li>
                            <li>홈페이지</li>
                            <li><a href="https://www.naver.com" target="_blank">https://www.naver.com</a></li>
                            <li>대표자명</li>
                            <li>홍길동</li>
                            <li>대표이메일</li>
                            <li>test@aaa.aaa</li>
                            <li>대표전화</li>
                            <li>02)333-3333</li>
                            <li>사업장 주소</li>
                            <li>서울특별시 관악구 신림동 1132-1</li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

    <footer th:replace="main/footer.html" :: f></footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/main/js/header.js}"></script>
    <script th:src="@{/product/js/category.js}"></script>
    <script th:src="@{/product/js/review.js}"></script>

    <script th:inline="javascript">
        const productNumber = [[${product.productNumber}]];
        $(document).ready(function(){
            $.getJSON("/review/list", {productNumber: productNumber}, function(obj) {
                console.log('들어옴');
                console.log(productNumber);

                makeReviewContent(obj);
            });
        });

            function makeReviewContent(obj) {
                if (obj.list.length == 0) {
                    $(".review_not_div").html('<span>리뷰가 없습니다.</span>');
                    $(".review_content_ul").html('');
                    $(".pageButtonBox").html('');
                } else {

                    $(".review_not_div").html('');

                    const list = obj.list;
                    const pf = obj.pageInfo;

                    let review_list = '';
                    $(list).each(function (i, obj) {
                        review_list += '<div class="review">';
                        review_list += '<div class="member_name_area">';
                        review_list += '<div class="member_name">';
                        /* 아이디 */
                        review_list += '<span class="name_span">' + 구매자 + '</span>';
                        review_list += '</div>';
                        review_list += '</div>';
                        review_list += '<article>';
                        review_list += '<div class="review_detail">';
                        review_list += '<div class="review_prod_title">';
                        review_list += '<h3 class="product_name">' + obj.productNumber + '</h3>';
                        review_list += '</div>';
                        review_list += '<p>' + obj.reviewContent + '</p>';
                        review_list += '<div class="review_img">';
                        review_list += '<button></button>';
                        review_list += '</div>';
                        review_list += '<footer>'
                        review_list += '<span>' + obj.reviewRegistDate + '</span>';
                        review_list += '</footer></article></div>';

                    });

                    $(".review_content_ul").html(review_list);

                    /* 페이지 버튼 */

                    let review_pageMaker = '';

                    /* prev */
                    if (pf.prev) {
                        let prev_num = pf.pageStart - 1;
                        review_pageMaker += '<li class="pageMaker_btn prev">';
                        review_pageMaker += '<a href="' + prev_num + '">이전</a>';
                        review_pageMaker += '</li>';
                    }
                    /* numbre btn */
                    for (let i = pf.pageStart; i < pf.pageEnd + 1; i++) {
                        review_pageMaker += '<li class="pageMaker_btn ';
                        if (pf.productCriteria.page == i) {
                            review_pageMaker += 'active';
                        }
                        review_pageMaker += '">';
                        review_pageMaker += '<a href="' + i + '">' + i + '</a>';
                        review_pageMaker += '</li>';
                    }
                    /* next */
                    if (pf.next) {
                        let next_num = pf.pageEnd + 1;
                        review_pageMaker += '<li class="pageMaker_btn next">';
                        review_pageMaker += '<a href="' + next_num + '">다음</a>';
                        review_pageMaker += '</li>';

                        $(".pageButtonBox").html(review_pageMaker);
                    }
                }
            }


        /* 댓글 페이지 정보 */
        const cri = {
            productNumber : '${product.productNumber}',
            pageNum : 1,
            amount : 5
        }

        let reviewListInit = function(){
            $.getJSON("/review/list", cri , function(obj){

                makeReviewContent(obj);

            });
        }



    </script>

</body>
</html>