<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Noto Sans KR -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap"
          rel="stylesheet">
    <!-- css -->
    <!--    <link rel="stylesheet" href="/Project/serviceCenter/css/serviceNotice.css">-->
    <link rel="stylesheet" th:href="@{/product/css/categoryDetail.css}">
    <link rel="stylesheet" th:href="@{/main/css/header.css}">
    <link rel="stylesheet" th:href="@{/main/css/footer.css}">
</head>
<body>
<header th:replace="main/header.html" :: h></header>
<div id="detail">
    <main>
        <div class="detail_img">
            <img th:src="@{/partner/display(fileName=${product.productThumbnailName})}">
        </div>
        <section>
            <div class="title_top">당일 판매 상품</div>
            <div>
                <div class="title">
                    <h1 th:text="${todayProduct.productName}">[강남면옥] 갈비탕</h1>
                </div>
                <h2 class="title_bottom" th:text="${todayProduct.productOnelineInformation}">든든하고 푸짐한 한 그릇</h2>
            </div>
            <h2 class="price">
                <span class="sale_percent" th:text="${todayProduct.productSalePercent}"></span><span style="color:rgb(250, 98, 47);">%</span>
                <span th:text="${todayProduct.productSalePrice}">11,900</span>
                <span>원</span>
            </h2>
            <span class="price_origin" th:text="${todayProduct.productPrice}">11,900</span>
            <div class="selling_detail">
                <dl>
                    <dt>판매자</dt>
                    <dd>
                        <p th:text="${partner.partnerStoreName}">파트너1</p>
                    </dd>
                </dl>
                <dl>
                    <dt>파트너 연락처</dt>
                        <dd>
                            <p th:text="${partner.partnerOwnerPhoneNumber}">02-1111-1111</p>
                        </dd>
                </dl>
                <dl>
                    <dt>영업시간</dt>
                    <dd>
                        <p th:text="${todayProduct.productOpenHours}"></p>
                    </dd>
                </dl>
                <dl>
                    <dt>안내사항</dt>
                    <dd>
                        <p>- 당일판매 상품인 만큼 재고의 유무가 확실하지 않다는 점 양해부탁드립니다.
                            파트너사에 연락 후, 방문해주시길 바랍니다.
                        </p>
                    </dd>
                </dl>
            </div>
            <div>
                <div>
                    <div>
                        <div class="total_price">
                            <span>총 상품금액 :</span>
                            <span class="changePrice" th:text="${todayProduct.productSalePrice}">11,900</span>
                            <span>원</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div>
        <nav class="product_nav">
            <ul>
                <li>
                    <a href="#product_wrap">
                        <span class="name">상품설명</span>
                    </a>
                </li>
                <li>
                    <a href="#seller_wrap">
                        <span class="name">판매자정보</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div>
            <!-- 상품설명 -->
            <div id="description" class="product_content">
                <div class="product_wrap" id="product_wrap">
                    <div class="product_intro">
                        <div>
                            <img th:src="@{/partner/display(fileName=${product.productMainImageName})}">
                        </div>
                        <div class="product_context">
                            <h3>
                                <small th:text="${todayProduct.productOnelineInformation}"></small>
                                <p th:text="${todayProduct.productName}"></p>
                            </h3>

                            <p class="words" th:text="${todayProduct.productInformation}"></p>
                        </div>
                    </div>
                </div>
            </div>

            </div>
            <!-- 판매자정보 -->
            <div class="seller review_wrap product_content" id="seller_wrap">
                <section>
                    <header>
                        <h2>판매자 정보</h2>
                    </header>
                    <ul>
                        <li>판매자 정보를 제공하는 공간입니다.</li>
                        <li>제공되는 전화번호나 연락수단으로 상품에 대한 문의를 할 수 있습니다.</li>
                    </ul>
                    <ul style="padding-top: 0px;" th:object="${partner}">
                        <li>회사명</li>
                        <li th:text="*{partnerStoreName}">컬리</li>
                        <li>파트너번호</li>
                        <li th:text="*{partnerNumber}"></li>
                        <li>대표자명</li>
                        <li th:text="*{partnerOwnerName}">홍길동</li>
                        <li>대표이메일</li>
                        <li th:text="*{partnerOwnerEmail}">test@aaa.aaa</li>
                        <li>대표전화</li>
                        <li th:text="*{partnerOwnerPhoneNumber}">02)333-3333</li>
                        <li>사업장 주소</li>
                        <li th:text="*{partnerStoreAddress}">서울특별시 관악구 신림동 1132-1</li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>


<footer th:replace="main/footer.html" :: f></footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/main/js/header.js}"></script>
<script th:src="@{/product/js/category.js}"></script>
</body>
</html>