<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dday.mapper.AddressMapper">
    <insert id="insertFirst">
        INSERT INTO TBL_ADDRESS
        (ADDRESS_NUMBER, ADDRESS_MAIN, ADDRESS_DETAIL, ADDRESS_STATUS, ADDRESS_RECEIVE_PERSON, ADDRESS_RECEIVE_PHONE_NUMBER, MEMBER_NUMBER)
        VALUES(SEQ_ADDRESS.NEXTVAL, #{addressMain}, #{addressDetail}, '기본배송지', #{addressReceivePerson}, #{addressReceivePhoneNumber}, #{memberNumber})
    </insert>

    <insert id="insert">
        INSERT INTO TBL_ADDRESS
        (ADDRESS_NUMBER, ADDRESS_MAIN, ADDRESS_DETAIL, ADDRESS_RECEIVE_PERSON, ADDRESS_RECEIVE_PHONE_NUMBER, MEMBER_NUMBER)
        VALUES(SEQ_ADDRESS.NEXTVAL, #{addressMain}, #{addressDetail}, #{addressReceivePerson}, #{addressReceivePhoneNumber}, #{memberNumber})
    </insert>

    <select id="selectAll" resultType="addressVO">
        SELECT ADDRESS_NUMBER, ADDRESS_MAIN, ADDRESS_DETAIL, ADDRESS_STATUS, ADDRESS_RECEIVE_PERSON, ADDRESS_RECEIVE_PHONE_NUMBER
        FROM TBL_ADDRESS
        WHERE MEMBER_NUMBER=#{memberNumber}
    </select>

    <delete id="delete">
        DELETE FROM TBL_ADDRESS
        WHERE ADDRESS_NUMBER=#{addressNumber}
    </delete>

    <update id="updateStatusNormal">
        UPDATE TBL_ADDRESS
        SET ADDRESS_STATUS='배송지'
        WHERE ADDRESS_STATUS='기본배송지' AND MEMBER_NUMBER=#{memberNumber}
    </update>

    <update id="updateStatus">
        UPDATE TBL_ADDRESS
        SET ADDRESS_STATUS='기본배송지'
        WHERE ADDRESS_NUMBER=#{addressNumber} AND MEMBER_NUMBER=#{memberNumber}
    </update>

    <select id="select" resultType="addressVO">
        SELECT ADDRESS_NUMBER, ADDRESS_MAIN, ADDRESS_DETAIL, ADDRESS_STATUS, ADDRESS_RECEIVE_PERSON, ADDRESS_RECEIVE_PHONE_NUMBER
        FROM TBL_ADDRESS
        WHERE MEMBER_NUMBER=#{memberNumber} AND ADDRESS_STATUS='기본배송지'
    </select>
</mapper>