<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dday.mapper.MainMapper">

    <select id ="selectMainProduct" resultType="productVO">
		SELECT PRODUCT_NUMBER,
		PRODUCT_NAME,
		PRODUCT_PRICE,
		PRODUCT_THUMBNAIL_NAME,
		PRODUCT_SALE_PRICE,
		PRODUCT_SALE_PERCENT,
		PRODUCT_ONELINE_INFORMATION
		FROM(
			SELECT
			PRODUCT_NUMBER,
			PRODUCT_NAME,
			PRODUCT_PRICE,
			PRODUCT_THUMBNAIL_NAME,
		PRODUCT_SALE_PRICE,
		PRODUCT_SALE_PERCENT,
		PRODUCT_ONELINE_INFORMATION
		FROM TBL_PRODUCT
		ORDER BY DBMS_RANDOM.RANDOM
		)
		<![CDATA[
		WHERE ROWNUM <= 8
		]]>
	</select>

	<select id="selectMainProduct2" resultType="productVO">
		SELECT PRODUCT_NUMBER,
		PRODUCT_NAME,
		PRODUCT_PRICE,
		PRODUCT_THUMBNAIL_NAME,
		PRODUCT_SALE_PRICE,
		PRODUCT_SALE_PERCENT,
		PRODUCT_ONELINE_INFORMATION
		FROM(
			SELECT
			PRODUCT_NUMBER,
			PRODUCT_NAME,
			PRODUCT_PRICE,
			PRODUCT_THUMBNAIL_NAME,
		PRODUCT_SALE_PRICE,
		PRODUCT_SALE_PERCENT,
		PRODUCT_ONELINE_INFORMATION
		FROM TBL_PRODUCT
		ORDER BY DBMS_RANDOM.RANDOM
		)
		<![CDATA[
		WHERE ROWNUM <= 1
		]]>
	</select>

	<select id="selectMainProduct3" resultType="productVO">
		SELECT PRODUCT_NUMBER,
		PRODUCT_NAME,
		PRODUCT_PRICE,
		PRODUCT_THUMBNAIL_NAME,
		PRODUCT_SALE_PRICE,
		PRODUCT_SALE_PERCENT,
		PRODUCT_ONELINE_INFORMATION
		FROM(
			SELECT
			PRODUCT_NUMBER,
			PRODUCT_NAME,
			PRODUCT_PRICE,
			PRODUCT_THUMBNAIL_NAME,
		PRODUCT_SALE_PRICE,
		PRODUCT_SALE_PERCENT,
		PRODUCT_ONELINE_INFORMATION
		FROM TBL_PRODUCT
		ORDER BY DBMS_RANDOM.RANDOM
		)
		<![CDATA[
		WHERE ROWNUM <= 1
		]]>
	</select>
	<select id="selectMainProduct4" resultType="productVO">
		SELECT PRODUCT_NUMBER,
		PRODUCT_NAME,
		PRODUCT_PRICE,
		PRODUCT_THUMBNAIL_NAME,
		PRODUCT_SALE_PRICE,
		PRODUCT_SALE_PERCENT,
		PRODUCT_ONELINE_INFORMATION
		FROM(
			SELECT
			PRODUCT_NUMBER,
			PRODUCT_NAME,
			PRODUCT_PRICE,
			PRODUCT_THUMBNAIL_NAME,
			PRODUCT_SALE_PRICE,
			PRODUCT_SALE_PERCENT,
			PRODUCT_ONELINE_INFORMATION
		FROM TBL_PRODUCT
		ORDER BY DBMS_RANDOM.RANDOM
		)
		<![CDATA[
		WHERE ROWNUM <= 8
		]]>
	</select>
	<select id="selectMainProduct5" resultType="productVO">
		SELECT PRODUCT_NUMBER,
		PRODUCT_NAME,
		PRODUCT_PRICE,
		PRODUCT_THUMBNAIL_NAME,
		PRODUCT_SALE_PRICE,
		PRODUCT_SALE_PERCENT,
		PRODUCT_ONELINE_INFORMATION
		FROM(
			SELECT
			PRODUCT_NUMBER,
			PRODUCT_NAME,
			PRODUCT_PRICE,
			PRODUCT_THUMBNAIL_NAME,
		PRODUCT_SALE_PRICE,
		PRODUCT_SALE_PERCENT,
		PRODUCT_ONELINE_INFORMATION
		FROM TBL_PRODUCT
		ORDER BY DBMS_RANDOM.RANDOM
		)
		<![CDATA[
		WHERE ROWNUM <= 8
		]]>
	</select>
	<select id="selectMainProduct6" resultType="productVO">
		SELECT PRODUCT_NUMBER,
		PRODUCT_NAME,
		PRODUCT_PRICE,
		PRODUCT_THUMBNAIL_NAME,
		PRODUCT_SALE_PRICE,
		PRODUCT_SALE_PERCENT,
		PRODUCT_ONELINE_INFORMATION
		FROM(
			SELECT
			PRODUCT_NUMBER,
			PRODUCT_NAME,
			PRODUCT_PRICE,
			PRODUCT_THUMBNAIL_NAME,
		PRODUCT_SALE_PRICE,
		PRODUCT_SALE_PERCENT,
		PRODUCT_ONELINE_INFORMATION
		FROM TBL_PRODUCT
		ORDER BY DBMS_RANDOM.RANDOM
		)
		<![CDATA[
		WHERE ROWNUM <= 8
		]]>
	</select>

</mapper>