<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dday.mapper.ProductMapper">

        <select id="selectToday" resultType="productVO">
            SELECT PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_MANUFACTURE_DATE, PRODUCT_EXPIRATION_DATE, PRODUCT_ONELINE_INFORMATION, PRODUCT_INFORMATION, PRODUCT_THUMBNAIL_NAME, PRODUCT_MAIN_IMAGE_NAME, PRODUCT_REGIST_DATE, PRODUCT_MODIFY_DATE, PRODUCT_TODAY_SALE, PRODUCT_SALE_PERCENT, PRODUCT_SALE_PRICE
            FROM
            (
                SELECT ROWNUM R, PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_MANUFACTURE_DATE, PRODUCT_EXPIRATION_DATE, PRODUCT_ONELINE_INFORMATION, PRODUCT_INFORMATION, PRODUCT_THUMBNAIL_NAME, PRODUCT_MAIN_IMAGE_NAME, PRODUCT_REGIST_DATE, PRODUCT_MODIFY_DATE, PRODUCT_TODAY_SALE, PRODUCT_SALE_PERCENT, PRODUCT_SALE_PRICE
                FROM
                (
                    SELECT PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_MANUFACTURE_DATE, PRODUCT_EXPIRATION_DATE, PRODUCT_ONELINE_INFORMATION, PRODUCT_INFORMATION, PRODUCT_THUMBNAIL_NAME, PRODUCT_MAIN_IMAGE_NAME, PRODUCT_REGIST_DATE, PRODUCT_MODIFY_DATE, PRODUCT_TODAY_SALE, PRODUCT_SALE_PERCENT, PRODUCT_SALE_PRICE
                    FROM TBL_PRODUCT P
                    WHERE PRODUCT_TODAY_SALE= TO_CHAR(SYSDATE, 'YYYYMMDD')
                    ORDER BY PRODUCT_NUMBER DESC
                )D2
             <![CDATA[
        WHERE ROWNUM <= #{page} * #{amount}
        ) WHERE R > (#{page} - 1) * #{amount}
        ]]>
        </select>

        <select id="selectTodayOne" resultType="productVO">
        SELECT PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_ONELINE_INFORMATION, PRODUCT_INFORMATION, PRODUCT_THUMBNAIL_NAME, PRODUCT_MAIN_IMAGE_NAME, PRODUCT_REGIST_DATE, PRODUCT_MODIFY_DATE, PRODUCT_TODAY_SALE, PRODUCT_OPEN_HOURS, PRODUCT_SALE_PERCENT, PRODUCT_SALE_PRICE
        FROM TBL_PRODUCT
        WHERE PRODUCT_NUMBER = #{productNumber}
    </select>
    
    <insert id="insert">
        INSERT INTO TBL_PRODUCT(PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_MANUFACTURE_DATE, PRODUCT_EXPIRATION_DATE, PRODUCT_ONELINE_INFORMATION, PRODUCT_INFORMATION, PRODUCT_THUMBNAIL_NAME, PRODUCT_MAIN_IMAGE_NAME, PRODUCT_TODAY_SALE, PRODUCT_SALE_PERCENT, PRODUCT_OPEN_HOURS, PRODUCT_SALE_PRICE)
        VALUES(SEQ_PRODUCT.NEXTVAL, #{productName}, #{productCategory}, #{productPrice}, #{productStock}, #{productManufactureDate}, #{productExpirationDate}, #{productOnelineInformation}, #{productInformation}, #{productThumbnailName}, #{productMainImageName}, #{productTodaySale}, #{productSalePercent}, #{productOpenHours}, #{productSalePrice})
    </insert>
    

    <select id="select" resultType="productVO">
        SELECT PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_MANUFACTURE_DATE, PRODUCT_EXPIRATION_DATE, PRODUCT_ONELINE_INFORMATION, PRODUCT_INFORMATION, PRODUCT_THUMBNAIL_NAME, PRODUCT_MAIN_IMAGE_NAME, PRODUCT_REGIST_DATE, PRODUCT_MODIFY_DATE, PRODUCT_SALE_PERCENT, PRODUCT_VIEW_COUNT, PRODUCT_SALE_PRICE
        FROM TBL_PRODUCT
        WHERE PRODUCT_NUMBER = #{productNumber}
    </select>

    <select id="selectBest" resultType="productVO">
        SELECT PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_MANUFACTURE_DATE, PRODUCT_EXPIRATION_DATE, PRODUCT_ONELINE_INFORMATION, PRODUCT_INFORMATION, PRODUCT_THUMBNAIL_NAME, PRODUCT_MAIN_IMAGE_NAME, PRODUCT_REGIST_DATE, PRODUCT_MODIFY_DATE, PRODUCT_SALE_PERCENT, PRODUCT_VIEW_COUNT, PRODUCT_SALE_PRICE
        FROM
        (
            SELECT ROWNUM R, PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_MANUFACTURE_DATE, PRODUCT_EXPIRATION_DATE, PRODUCT_ONELINE_INFORMATION, PRODUCT_INFORMATION, PRODUCT_THUMBNAIL_NAME, PRODUCT_MAIN_IMAGE_NAME, PRODUCT_REGIST_DATE, PRODUCT_MODIFY_DATE, PRODUCT_SALE_PERCENT,PRODUCT_VIEW_COUNT, PRODUCT_SALE_PRICE
            FROM
            (
                SELECT PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_MANUFACTURE_DATE, PRODUCT_EXPIRATION_DATE, PRODUCT_ONELINE_INFORMATION, PRODUCT_INFORMATION, PRODUCT_THUMBNAIL_NAME, PRODUCT_MAIN_IMAGE_NAME, PRODUCT_REGIST_DATE, PRODUCT_MODIFY_DATE, PRODUCT_SALE_PERCENT, PRODUCT_VIEW_COUNT, PRODUCT_SALE_PRICE
                FROM TBL_PRODUCT P
                WHERE PRODUCT_VIEW_COUNT >= 3
                ORDER BY PRODUCT_VIEW_COUNT DESC
            )D2
         <![CDATA[
        WHERE ROWNUM <= #{page} * #{amount}
        ) WHERE R > (#{page} - 1) * #{amount}
        ]]>
    </select>

    <select id="selectNew" resultType="productVO">
        SELECT PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_MANUFACTURE_DATE, PRODUCT_EXPIRATION_DATE, PRODUCT_ONELINE_INFORMATION, PRODUCT_INFORMATION, PRODUCT_THUMBNAIL_NAME, PRODUCT_MAIN_IMAGE_NAME, PRODUCT_REGIST_DATE, PRODUCT_MODIFY_DATE, PRODUCT_SALE_PERCENT,PRODUCT_VIEW_COUNT, PRODUCT_SALE_PRICE
        FROM
        (
        SELECT PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_MANUFACTURE_DATE, PRODUCT_EXPIRATION_DATE, PRODUCT_ONELINE_INFORMATION, PRODUCT_INFORMATION, PRODUCT_THUMBNAIL_NAME, PRODUCT_MAIN_IMAGE_NAME, PRODUCT_REGIST_DATE, PRODUCT_MODIFY_DATE, PRODUCT_SALE_PERCENT, PRODUCT_VIEW_COUNT, PRODUCT_SALE_PRICE
        FROM TBL_PRODUCT
        ORDER BY PRODUCT_REGIST_DATE DESC
        )
        <![CDATA[
                WHERE ROWNUM <=50
                ]]>
    </select>
<!--    <select id="selectNew" resultType="productVO">-->
<!--        SELECT PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_MANUFACTURE_DATE, PRODUCT_EXPIRATION_DATE, PRODUCT_ONELINE_INFORMATION, PRODUCT_INFORMATION, PRODUCT_THUMBNAIL_NAME, PRODUCT_MAIN_IMAGE_NAME, PRODUCT_REGIST_DATE, PRODUCT_MODIFY_DATE, PRODUCT_SALE_PERCENT, PRODUCT_SALE_PRICE-->
<!--        FROM-->
<!--        (-->
<!--            SELECT ROWNUM R, PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_MANUFACTURE_DATE, PRODUCT_EXPIRATION_DATE, PRODUCT_ONELINE_INFORMATION, PRODUCT_INFORMATION, PRODUCT_THUMBNAIL_NAME, PRODUCT_MAIN_IMAGE_NAME, PRODUCT_REGIST_DATE, PRODUCT_MODIFY_DATE, PRODUCT_SALE_PERCENT, PRODUCT_SALE_PRICE-->
<!--            FROM-->
<!--            (-->
<!--                    SELECT PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_MANUFACTURE_DATE, PRODUCT_EXPIRATION_DATE, PRODUCT_ONELINE_INFORMATION, PRODUCT_INFORMATION, PRODUCT_THUMBNAIL_NAME, PRODUCT_MAIN_IMAGE_NAME, PRODUCT_REGIST_DATE, PRODUCT_MODIFY_DATE, PRODUCT_SALE_PERCENT, PRODUCT_SALE_PRICE-->
<!--                    FROM TBL_PRODUCT-->
<!--                    ORDER BY PRODUCT_REGIST_DATE DESC-->
<!--            )D2-->
<!--        <![CDATA[-->
<!--        WHERE ROWNUM <= #{page} * #{amount}-->
<!--        ) WHERE R > (#{page} - 1) * #{amount}-->
<!--        ]]>-->
<!--    </select>-->

    <select id="selectSale" resultType="productVO">
        SELECT PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_MANUFACTURE_DATE, PRODUCT_EXPIRATION_DATE, PRODUCT_ONELINE_INFORMATION, PRODUCT_INFORMATION, PRODUCT_THUMBNAIL_NAME, PRODUCT_MAIN_IMAGE_NAME, PRODUCT_REGIST_DATE, PRODUCT_MODIFY_DATE, PRODUCT_SALE_PERCENT,PRODUCT_VIEW_COUNT, PRODUCT_SALE_PRICE
        FROM
        (
            SELECT ROWNUM R, PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_MANUFACTURE_DATE, PRODUCT_EXPIRATION_DATE, PRODUCT_ONELINE_INFORMATION, PRODUCT_INFORMATION, PRODUCT_THUMBNAIL_NAME, PRODUCT_MAIN_IMAGE_NAME, PRODUCT_REGIST_DATE, PRODUCT_MODIFY_DATE, PRODUCT_SALE_PERCENT,PRODUCT_VIEW_COUNT, PRODUCT_SALE_PRICE
            FROM
            (
                SELECT PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_MANUFACTURE_DATE, PRODUCT_EXPIRATION_DATE, PRODUCT_ONELINE_INFORMATION, PRODUCT_INFORMATION, PRODUCT_THUMBNAIL_NAME, PRODUCT_MAIN_IMAGE_NAME, PRODUCT_REGIST_DATE, PRODUCT_MODIFY_DATE, PRODUCT_SALE_PERCENT,PRODUCT_VIEW_COUNT, PRODUCT_SALE_PRICE
                FROM TBL_PRODUCT P
                WHERE PRODUCT_SALE_PERCENT >= 50
                ORDER BY PRODUCT_SALE_PERCENT DESC
            )D2
         <![CDATA[
        WHERE ROWNUM <= #{page} * #{amount}
        ) WHERE R > (#{page} - 1) * #{amount}
        ]]>
    </select>

    <update id="updateViewCount">
        UPDATE TBL_PRODUCT
        SET PRODUCT_VIEW_COUNT = PRODUCT_VIEW_COUNT + 1
        WHERE PRODUCT_NUMBER = #{productNumber}
    </update>

<!--    <select id="getTotal" resultType="_int">-->
<!--        SELECT COUNT(PRODUCT_NUMBER) FROM TBL_PRODUCT-->
<!--    </select>-->

    <select id="getTodayTotal" resultType="_int">
        SELECT COUNT(PRODUCT_NUMBER) FROM TBL_PRODUCT
        WHERE PRODUCT_TODAY_SALE= TO_CHAR(SYSDATE, 'YYYYMMDD')
    </select>

    <select id="getSaleTotal" resultType="_int">
        SELECT COUNT(PRODUCT_NUMBER) FROM TBL_PRODUCT
        WHERE PRODUCT_SALE_PERCENT >= 50
        ORDER BY PRODUCT_SALE_PERCENT DESC
    </select>

    <select id="getFreshTotal" resultType="_int">
        SELECT COUNT(PRODUCT_NUMBER)
            FROM
            (
                SELECT PRODUCT_NUMBER, PRODUCT_REGIST_DATE
                FROM TBL_PRODUCT
                ORDER BY PRODUCT_REGIST_DATE DESC
            )
         <![CDATA[
        WHERE ROWNUM <=50
        ]]>
    </select>


    <select id="getBestTotal" resultType="_int">
        SELECT COUNT(PRODUCT_NUMBER) FROM TBL_PRODUCT
         WHERE PRODUCT_VIEW_COUNT >= 3
    </select>


    <select id="selectPartner" resultType="productDetailDTO">
        SELECT PARTNER_NUMBER
				,PARTNER_STORE_NAME
				,PARTNER_OWNER_NAME
				,PARTNER_OWNER_EMAIL
				,PARTNER_STORE_ADDRESS
				,PARTNER_OWNER_PHONE_NUMBER
				,PR.MEMBER_NUMBER
				,PRODUCT_NUMBER
        FROM TBL_PARTNER PA
        INNER JOIN TBL_PRODUCT PR
        ON PR.MEMBER_NUMBER = PA.MEMBER_NUMBER
        WHERE PRODUCT_NUMBER = #{productNumber}
    </select>

</mapper>