<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dday.mapper.ProductMapper">

    <!--    <select id="selectTodayAll">-->
    <!--        SELECT PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_MANUFACTURE_DATE, PRODUCT_EXPIRATION_DATE, PRODUCT_ONELINE_INFORMATION, PRODUCT_INFORMATION, PRODUCT_TUMBNAIL_NAME, PRODUCT_MAIN_IMAGE_NAME, PRODUCT_REGIST_DATE, PRODUCT_MODIFY_DATE, PRODUCT_TODAY_SALE, PRODUCT_OPEN_HOURS, PRODUCT_SALE_PERCENT-->
    <!--        FROM TBL_PRODUCT-->
    <!--        WHERE TO_CHAR(PRODUCT_TODAY_SALE , 'YYYYMMDD') = TO_CHAR(SYSDATE, 'YYYYMMDD');-->
    <!--    </select>-->

    <!--    <select id="selectTodayOne">-->
    <!--    SELECT PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_ONELINE_INFORMATION, PRODUCT_INFORMATION, PRODUCT_TUMBNAIL_NAME, PRODUCT_MAIN_IMAGE_NAME, PRODUCT_REGIST_DATE, PRODUCT_MODIFY_DATE, PRODUCT_TODAY_SALE, PRODUCT_OPEN_HOURS, PRODUCT_SALE_PERCENT-->
    <!--    FROM TBL_PRODUCT-->
    <!--    WHERE PRODUCT_NUMBER = #{productNumber}-->
    <!--</select>-->
    
    <insert id="insert">
        INSERT INTO TBL_PRODUCT(PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_MANUFACTURE_DATE, PRODUCT_EXPIRATION_DATE, PRODUCT_ONELINE_INFORMATION, PRODUCT_INFORMATION, PRODUCT_THUMBNAIL_NAME, PRODUCT_MAIN_IMAGE_NAME, PRODUCT_TODAY_SALE, PRODUCT_SALE_PERCENT)
        VALUES(SEQ_PRODUCT.NEXTVAL, #{productName}, #{productCategory}, #{productPrice}, #{productStock}, #{productManufactureDate}, #{productExpirationDate}, #{productOnelineInformation}, #{productInformation}, #{productThumbnailName}, #{productMainImageName}, #{productTodaySale}, #{productSalePercent})
    </insert>
    

    <select id="select" resultType="productVO">
        SELECT PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_MANUFACTURE_DATE, PRODUCT_EXPIRATION_DATE, PRODUCT_ONELINE_INFORMATION, PRODUCT_INFORMATION, PRODUCT_THUMBNAIL_NAME, PRODUCT_MAIN_IMAGE_NAME, PRODUCT_REGIST_DATE, PRODUCT_MODIFY_DATE, PRODUCT_SALE_PERCENT
        FROM TBL_PRODUCT
        WHERE PRODUCT_NUMBER = #{productNumber}
    </select>

    <select id="selectBest" resultType="productVO">
        SELECT PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_MANUFACTURE_DATE, PRODUCT_EXPIRATION_DATE, PRODUCT_ONELINE_INFORMATION, PRODUCT_INFORMATION, PRODUCT_THUMBNAIL_NAME, PRODUCT_MAIN_IMAGE_NAME, PRODUCT_REGIST_DATE, PRODUCT_MODIFY_DATE, PRODUCT_SALE_PERCENT
        FROM TBL_PRODUCT
        ORDER BY
    </select>

    <select id="selectNew" resultType="productVO">
        SELECT PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_MANUFACTURE_DATE, PRODUCT_EXPIRATION_DATE, PRODUCT_ONELINE_INFORMATION, PRODUCT_INFORMATION, PRODUCT_THUMBNAIL_NAME, PRODUCT_MAIN_IMAGE_NAME, PRODUCT_REGIST_DATE, PRODUCT_MODIFY_DATE, PRODUCT_SALE_PERCENT
        FROM TBL_PRODUCT
        ORDER BY PRODUCT_REGIST_DATE DESC
    </select>

    <select id="selectSale" resultType="productVO">
        SELECT PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_MANUFACTURE_DATE, PRODUCT_EXPIRATION_DATE, PRODUCT_ONELINE_INFORMATION, PRODUCT_INFORMATION, PRODUCT_THUMBNAIL_NAME, PRODUCT_MAIN_IMAGE_NAME, PRODUCT_REGIST_DATE, PRODUCT_MODIFY_DATE, PRODUCT_SALE_PERCENT
        FROM TBL_PRODUCT
        WHERE PRODUCT_SALE_PERCENT > 50
        ORDER BY PRODUCT_SALE_PERCENT DESC
    </select>

</mapper>