<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--xmlns="http://mybatis.org/dtd/mybatis-3-mapper.dtd"-->
<mapper namespace="com.example.dday.mapper.SearchProductMapper">
    <select id="getProductList" parameterType="hashmap" resultType="ProductVO">
        SELECT PRODUCT_NUMBER, PRODUCT_NAME,PRODUCT_PRICE, PRODUCT_INFORMATION,PRODUCT_THUMBNAIL_NAME, PRODUCT_MAIN_IMAGE_NAME,PRODUCT_SALE_PRICE, MEMBER_NUMBER
        FROM TBL_PRODUCT
        WHERE PRODUCT_NAME LIKE '%'||#{productName, jdbcType=VARCHAR}||'%'
        <if test="filterSearch != null and filterSearch.size != 0">
        AND PRODUCT_CATEGORY IN
            <foreach
                    collection="filterSearch" item="item" separator="," index="index" open="(" close=")">
            #{item}
            </foreach>
        </if>
        <if test= 'highlow != null and highlow == "higher"'>
            ORDER BY
            PRODUCT_PRICE DESC
        </if>
        <if test= 'highlow != null and highlow == "lower"'>
            ORDER BY
            PRODUCT_PRICE ASC
        </if>
    </select>

    <select id="getProductCount" parameterType="hashmap" resultType="_int">
        SELECT COUNT(1) AS totCnt FROM TBL_PRODUCT
        WHERE PRODUCT_NAME LIKE '%'||#{productName, jdbcType=VARCHAR}||'%'
        <if test="filterSearch != null and filterSearch.size != 0" >
            AND PRODUCT_CATEGORY IN
            <foreach collection="filterSearch" item="item" separator="," index="index" open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>

</mapper>