<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--xmlns="http://mybatis.org/dtd/mybatis-3-mapper.dtd"-->
<mapper namespace="com.example.dday.mapper.SearchProductMapper">
    <select id="getProductList" parameterType="hashmap" resultType="ProductVO">
        SELECT PRODUCT_NUMBER, PRODUCT_NAME,PRODUCT_PRICE, PRODUCT_INFORMATION,PRODUCT_THUMBNAIL_NAME, PRODUCT_MAIN_IMAGE_NAME
        FROM TBL_PRODUCT
        WHERE PRODUCT_THUMBNAIL_NAME LIKE '%'||#{productThumbnailName, jdbcType=VARCHAR}||'%'
        <if test="filterSearch != null and filterSearch.size != 0">
        AND PRODUCT_CATEGORY IN
            <foreach
                    collection="filterSearch" item="item" separator="," index="index" open="(" close=")">
            #{item}
            </foreach>
        </if>
        <if test= 'highlow != null and highlow == "higher"'>
            ORDER BY
            PRODUCT_PRICE DESC
        </if>
        <if test= 'highlow != null and highlow == "lower"'>
            ORDER BY
            PRODUCT_PRICE ASC
        </if>
    </select>

    <!--
        <select id="getListWithPaging" resultType="ProductVO">
            SELECT PRODUCT_NUMBER, PRODUCT_THUMBNAIL_NAME,PRODUCT_PRICE, PRODUCT_INFORMATION
            FROM
            (
            SELECT ROWNUM R, PRODUCT_NUMBER, PRODUCT_THUMBNAIL_NAME,PRODUCT_PRICE, PRODUCT_INFORMATION
            FROM (
            SELECT PRODUCT_NUMBER, PRODUCT_THUMBNAIL_NAME,PRODUCT_PRICE, PRODUCT_INFORMATION
            FROM TBL_PRODUCT P
            ORDER BY PRODUCT_NUMBER DESC
            ) D2
            <![CDATA[
         WHERE ROWNUM <= #{pageNum} * #{amount}
        ) WHERE R > (#{pageNum} - 1) * #{amount}
         ]]>
        </select>-->

    <select id="getProductCount" parameterType="hashmap" resultType="_int">
        SELECT COUNT(1) AS totCnt FROM TBL_PRODUCT
        WHERE PRODUCT_THUMBNAIL_NAME LIKE '%'||#{productThumbnailName, jdbcType=VARCHAR}||'%'
        <if test="filterSearch != null and filterSearch.size != 0" >
            AND PRODUCT_CATEGORY IN
            <foreach collection="filterSearch" item="item" separator="," index="index" open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>




    <!--   <![CDATA[
          SELECT * FROM (
          SELECT /*INDEX_DESC (TBL_PRODUCT PK_PRODUCT) */ ROWNUM RN, PRODUCT_NUMBER, PRODUCT_THUMBNAIL_NAME, PRODUCT_PRICE, PRODUCT_INFOMATION
          FROM TBL_PRODUCT
          WHERE PRODUCT_NUMBER > 0 AND ROWNUM >0 AND ROWNUM <=20
          )
          WHERE RN > 10
           ]]>-->
    <!--
        <select id="getTotal" resultType="_int">
            SELECT COUNT(PRODUCT_NUMBER) FROM TBL_PRODUCT
        </select>-->
</mapper>