.managementBox {
    width: 1000px;
    height: 1000px;
    margin: auto;
    padding: 0px 25px 10px;
}

h3 {
    font-size: 22px;
    color: #222222;
}

.managementTitle{
    border-bottom: 2px solid #888888;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

.availableList {
    height: 400px;
}

.cancelList, .returnList {
    height: 300px;
}

table {
    width: 100%;
    border: 1px solid rgb(163, 163, 163);
    border-collapse: collapse;
    margin-top: 5px;
}

table tbody tr th:first-child,
table tbody tr td:first-child {
	border-left: hidden;
}
table tr th:last-child,
table tr td:last-child {
	border-right: hidden;
}

.availableList > p, .cancelList > p, .returnList > p{
    font-size: 16px;
}
th {
    background-color: lightgray;
}

th, tr {
    padding: 3px;
}

tr {
    text-align: center;
    height: 35px;
}

.availableTable td:nth-child(3), .returnTable td:nth-child(6), .cancelTable td:nth-child(3){
    text-align: left;
}

.productChangeButton{
    height:20px;
    width: 30px;
    font-size: 10px;
}

#pagination a {
    display:inline-block;
    margin-right:5px;
    cursor:pointer;
}

.pagination{
    width: 200px;
    margin: auto;
    display: flex;
    font-size: 16px;
    padding-top: 15px;
    cursor: pointer;
}

.pageNum {
    margin-right:10px;
}