form {
    position: relative;
}

h3 {
    font-size: 22px;
    color: #222222;
}

.registTitle {
    border-bottom: 2px solid #888888;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

.registrationBox {
    width: 1000px;
    height: 1300px;
    margin: auto;
    padding: 0px 25px 10px;

}

.colName {
    font-size: 16px;
}

select {
    height: 30px;
    width: 140px;
    font-size: 14px;
}
.registName, .registDiscountRate, select {
    position: absolute;
    left: 24%;
}

.categorySelectBox, .registPrice, .simpleContent, .registStock, .fileButton {
    position:absolute;
    left: 24%;
}

.detailContents {
    position: absolute;
    left: 24%;
    top: 96%;
    width: 450px;
    height: 300px;
    resize: none;
}


input[type=date] {
    position:absolute;
    left : 24%;
    height: 30px;
    width: 130px;
}

input[type=time]{
    position:absolute;
    left : 24%;
    height: 30px;
    width: 130px;
}

.registFormLi {
    margin-bottom: 25px;
}

/* .detailList {
    height:460px;
    position: relative;
}

.col06 {
    position:absolute;
    top:5px;

} */

/* textarea {
    position: absolute;
    left:25%;
    top:5px;
    width: 500px;
    height: 450px;
} */

.registFormLi > input[type=text] {
    width: 450px;
    height: 30px;
    font-size: 14px;
}


/* .registPrice, .registStock {
    width:520px;
} */

.fileButton, .fileButton2 {
    padding: 6px 26px;
    margin-right: 2px;
    background-color:  rgb(57, 59, 63);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 13px;
    position: absolute;
    top: 170%;
}

.inputFileContent {
    position: absolute;
    left : 34%;
    padding: 6px 33px;
}

.col07 {
    position: absolute;
    top: 170%;
}


input[type=checkbox] {  
    display: none;  
}

input[type=checkbox] + label{
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 80px;  
    margin-right: 10px;  
    font-size: 16px;
    left: 700px;
}

input[type=checkbox]+ label:before {     

    content: "";  
    display: inline-block;  
  
    width: 20px;  
    height: 20px;  
  
    margin-left: 40px;
    margin-right: 5px;  
    position: absolute;  
    left: 10px;  
    bottom: 1px;  
    background-color: #ccc;  
    border-radius: 2px; 
}
input[type=checkbox]:checked + label:before { 

    content: "\2713";  /* 체크모양 */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
    font-size: 22px;
    font-weight:800; 
    color: #fff;  
    background:#2f87c1;
    text-align: center;  
    line-height: 20px;  

} 

.submitButton, .removeButton {
    position: absolute;
    right: 2%;
    top: 0;
    padding: 6px 10px;
    border-style: none;
    /* background-color:  rgb(57, 59, 63); */
    background-color: #fa2828;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 14px;

}

.removeButton {
    right: 8%;
}

/*.addressList{
    display:flex;
}

.address {
    width:78px;
}*/

/*.addressFind {
    width:350px;
    left: 24%;
    position: absolute;
}
.addressFind > input[type=text]{
    width: 300px;
    height: 30px;
    margin-bottom: 3px;
}*/

.simpleContentList {
    position: absolute;
    top: 109%;
}

.simpleContent2 {
    position:absolute;
    left: 385%;
}

.col06_2, .detailContents2{
    position: absolute;
    top:127%;
}

.detailContents2{
    left:24%;
    width: 450px;
    height: 300px;
    resize: none;
}


.col07_2{
    position: absolute;
    top:240%;
}

.fileButton2{
    left: 24%;
}

.inputFileContent2{
    left:34%;
    padding: 6px 33px;
}

.fileButton2, .inputFileContent2 {
    top:240%;
    position: absolute;
}

.registDiscountRate{
    width: 150px;
    height: 30px;
    font-size: 14px;

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.uploadResult {
    position: absolute;
    display: flex;
    top: 190%;
    left: 24%;
}

.thumbnailResult {
    display: flex;
    flex-direction: column;
}

.col08 {
    position: absolute;
    top: 190%;
}
.col09 {
    position: absolute;
    top: 260%;
}

img {
    width: 200px;
}

.imgspan{
    display: flex;
    flex-direction: column;
    left: 24%;
}

.mainImgResult {
    display: flex;
    flex-direction: column;
}

.todayUpload {
    top: 260%;
}
