<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Noto Sans KR -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="/member/css/member.css">
</head>
<body>
    <main class="find_main">
        <h2>비밀번호 찾기</h2>
        <section class="find_main_content">
            <div class="find_choice">
                <button type="button">휴대폰 인증</button>
                <button type="button">이메일 인증</button>
            </div>
            <form>
                <div class="find_input_area">
                    <div class="find_inputs">
                        <label>아이디</label>
                        <div>
                            <input type="text" placeholder="아이디를 입력해주세요">
                        </div>
                    </div>
                </div>
                <div class="find_input_area">
                    <div class="find_inputs">
                        <label>휴대폰 번호</label>
                        <div>
                            <input type="tel" placeholder="휴대폰 번호를 입력해주세요">
                        </div>
                    </div>
                </div>
                <div class="auth">
                    <button>인증번호 받기</button>
                </div>
            </form>
        </section>
    </main>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>