<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Noto Sans KR -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="/member/css/member.css">
    <link rel="stylesheet" href="/main/css/header.css">
    <link rel="stylesheet" href="/main/css/footer.css">
</head>
<body>
    <header th:replace="/main/header.html" :: h></header>
    <main class="find_main">
        <h2>아이디 찾기</h2>
        <section class="find_main_content">
            <div class="find_choice tabChoice">
                <input type="radio" id="tab01" name="tabmenu" value="1" class="tab01" checked="checked"></input>
                <label for="tab01" class="choice">휴대폰 인증</label>
                <input type="radio" id="tab02" name="tabmenu" value="2" class="tab02"></input>
                <label for="tab02">이메일 인증</label>
            </div>
            <form name="phoneForm" id="phoneForm">
                <div class="find_input_area">
                    <div class="find_inputs">
                        <label>이름</label>
                        <div>
                            <input type="text" placeholder="이름을 입력해주세요">
                        </div>
                    </div>
                </div>
                <div class="find_input_area">
                    <div class="find_inputs">
                        <label>휴대폰 번호</label>
                        <div>
                            <input type="tel" placeholder="휴대폰 번호를 입력해주세요">
                        </div>
                    </div>
                </div>
                <div class="auth">
                    <button>인증번호 받기</button>
                </div>
            </form>
            <form name="emailForm" id="emailForm">
                <div class="find_input_area">
                    <div class="find_inputs">
                        <label>이름</label>
                        <div>
                            <input type="text" placeholder="이름을 입력해주세요">
                        </div>
                    </div>
                </div>
                <div class="find_input_area">
                    <div class="find_inputs">
                        <label>이메일</label>
                        <div>
                            <input type="tel" placeholder="이메일을 입력해주세요">
                        </div>
                    </div>
                </div>
                <div class="auth">
                    <button>인증번호 받기</button>
                </div>
            </form>
        </section>
    </main>
    <footer th:replace="/main/footer.html" :: f></footer>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script>
$('input[type=radio][name=tabmenu]').on('click', function() {
    var chkValue = $('input[type=radio][name=tabmenu]:checked').val();
    console.log(chkValue);

    if(chkValue == '1') {
       $("#phoneForm").css('display', 'block');
       $("#emailForm").css('display', 'none');
    }
    else if (chkValue == '2') {
        $("#phoneForm").css('display', 'none');
        $("#emailForm").css('display', 'block');
    }
})
</script>