<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Noto Sans KR -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="/main/css/header.css">
    <link rel="stylesheet" href="/main/css/footer.css">
    <link rel="stylesheet" href="/member/css/member.css">
</head>
<body>
    <header th:replace="/main/header.html" :: h></header>
    <main class="login_main">
        <h2>로그인</h2>
        <section class="main_content">
            <form>
                <div class="main_input" th:object="${member}">
                    <div>
                        <div class="input_box">
                            <input type="text" th:field="*{memberId}" placeholder="아이디를 입력해주세요">
                        </div>
                    </div>
                    <div>
                        <div class="input_box">
                            <input type="password" th:field="*{memberPw}" placeholder="비밀번호를 입력해주세요">
                        </div>
                    </div>
                </div>
                <div class="button_area">
                    <div>
                        <div>
                            <button type="button" class="login_btn">로그인</button>
                        </div>
                    </div>
                    <div>
                        <div>
                            <button type="button" class="signup_btn" onclick="location.href='/member/join'">회원가입</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </main>
</body>
<footer th:replace="/main/footer.html" :: f></footer>
</html>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/main/js/header.js"></script>
<script>
    $(".login_btn").on("click", function(){
        let memberId = $("#memberId").val();
        let memberPw = $("#memberPw").val();

        $.ajax({
            url: "/member/login",
            type: "post",
            data: {memberId: memberId, memberPw: memberPw},
            success: function(result){
                if(result == 0){
                    alert("아이디/비밀번호를 다시 입력해주세요.");
                } else {
                    location.href="/";
                }
            }
        });
    })
</script>