<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="/member/css/myPage.css">
    <link rel="stylesheet" href="/main/css/header.css">
    <link rel="stylesheet" href="/main/css/footer.css">
</head>
<body>
<th:block th:if="${session.member.memberNumber == 0}">
    <input type="hidden" onclick="alert('로그인 후 이용가능합니다.'); location.href='/member/login'">
</th:block>
    <!-- 헤더시작 -->
    <header th:replace="/main/header.html" :: h></header>
    <!-- 마이페이지 고정 틀 start -->
    <div th:replace="/member/mypageHeader.html" :: myh></div>
        <div class="mypageBottom">
            <div class="mypageBottomLeft">
                <div class="leftTitle">마이컬리</div>
                <ul class="leftList">
                    <li class="orderList">
                        <a href="/member/mypage" class="orderList">
                            주문 내역
                            <span class="orderList"></span>
                        </a>
                    </li>
                    <li class="orderList">
                        <a href="/member/mypageLike" class="orderList2">
                            찜한 상품
                            <span class="orderList2"></span>
                        </a>
                    </li>
                    <li class="orderList">
                        <a href="/member/mypageDelivery" class="orderList3">
                            배송지 관리
                            <span class="orderList3"></span>
                        </a>
                    </li>
                    <li class="orderList">
                        <a href="/member/mypageReview" class="orderList4">
                            상품후기
                            <span class="orderList4"></span>
                        </a>
                    </li>
                    <li class="orderList">
                        <a href="/member/mypageSaving" class="orderList6">
                            적립금
                            <span class="orderList6"></span>
                        </a>
                    </li>
                    <li class="orderList">
                        <a href="/member/mypageEpi" class="orderList8">
                            개인 정보 수정
                            <span class="orderList8"></span>
                        </a>
                    </li>
                </ul>

            </div>
            <!-- 마이페이지 고정 틀 end -->
            <div class="bottomRight">
                <div class="bottomRightHeader">
                    <div class="brhLeft">
                        <h2 class="brhLeft">
                            주문내역
                        </h2>
<!--                        <span class="brhLeft">-->
<!--                            최대 지난 3년간의 주문 내역까지 확인할 수 있어요-->
<!--                        </span>-->
                    </div>
                </div>
                <div class="brhLine"></div>
                <div class="orderHistory"> <!-- 주문 내역 리스트 시작-->
<!--                    <div class="orderList">-->
<!--                        <div class="orderListHeader">-->
<!--                            <span class="orderTime">2022.11.15 (20시 28분)</span>-->
<!--                            <a href="" class="orderDetail">주문내역상세보기</a>-->
<!--                        </div>-->
<!--                    </div>-->
                    <th:block th:each="order:${orders}">
                        <div class="goodsDetail" th:object="${order}">
                            <div class="goodsLeft">
                                <img src="https://img-cf.kurly.com/shop/data/goods/1637922047806l0.jpg" alt="" class="goods">
                                <div class="goodsInfo">
                                    <dl class="orderNum">
                                        <dt class="orderNum2">주문번호</dt>
                                        <dd class="orderNum3" th:text="*{orderNumber}"></dd>
                                    </dl>
                                    <dl class="orderWay">
                                        <dt class="orderWay2">주문날짜</dt>
                                        <dd class="orderWay3" th:text="*{orderDate}"></dd>
                                    </dl>
                                    <dl class="orderPrice">
                                        <dt class="orderPrice2">결제금액</dt>
                                        <dd class="orderPrice3" th:text="*{#numbers.formatInteger(orderTotalAmount, 0, 'COMMA')}+원"></dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="goodsRight">
                                <span class="orderStatus">배송완료</span>

                            </div>
                        </div>

                    </th:block>
                </div>
            </div>
        </div>
    </div>
     <!--푸터-->
    <footer th:replace="/main/footer.html" :: f></footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/main/js/header.js"></script>
<script>
</script>
</html>