<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="/member/css/myPageReview.css">
    <link rel="stylesheet" href="/main/css/header.css">
    <link rel="stylesheet" href="/main/css/footer.css">
    <link rel="stylesheet" href="/product/css/modal.css">
</head>
<body>
<!-- 헤더시작 -->
<header th:replace="/main/header.html" :: h></header>
<!-- 마이페이지 고정 틀 start -->
<div th:replace="/member/mypageHeader.html" :: myh></div>
    <div class="mypageBottom">
        <div class="mypageBottomLeft">
            <div class="leftTitle">마이컬리</div>
            <ul class="leftList">
                <li class="orderList">
                    <a href="/member/mypage" class="orderList">
                        주문 내역
                        <span class="orderList"></span>
                    </a>
                </li>
                <li class="orderList">
                    <a href="/member/mypageLike" class="orderList2">
                        찜한 상품
                        <span class="orderList2"></span>
                    </a>
                </li>
                <li class="orderList">
                    <a href="/member/mypageDelivery" class="orderList3">
                        배송지 관리
                        <span class="orderList3"></span>
                    </a>
                </li>
                <li class="orderList">
                    <a href="/member/mypageReview" class="orderList4">
                        상품후기
                        <span class="orderList4"></span>
                    </a>
                </li>
                <li class="orderList">
                    <a href="/member/mypageSaving" class="orderList6">
                        적립금
                        <span class="orderList6"></span>
                    </a>
                </li>
                <li class="orderList">
                    <a href="/member/mypageEpi" class="orderList8">
                        개인 정보 수정
                        <span class="orderList8"></span>
                    </a>
                </li>
            </ul>

        </div>
        <!-- 마이페이지 고정 틀 end -->
        <div class="bottomRight">
            <div class="bottomRightHeader">
                <div class="brhLeft">
                    <h2 class="brhLeft">
                        주문내역
                    </h2>
                </div>
            </div>
            <div class="tabReview">
                <input type="radio" id="tab01" name="tabmenu" class="tab01" value="1" checked="checked">
                <label for =tab01>작성 가능 후기</label>
                <input type="radio" id="tab02" name="tabmenu" value="2" class="tab01">
                <label for="tab02">작성한 후기</label>

            </div>
            <div class="conbox" id="conbox">
                <ul class="reviewBenefit">
                    <li class="line1">사진후기 100원, 글후기 50원 적립금 혜택이 있어요.</li>
                    <li class="line2">퍼플,더퍼플은 2배 적립(사진 200원 글100원) / 주간 베스트 후기로 선정 시 5,000원을 추가 적립</li>
                    <li class="line3">후기 작성은 배송완료일로부터 30일 이내 가능합니다</li>
                    <li class="line4">작성하신 후기는 확인 후 적립금이 지급됩니다.(영업일 기준 평균 1~2일 수요)</li>
                </ul>
                <div class="reviewList">
                    <span class="allCnt">총 1개</span>
<!--                    <div class="brhLine"></div>-->
                    <div class="reviewListGoods">
                        <a href="">
                            <img src="https://img-cf.kurly.com/shop/data/goods/1637922047806l0.jpg" class="reviewListGoodsImg"
                            alt="표고버섯 5~6개입 100g">
                        </a>
                        <p>
                            <a href="">
                            <span class="goodsName">표고버섯 5~6입 100g</span>
                            </a><br>
                            <span class="deliveryDay">2022.11.16 배송완료</span>
                        </p>
                        <p class="ableReviewDay">
                            <span>
                                12.16까지 작성 가능
                            </span>
                        </p>
                        <button class="reviewModal">후기작성</button>

                    </div>

                </div>
            </div>
            <div class="conbox2" id = "conbox2">
                <div class="reviewList">
                    <span class="allCnt">총 1개</span>
                    <div class="afterReviewList">
                        <div class="afterReviewDetail">
                            <div class="afterReviewListDetail2">
                                <a>
                                    <span class="afterReviewListDetail2">[Sea to Table] 손질 생새우살 200g (냉동)
                                    </span>

                                <div class="afterReviewListDetail2Time">
                                    <span class="afterReviewListDetail2Time">22.11.21 작성
                                    </span>
                                </div>
                                </a>
                            </div>
                        </div>
                        <button class="btnEditModal"></button>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="editModal">
        <div class="editModalBody">모달</div>
    </div>
</div>
<div class="modalContainer">
    <div class="modalBox">
        <div class="modal">
            <div class="modalBody">
                <div class="modalWrapper" style="max-height: 1000px" >
                    <header class="modalHeader">
                        <h2 class="writeReview">후기작성</h2>
                        <button class="exitModal">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none"></svg>
                        </button>
                    </header>
                    <div class="reviewWrap">
                        <div>
                            <div class="goodsName">
<!--                               <span class="goodsName">-->
<!--                                   <span class="goodsName1"></span>-->
                                <img class="reviewImg" srcset="https://img-cf.kurly.com/shop/data/goods/1637922047806l0.jpg">
<!--                                   <noscript></noscript>-->
<!--                               </span>-->
                                <div class="goodsName2">
                                    <span class="goodsName2">표고버섯 5~6입 100g</span>
                                </div>
                            </div>
                            <form>
                                <div class="reviewText">
                                    <div class="reviewText2">
                                        <label class="label1">
                                            내용
                                        </label>
                                        <div class="reviewTextArea">
                                            <div class="reviewTextArea2">
                                                <textarea id="contents" class="reviewTextArea" inputmode="text" aria-label="textarea-message" placeholder="상품 특성에 맞는 후기를 작성해주세요. 예) 레시피, 겉포장 속 실제 구성품 사진, 플레이팅 등" name="contents">

                                                </textarea>
                                                <div class="content">
<!--                                                    <p class="content">-->
<!--                                                        상품 특성에 맞는 후기를 작성해주세요. 예) 레시피, 겉포장 속 실제 구성품 사진, 플레이팅 등-->
<!--                                                    </p>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="reviewText2">
                                        <label class="label1">
                                            사진첨부
                                        </label>
                                        <div class="plusImg">
                                            <div class="plusImg2">
                                                <label class="plusImg2" for="">
                                                    <button class="plusImg2" type="button" onclick="onClickUpload();">
                                                        <span class="plusImg2"></span>
                                                    </button>
                                                    <input class="plusImg2" id="plusImg2" type="file" accept="image/jpeg, image/jpg, image/png">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="reviewText2">
                                        <label class="label1"></label>
                                            <ul class="reviewRule">
                                                <li class="reviewRule">
                                                    사진은 최대 1장까지, 30MB 이하의 이미지만 업로드가 가능합니다.
                                                </li>
                                                <li class="reviewRule">
                                                    상품과 무관하거나 반복되는 동일 단어/문장을 사용하여 후기로 볼 수 없는 글, 판매자와 고객의 후기 이용을 방해한다고 판단되는 경우, 배송 박스, 구매 상품을 구분할 수 없는 전체 사진, 화면캡쳐, 음란 및 부적절하거나 불법적인 내용은 통보없이 삭제 및 적립금 회수될 수 있습니다.
                                                </li>
                                                <li class="reviewRule">
                                                    전화번호, 이메일, 주소, 계좌번호 등 개인정보가 노출되지 않도록 주의해주세요.
                                                </li>
                                            </ul>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modalButtonBox">
                        <button class="modalCancelButton" type="button">
                            <span class="modalButtonText">취소</span>
                        </button>
                        <button type="button" class="modalOkButton">
                            <span class="modalButtonText">등록</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--푸터-->
<footer th:replace="/main/footer.html" :: f></footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/main/js/header.js"></script>
<script>

    function onClickUpload() {
        let myInput = document.getElementById("plusImg2");
        myInput.click();
    }



    $('input[type=radio][name=tabmenu]').on('click', function() {
        var chkValue = $('input[type=radio][name=tabmenu]:checked').val();

        if(chkValue == '1') {
            $('#conbox').css('display', 'block');
            $('#conbox2').css('display', 'none');
        }
        else if (chkValue == '2') {
            $('#conbox').css('display', 'none');
            $('#conbox2').css('display', 'block');
        }
    })

    /*수정모달*/
    const body = document.querySelector('body');
    const modal = document.querySelector('.editModal');
    const btnOpenPopup = document.querySelector('.btnEditModal');

    btnOpenPopup.addEventListener('click', () => {
        modal.classList.toggle('show');

        if (modal.classList.contains('show')) {
            body.style.overflow = 'hidden';
        }
    });

    modal.addEventListener('click', (event) => {
        if (event.target === modal) {
            modal.classList.toggle('show');

            if (!modal.classList.contains('show')) {
                body.style.overflow = 'auto';
            }
        }
    });

    //후기 작성


    $('div.modalContainer').hide();
    $('button.reviewModal').on('click', function(){
        $("div.modalContainer").fadeIn();
    });

    $('button.modalOkButton').on('click', function(){
        $('div.modalContainer').fadeOut();
        // 장바구니쪽 작은 모달나오기
    });

    $('button.modalCancelButton').on('click',function(){
        $('div.modalContainer').fadeOut();
    });

</script>

</html>