<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>찜한상품</title>
    <link rel="stylesheet" href="/member/css/myPageLike.css">
    <link rel="stylesheet" href="/main/css/header.css">
    <link rel="stylesheet" href="/main/css/footer.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script>
        if([[${session.member.memberNumber}]] == 0){
            alert('로그인 후 이용가능합니다.');
            location.href='/member/login';
        }
    </script>
</head>
<body>
    <!-- 헤더시작 -->
    <header th:replace="main/header.html" :: h></header>
    <!-- 마이페이지 고정 틀 start -->
    <div th:replace="/member/mypageHeader.html" :: myh></div>
        <div class="mypageBottom">
            <div class="mypageBottomLeft">
                <div class="leftTitle">마이컬리</div>
                <ul class="leftList">
                    <li class="orderList">
                        <a href="/member/mypage" class="orderList">
                            주문 내역
                            <span class="orderList"></span>
                        </a>
                    </li>
                    <li class="orderList">
                        <a href="/member/mypageLike" class="orderList2">
                            찜한 상품
                            <span class="orderList2"></span>
                        </a>
                    </li>
                    <li class="orderList">
                        <a href="/member/mypageDelivery" class="orderList3">
                            배송지 관리
                            <span class="orderList3"></span>
                        </a>
                    </li>
<!--                    <li class="orderList">-->
<!--                        <a href="/member/mypageReview" class="orderList4">-->
<!--                            상품후기-->
<!--                            <span class="orderList4"></span>-->
<!--                        </a>-->
<!--                    </li>-->
                    <li class="orderList">
                        <a href="/member/mypageSaving" class="orderList6">
                            적립금
                            <span class="orderList6"></span>
                        </a>
                    </li>
                    <li class="orderList">
                        <a href="/member/mypageEpi" class="orderList8">
                            개인 정보 수정
                            <span class="orderList8"></span>
                        </a>
                    </li>
                </ul>

            </div>
            <!-- 마이페이지 고정 틀 end -->
            <div class="bottomRight">
                <div class="bottomRightHeader">
                    <div class="brhLeft">
                        <h2 class="brhLeft">
                            찜한상품(<span class="likeCntAll"></span>)
                        </h2>
                        <span class="brhLeft">
                            찜한 상품은 최대 200개까지 저장됩니다.
                        </span>
                    </div>
                </div>
                <div class="brhLine"></div>
                <div class="likeGoods">
<!--                    <div class="likeGoodsList">-->
<!--                        <a href="" class="likeGoods">-->
<!--                            <span class="likeGoodsImg"></span>-->
<!--                        </a>-->
<!--                        <div class="likeGoodsInfo">-->
<!--                            <div class="infoLeft">-->
<!--                                <div class="leftName">-->
<!--                                    <a href="" class="leftName">[굽네] 닭가슴살 만두 3종</a>-->
<!--                                </div>-->
<!--                                <div class="leftPrice">-->
<!--                                    <span class="leftPrice">2,450원</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="infoRight">-->
<!--                                <button class="infoRight" type="button" width="104" height="36" radius="4">-->
<!--                                    <span class="infoRight">삭제</span>-->
<!--                                </button>-->
<!--                                <button class="infoRight2" type="button" width="104" height="36" radius="4">-->
<!--                                    <span class="infoRight2">-->

<!--                                        담기</span>-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
<!--        <div class="modal">-->
<!--            <div class="modal_content" -->
<!--                 title="클릭하면 창이 닫힙니다.">-->
<!--              <div class="modalText">삭제하시겠습니까?</div>-->
<!--              <div class="modalFooter">-->
<!--                <button class="cancel">취소</button>-->
<!--                <button class="remove">삭제</button>-->
<!--              </div>-->
<!--            </div>-->
<!--        </div>-->
        <!--modal-->
    <form id="modalForm">
        <div class="modalContainer" >
            <div class="modalBox">
                <div class="modal">
                    <div class="modalBody">
                        <div class="modalWrapper">
                            <div class="modalContent">
                                <input type="hidden" name="productNumber">
                                <div class="modalProductName">
                                    <span></span>
                                </div>
                            </div>
                            <div class="priceAndCount">
                                <div>
                                    <span class="discountBox"></span>
                                    <span class="priceBox"></span>
                                </div>
                                <div class="product_cnt_box">
                                    <button type="button" class="minus"></button>
                                    <div class="cnt" id="cartCount">1</div>
                                    <button type="button" class="plus"></button>
                                </div>
                            </div>
                            <div class="totalPriceBox">
                                <div class="totalPriceInner">
                                    <div class="totalLine">
                                        <p>
                                            합계
                                        </p>
                                        <div>
                                            <span class="changePrice"></span>
                                            <span class="totalWon">원</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="pointBox">
                                    <span class="pointText">적립</span>
                                    <span class="pointCalText">구매 시
                                  <span class="realPoint">5% 적립
                                  </span>
                              </span>
                                </div>
                            </div>
                            <div class="modalButtonBox">
                                <button class="modalCancelButton" type="button">
                                    <span class="modalButtonText">취소</span>
                                </button>
                                <button type="button" class="modalOkButton addCart_btn">
                                    <span class="modalButtonText">장바구니 담기</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
        <!--modal end-->
    <!--푸터-->
    <footer th:replace="main/footer.html" :: f></footer>
</body>
</html>
<script src="/main/js/header.js"></script>
<script src="/member/js/productLike.js"></script>
<script src="/cart/js/cart.js"></script>
<script>
    // 천단위 콤마 없애고 숫자로 변경
    var calcproductPrice;

    getList();

    function getList(){
        productLikeService.getList(showList);
    }

    /*삭제버튼*/
    $("div.likeGoods").on("click", "button.infoRight",function () {
        let check = confirm("찜한 상품을 삭제하시겠습니까?");
        let productNumber = $(this).children("input").val();
        if(check){
            productLikeService.remove(productNumber, getList);
        }
    });

    // 장바구니 이미지 클릭시 모달창
    $('div.modalContainer').hide();

    // getList로 새롭게 html에 추가되었기 때문에
    // $(처음부터 존재했던 새롭게 추가된 요소의 부모).on('click', 누를 요소, 함수) 로 사용!
    $('div.likeGoods').on('click', "button.infoRight2", function(event){
        event.stopPropagation();

        // 장바구니 버튼이 포함된 li에서 정보 가져오기
        // 상품 번호, 상품 가격, 상품 이름, 상품 세일가
        let productNumber = $(this).prev().children("input#productNumber").val();
        let productPrice = $(this).prev().children("input#productPrice").val();
        let productName = $(this).parent().prev().children("div.leftName").text();
        let productSalePrice = $(this).parent().prev().children("div.leftPrice").text();

        // 상품 추가, 삭제 시 변경되는 상품 전체 가격을 위해 계산할 상품 가격을 수정
        calcproductPrice = productSalePrice.replace(",", "").replace("원", "");

        // 모달안의 정보 변경
        // 상품 번호, 상품 가격 ,상품 이름, 상품 세일가, 계산될 상품 첫 가격
        $("input[name='productNumber']").val(productNumber);
        $(".modalProductName span").text(productName);
        $("span.discountBox").text(productSalePrice);
        $("span.priceBox").text(productPrice);
        $("span.changePrice").text(productSalePrice);

        $("div.modalContainer").fadeIn();
    });

    function showList(productDTO){
        $("span.likeCntAll").html(productDTO.productLikeCount);
        $("div.couponCount span:first-child").text(productDTO.productLikeCount);

        let text = "";
        productDTO.products.forEach(product => {
            text += '<div class="likeGoodsList">';
            text += '<a href="" class="likeGoods">';
            text += '<span class="likeGoodsImg">';
            // text += '<img src="/partner/display?fileName=' + product.productThumbnailName + '">';
            text += '</span>';
            text += '</a>';
            text += '<div class="likeGoodsInfo">';
            text += '<div class="infoLeft">';
            text += '<div class="leftName">';
            text += '<a href="" class="leftName">' + product.productName +'</a>';
            text += '</div>';
            text += '<div class="leftPrice">';
            text += '<span class="leftPrice">' + product.productSalePrice.toLocaleString('ko-KR') + '원</span>';
            text += '</div>';
            text += '</div>';
            text += '<div class="infoRight">';
            text += '<button class="infoRight" type="button" width="104" height="36" radius="4">';
            text += '<span class="infoRight">삭제</span>';
            text += '<input type="hidden" id="productNumber" value="'+ product.productNumber +'">';
            text += '<input type="hidden" id="productPrice" value="'+ product.productPrice +'">';
            text += '</button>';
            text += '<button class="infoRight2" type="button" width="104" height="36" radius="4">';
            text += '<span class="infoRight2"> 담기</span>';
            text += '</button>';
            text += '</div>';
            text += '</div>';
            text += '</div>';
        });

        $("div.likeGoods").html(text);
    }



</script>

                