<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="member/css/myPageOrderDetail.css">
    <link rel="stylesheet" href="/main/css/header.css">
    <link rel="stylesheet" href="/main/css/footer.css">
</head>
<body>
     <!-- 헤더시작 -->
     <header th:replace="main/header.html" :: h></header>
     <!-- 마이페이지 고정 틀 start -->
     <div class="mypageWrap">
         <div class="mypageHeader">
             <div class="headerTop">
                 <div class="header1">
                     <div class="headerInfo">
                         <div class="headerGrade">회원</div>
                         <div class="headerName">
                             <strong class="headerRname">
                                 황재승님
                             </strong>
                         </div>
                     </div>
                     <div class="savingPercent">
                         <p class="savingPercent">적립 1%</p>
                     </div>
                     <div class="seeGrade">
                         <button class="seeAll"><a href="/member/mypageReview">상품 후기</a></button>
                         <button class="seeNext"><a href="/member/mypageEpi">개인 정보 수정</a></button>
                     </div>
                 </div>
                 <div class="header2">
                     <button class="savingMoney">
                         <div class="savingMoney">
                             적립금
                             <span class="savingMoney"></span>
                         </div>
                         <div class="savingDetail">
                             25
                             <span class="savingDetail">원</span>
                         </div>
                         <div class="savingChange">
                             소멸예정 0원
                         </div>
                     </button>
                 </div>
                 <div class="header3">
                     <button class="coupon">
                         <div class="couponName">
                             찜한 상품
                             <span class="couponName"></span>
                         </div>
                         <div class="couponCount">
                             1
                             <span class="couponCount">개</span>
                         </div>
                         <div class="savingChange">찜한 상품을 장바구니에 담아보세요!</div>
                     </button>
                 </div>
             </div>
             <a href="https://www.kurly.com/shop/event/kurlyEvent.php?htmid=event/2022/1107/beauty_grand" class="ad">
                 <img class="ad" src="https://product-image.kurly.com/banner/da-banner/0ad4b09b-7fc1-4bb2-be70-65a089d266d5.jpg"
                      alt="">
             </a>
         </div>
         <div class="mypageBottom">
             <div class="mypageBottomLeft">
                 <div class="leftTitle">마이컬리</div>
                 <ul class="leftList">
                     <li class="orderList">
                         <a href="/member/mypage" class="orderList">
                             주문 내역
                             <span class="orderList"></span>
                         </a>
                     </li>
                     <li class="orderList">
                         <a href="/member/mypageLike" class="orderList2">
                             찜한 상품
                             <span class="orderList2"></span>
                         </a>
                     </li>
                     <li class="orderList">
                         <a href="/member/mypageDelivery" class="orderList3">
                             배송지 관리
                             <span class="orderList3"></span>
                         </a>
                     </li>
                     <li class="orderList">
                         <a href="/member/mypageReview" class="orderList4">
                             상품후기
                             <span class="orderList4"></span>
                         </a>
                     </li>
                     <li class="orderList">
                         <a href="/member/mypageSaving" class="orderList6">
                             적립금
                             <span class="orderList6"></span>
                         </a>
                     </li>
                     <li class="orderList">
                         <a href="/member/mypageEpi" class="orderList8">
                             개인 정보 수정
                             <span class="orderList8"></span>
                         </a>
                     </li>
                 </ul>

             </div>
             <!-- 마이페이지 고정 틀 end -->
            <div class="bottomRight">
                <div class="bottomRightHeader">
                    <div class="brhLeft">
                        <h2 class="brhLeft">
                            주문 내역 상세
                        </h2>
                        <span class="brhLeft">
                            <!-- 최대 지난 3년간의 주문 내역까지 확인할 수 있어요 -->
                        </span>
                    </div>
                    <div class="brhRight"> 
                        <div class="brhRight2">
                            <div>
                                <div class="brhRight3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="orderNumber">
                    <h3 class="orderNumber">주문번호 2287520280105</h3>
                    <span class="complain">배송 또는 상품에 문제가 있나요?&nbsp;
                        <a href="" class="complain">1:1문의하기</a>
                    </span>
                </div>
                <div class="brhLine"></div>
                <div class="orderList">
                    <img src="https://img-cf.kurly.com/shop/data/goods/1637922047806l0.jpg" alt="" class="orderList">
                    <div class="listTitle">
                        <a href="" class="listTitle">표고버섯 5~6입 100g</a>
                        <div class="listSub">
                            <span class="listSub">2,490원</span>
                            <span class="listSub2">&nbsp; 1개</span>
                        </div>
                    </div>
                    <span class="orderStatus">배송완료</span>
                    <div class="btns">
                        <button class="review" type="button" width="96" height="36" radius="3">
                            <span class="review">후기작성</span>
                        </button>
                        <button class="basket" type="button" width="96" height="36" radius="3">
                            <span class="basket">장바구니 담기</span>
                        </button>
                    </div>
                </div>
                <div class="listAll">
                    <button class="listAllBasket" type="button" width="200" height="56" radius="3">
                        <span class="listAllBasket">전체 상품 다시 담기</span>
                    </button>
                    <button class="listAllCancel" type="button" width="200" height="56" radius="3">
                        <span class="listAllCancel">전체 상품 주문 취소</span>
                    </button>
                </div>
                <span class="subText">주문취소는 [주문완료] 상태일 경우에만 가능합니다.</span>
                <!-- 배송조회 start -->
                <div class="deliveryTracking">
                    <h3 class="deliveryTracking">배송조회</h3>
                </div>
                <ul class="deliveryTrackingList">
                    <li class="deliveryTracking">
                        <div class="deliveryStatus">
                            <span class="deliveryStatus">냉장</span>
                        </div>
                        <span class="deliveryStatus2">배송완료</span>
                        <span class="companyName">넥스트마일</span>
                        <a href="https://www.kurlynextmile.com/main/delivery_check.php?invoice_no=210-C0-2287520280105-0001" class="deliveryTracking">배송조회</a>
                    </li>
                </ul>
                <ul class="deliveryTrackingList">
                    <li class="deliveryTracking">
                        <div class="deliveryStatus">
                            <span class="deliveryStatus">냉동</span>
                        </div>
                        <span class="deliveryStatus2">배송완료</span>
                        <span class="companyName">넥스트마일</span>
                        <a href="https://www.kurlynextmile.com/main/delivery_check.php?invoice_no=210-C0-2287520280105-0001" class="deliveryTracking">배송조회</a>
                    </li>
                </ul>
                <ul class="deliveryTrackingList" style="
                padding-bottom: 28px;
                margin-bottom: 60px;
                border-bottom: 1px solid rgb(244, 244, 244);
            ">
                    <li class="deliveryTracking">
                        <div class="deliveryStatus">
                            <span class="deliveryStatus">상온</span>
                        </div>
                        <span class="deliveryStatus2">배송완료</span>
                        <span class="companyName">넥스트마일</span>
                        <a href="https://www.kurlynextmile.com/main/delivery_check.php?invoice_no=210-C0-2287520280105-0001" class="deliveryTracking">배송조회</a>
                    </li>
                </ul>
                 <!-- 배송조회 end -->
                 <!-- 결제정보 start -->
                 <div class="deliveryTracking">
                    <h3 class="deliveryTracking">결제정보</h3>
                </div>
                <ul class="deliveryTrackingList">
                    <li class="deliveryTracking">
                        <div class="deliveryStatus">
                            <span class="deliveryStatus">상품금액</span>
                        </div>
                        <!-- <span class="companyName">넥스트마일</span> -->
                        <!-- <a href="https://www.kurlynextmile.com/main/delivery_check.php?invoice_no=210-C0-2287520280105-0001" class="deliveryTracking">배송조회</a> -->
                        <span class="deliveryStatus2" style="margin: 0">53,570원</span>
                    </li>
                </ul>
                <ul class="deliveryTrackingList">
                    <li class="deliveryTracking">
                        <div class="deliveryStatus">
                            <span class="deliveryStatus">상품할인금액</span>
                        </div>
                        <!-- <span class="companyName">넥스트마일</span> -->
                        <!-- <a href="https://www.kurlynextmile.com/main/delivery_check.php?invoice_no=210-C0-2287520280105-0001" class="deliveryTracking">배송조회</a> -->
                        <span class="deliveryStatus2" style="margin: 0">-585원</span>
                    </li>
                </ul>
                <ul class="deliveryTrackingList">
                    <li class="deliveryTracking">
                        <div class="deliveryStatus">
                            <span class="deliveryStatus">배송비</span>
                        </div>
                        <!-- <span class="companyName">넥스트마일</span> -->
                        <!-- <a href="https://www.kurlynextmile.com/main/delivery_check.php?invoice_no=210-C0-2287520280105-0001" class="deliveryTracking">배송조회</a> -->
                        <span class="deliveryStatus2" style="margin: 0">0원</span>
                    </li>
                </ul>
                <ul class="deliveryTrackingList">
                    <li class="deliveryTracking">
                        <div class="deliveryStatus">
                            <span class="deliveryStatus">쿠폰할인</span>
                        </div>
                        <!-- <span class="companyName">넥스트마일</span> -->
                        <!-- <a href="https://www.kurlynextmile.com/main/delivery_check.php?invoice_no=210-C0-2287520280105-0001" class="deliveryTracking">배송조회</a> -->
                        <span class="deliveryStatus2" style="margin: 0">-11,000원</span>
                    </li>
                </ul><ul class="deliveryTrackingList">
                    <li class="deliveryTracking">
                        <div class="deliveryStatus">
                            <span class="deliveryStatus">결제금액</span>
                        </div>
                        <!-- <span class="companyName">넥스트마일</span> -->
                        <!-- <a href="https://www.kurlynextmile.com/main/delivery_check.php?invoice_no=210-C0-2287520280105-0001" class="deliveryTracking">배송조회</a> -->
                        <span class="deliveryStatus2" style="margin: 0">41,985원</span>
                    </li>
                </ul><ul class="deliveryTrackingList">
                    <li class="deliveryTracking">
                        <div class="deliveryStatus">
                            <span class="deliveryStatus">적립금액</span>
                        </div>
                        <!-- <span class="companyName">넥스트마일</span> -->
                        <!-- <a href="https://www.kurlynextmile.com/main/delivery_check.php?invoice_no=210-C0-2287520280105-0001" class="deliveryTracking">배송조회</a> -->
                        <span class="deliveryStatus2" style="margin: 0">42원</span>
                    </li>
                </ul><ul class="deliveryTrackingList" style="
                padding-bottom: 28px;
                margin-bottom: 60px;
                border-bottom: 1px solid rgb(244, 244, 244);
            ">
                    <li class="deliveryTracking">
                        <div class="deliveryStatus">
                            <span class="deliveryStatus">결제방법</span>
                        </div>
                        <!-- <span class="companyName">넥스트마일</span> -->
                        <!-- <a href="https://www.kurlynextmile.com/main/delivery_check.php?invoice_no=210-C0-2287520280105-0001" class="deliveryTracking">배송조회</a> -->
                        <span class="deliveryStatus2" style="margin: 0">카카오페이(신용카드)</span>
                    </li>
                </ul>
                <div class="deliveryTracking">
                    <h3 class="deliveryTracking">주문정보</h3>
                </div>
                <ul class="orderInfo" style="
                padding-bottom: 28px;
                margin-bottom: 60px;
                border-bottom: 1px solid rgb(244, 244, 244);
            ">
                    <li class="orderInfo" style="
                    padding-top: 0px;
                ">
                        <span class="orderNum">주문번호</span>
                        <span class="orderNumDetail">2287520280105</span>
                    </li>
                    <li class="orderInfo">
                        <span class="orderNum">보내는 분</span>
                        <span class="orderNumDetail">임소영</span>
                    </li>
                    <li class="orderInfo">
                        <span class="orderNum">결제일시</span>
                        <span class="orderNumDetail">2022-11-15 20:29:11</span>
                    </li>
                    
                </ul>
                <div class="deliveryTracking">
                    <h3 class="deliveryTracking">배송정보</h3>
                </div>
                <ul class="orderInfo" style="
                padding-bottom: 28px;
                margin-bottom: 60px;
                border-bottom: 1px solid rgb(244, 244, 244);
            ">
                    <li class="orderInfo" style="
                    padding-top: 0px;
                ">
                        <span class="orderNum">받는분</span>
                        <span class="orderNumDetail">임소영</span>
                    </li>
                    <li class="orderInfo">
                        <span class="orderNum">핸드폰</span>
                        <span class="orderNumDetail">010-1526-****</span>
                    </li>
                    <li class="orderInfo">
                        <span class="orderNum">주소</span>
                        <span class="orderNumDetail">(05396) 서울특별시 강남구 역삼로 38 6101호</span>
                    </li>
                    <li class="orderInfo">
                        <span class="orderNum">받으실 장소</span>
                        <span class="orderNumDetail">문 앞</span>
                    </li>
                    <li class="orderInfo">
                        <span class="orderNum">공동현관 출입방법</span>
                        <span class="orderNumDetail">자유 출입 가능</span>
                    </li>
                    <li class="orderInfo">
                        <span class="orderNum">포장 방법</span>
                        <span class="orderNumDetail">종이 포장재</span>
                    </li>
                    
                </ul>
                <div class="deliveryTracking">
                    <h3 class="deliveryTracking">추가정보</h3>
                </div>
                <ul class="orderInfo">
                    <li class="orderInfo" style="
                    padding-top: 0px;
                ">
                        <span class="orderNum">미배송 시 조치방법</span>
                        <span class="orderNumDetail">결제수단으로 환불</span>
                    </li>
                    <li class="orderInfo">
                        <span class="orderNum">메세지 전송시점</span>
                        <span class="orderNumDetail">배송 직후</span>
                    </li>
                    
                    
                </ul>
                </div>
                </div>
                </div>
    <!-- 푸터 시작 -->
     <footer th:replace="main/footer.html" :: f></footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/main/js/header.js"></script>
</html>