<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="/myPage/css/myPage.css">
    <link rel="stylesheet" href="/main/css/header.css">
    <link rel="stylesheet" href="/main/css/footer.css">
</head>
<body>
    <!-- 헤더시작 -->
    <header th:replace="/main/header.html" :: h></header>
    <!-- 마이페이지 고정 틀 start -->
    <div class="mypageWrap">
        <div class="mypageHeader">
            <div class="headerTop">
                <div class="header1">
                    <div class="headerInfo">
                        <div class="headerGrade">회원</div>
                        <div class="headerName">
                            <strong class="headerRname">
                                황재승님
                            </strong>
                        </div>
                    </div>
                    <div class="savingPercent">
                        <p class="savingPercent">적립 0.1%</p>
                    </div>
                    <div class="seeGrade">
                        <button class="seeAll">전체등급 보기</button>
                        <button class="seeNext">다음 달 예상등급 보기</button>
                    </div>
                </div>
                <div class="header2">
                    <button class="savingMoney">
                        <div class="savingMoney">
                            적립금
                            <span class="savingMoney"></span>
                        </div>
                        <div class="savingDetail">
                            25
                            <span class="savingDetail">원</span>
                        </div>
                        <div class="savingChange">
                            소멸예정 0원
                        </div>
                    </button>
                </div>
                <div class="header3">
                    <button class="coupon">
                        <div class="couponName">
                            쿠폰
                            <span class="couponName"></span>
                        </div>
                        <div class="couponCount">
                            1
                            <span class="couponCount">개</span>
                        </div>
                        <div class="savingChange">쿠폰이 도착했어요!</div>
                    </button>
                </div>
            </div>
            <a href="https://www.kurly.com/shop/event/kurlyEvent.php?htmid=event/2022/1107/beauty_grand" class="ad">
                <img class="ad" src="https://product-image.kurly.com/banner/da-banner/0ad4b09b-7fc1-4bb2-be70-65a089d266d5.jpg" 
                alt="">
            </a>
        </div>
        <div class="mypageBottom">
            <div class="mypageBottomLeft">
                <div class="leftTitle">마이컬리</div>
                <ul class="leftList">
                    <li class="orderList">
                        <a href="" class="orderList">
                            주문 내역
                            <span class="orderList"></span>
                        </a>
                    </li>
                    <li class="orderList">
                        <a href="" class="orderList2">
                            찜한 상품
                            <span class="orderList2"></span>
                        </a>
                    </li>
                    <li class="orderList">
                        <a href="" class="orderList3">
                            배송지 관리
                            <span class="orderList3"></span>
                        </a>
                    </li>
                    <li class="orderList">
                        <a href="" class="orderList4">
                            상품후기
                            <span class="orderList4"></span>
                        </a>
                    </li>
                    <li class="orderList">
                        <a href="" class="orderList5">
                            상품문의
                            <span class="orderList5"></span>
                        </a>
                    </li>
                    <li class="orderList">
                        <a href="" class="orderList6">
                            적립금
                            <span class="orderList6"></span>
                        </a>
                    </li>
                    <li class="orderList">
                        <a href="" class="orderList7">
                            쿠폰
                            <span class="orderList7"></span>
                        </a>
                    </li>
                    <li class="orderList">
                        <a href="" class="orderList8">
                            개인 정보 수정
                            <span class="orderList8"></span>
                        </a>
                    </li>
                </ul>
                <a href="" class="assist">
                    <div class="assist">
                        <span class="assist">도움이 필요하신가요 ?</span>
                        <span class="assist2">1:1 문의하기</span>
                    </div>
                    <span class="assist3"></span>
                </a>
            </div>
            <!-- 마이페이지 고정 틀 end -->
            <div class="bottomRight">
                <div class="bottomRightHeader">
                    <div class="brhLeft">
                        <h2 class="brhLeft">
                            주문내역
                        </h2>
                        <span class="brhLeft">
                            최대 지난 3년간의 주문 내역까지 확인할 수 있어요
                        </span>
                    </div>
                    <div class="brhRight"> 
                        <div class="brhRight2">
                            <div>
                                <div class="brhRight3">
                                    <div class="brhRight4" variant="outlined">
                                        <div class="tabindex" tabindex="0" role="button" aria-expanded="false" aria-haspopup="listbox" aria-label="Without label">3개월</div>
                                        <input  class="tabindex" aria-hidden="true" tabindex="-1" value="12">
                                        <svg class="tabindex" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ArrowDropDownIcon">
                                            <path d="M7 10l5 5 5-5z"></path>
                                        </svg>
                                        <fieldset class="tabindex" aria-hidden="true">
                                            <legend class="tanindex">
                                                <span class="tabindex">&ZeroWidthSpace;</span>
                                            </legend>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="brhLine"></div>
                <div class="orderHistory"> <!-- 주문 내역 리스트 시작-->
                    <div class="orderList">
                        <div class="orderListHeader">
                            <span class="orderTime">2022.11.15 (20시 28분)</span>
                            <a href="" class="orderDetail">주문내역상세보기</a>
                        </div>
                    </div>
                    <div class="goodsDetail">
                        <div class="goodsLeft">
                            <img src="https://img-cf.kurly.com/shop/data/goods/1637922047806l0.jpg" alt="" class="goods">
                            <div class="goodsInfo">
                                <dl class="goodsName">
                                    <dt class="goodsName2">상품명</dt>
                                    <dd class="goodsName3">표고버섯 5~6입 100g 외 10건</dd>
                                </dl>
                                <dl class="orderNum">
                                    <dt class="orderNum2">주문번호</dt>
                                    <dd class="orderNum3">2287520280105</dd>
                                </dl>
                                <dl class="orderWay">
                                    <dt class="orderWay2">결제방법</dt>
                                    <dd class="orderWay3">카카오페이</dd>
                                </dl>
                                <dl class="orderPrice">
                                    <dt class="orderPrice2">결제금액</dt>
                                    <dd class="orderPrice3">41,985원</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="goodsRight">
                            <span class="orderStatus">배송완료</span>
                            <div class="inquiry">
                                <button class="inquiry" type="button" height="36" radiu="3">
                                    <span class="inquiry">1:1문의</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!--푸터-->
    <footer th:replace="/main/footer.html" :: f></footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/main/js/header.js"></script>

</html>