<!-- Epi = Edit personal information -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>찜한상품</title>
    <link rel="stylesheet" href="/member/css/myPageEpi.css">
    <link rel="stylesheet" href="/main/css/header.css">
    <link rel="stylesheet" href="/main/css/footer.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body>
    <!-- 헤더시작 -->
    <header th:replace="main/header.html" :: h></header>
    <!-- 마이페이지 고정 틀 start -->
    <div class="mypageWrap">
        <div class="mypageHeader">
            <div class="headerTop">
                <div class="header1">
                    <div class="headerInfo">
                        <div class="headerGrade">회원</div>
                        <div class="headerName">
                            <strong class="headerRname">
                                황재승님
                            </strong>
                        </div>
                    </div>
                    <div class="savingPercent">
                        <p class="savingPercent">적립 1%</p>
                    </div>
                    <div class="seeGrade">
                        <button class="seeAll"><a href="/member/mypageReview">상품 후기</a></button>
                        <button class="seeNext"><a href="/member/mypageEpi">개인 정보 수정</a></button>
                    </div>
                </div>
                <div class="header2">
                    <button class="savingMoney">
                        <div class="savingMoney">
                            적립금
                            <span class="savingMoney"></span>
                        </div>
                        <div class="savingDetail">
                            25
                            <span class="savingDetail">원</span>
                        </div>
                        <div class="savingChange">
                            소멸예정 0원
                        </div>
                    </button>
                </div>
                <div class="header3">
                    <button class="coupon">
                        <div class="couponName">
                            찜한 상품
                            <span class="couponName"></span>
                        </div>
                        <div class="couponCount">
                            1
                            <span class="couponCount">개</span>
                        </div>
                        <div class="savingChange">찜한 상품을 장바구니에 담아보세요!</div>
                    </button>
                </div>
            </div>
            <a href="https://www.kurly.com/shop/event/kurlyEvent.php?htmid=event/2022/1107/beauty_grand" class="ad">
                <img class="ad" src="https://product-image.kurly.com/banner/da-banner/0ad4b09b-7fc1-4bb2-be70-65a089d266d5.jpg"
                     alt="">
            </a>
        </div>
        <div class="mypageBottom">
            <div class="mypageBottomLeft">
                <div class="leftTitle">마이컬리</div>
                <ul class="leftList">
                    <li class="orderList">
                        <a href="/member/mypage" class="orderList">
                            주문 내역
                            <span class="orderList"></span>
                        </a>
                    </li>
                    <li class="orderList">
                        <a href="/member/mypageLike" class="orderList2">
                            찜한 상품
                            <span class="orderList2"></span>
                        </a>
                    </li>
                    <li class="orderList">
                        <a href="/member/mypageDelivery" class="orderList3">
                            배송지 관리
                            <span class="orderList3"></span>
                        </a>
                    </li>
                    <li class="orderList">
                        <a href="/member/mypageReview" class="orderList4">
                            상품후기
                            <span class="orderList4"></span>
                        </a>
                    </li>
                    <li class="orderList">
                        <a href="/member/mypageSaving" class="orderList6">
                            적립금
                            <span class="orderList6"></span>
                        </a>
                    </li>
                    <li class="orderList">
                        <a href="/member/mypageEpi" class="orderList8">
                            개인 정보 수정
                            <span class="orderList8"></span>
                        </a>
                    </li>
                </ul>

            </div>
            <!-- 마이페이지 고정 틀 end -->
            <div class="bottomRight">
                <div class="bottomRightHeader">
                    <div class="brhLeft">
                        <h2 class="brhLeft">
                            개인 정보 수정
                        </h2>
                    </div>
                </div>
                <span class="brhLeft">
                    비밀번호 재확인
                </span>
                <div>
                <span class="brhLeft2">
                    회원님의 정보를 안전하게 보호하기 위해 비밀번호를 다시 한번 확인해주세요.
                </span>
                </div>
                <div class="brhLine"></div>
                <form action="#">
                    <div class="confirmWrap">
                        <div class="confirmTop">
                            <div class="confirmId">
                                <label for="userId" class="confirmId">아이디</label>
                            </div>
                            <div class="confirmId2">
                                <input type="text" readonly class="confirmId2" id="userId" name="userId" data-testid="input-box" value="">
                            </div>
                        </div>
                        <div class="confirmTop2">
                            <div class="confirmPw">
                                <label for="password" class="confirmPw">비밀번호</label>
                            </div>
                            <div class="confirmPw2">
                                <input type="password" class="confirmPw2" data-testid="input-box" id="password" autocomplete="off" value="" placeholder="현재 비밀번호를 입력해주세요">

                            </div>
                        </div>
                        
                    </div>
                    <div class="confirmBottom">
                        <button class="confirmBtn" type="submit" width="240" height="56" radius="3">
                            <span class="confirmBtn">확인</span>
                        </button>
                    </div>
                </form>
                </div>
                </div>
                </div>

    <!--푸터 시작-->
    <footer th:replace="main/footer.html" :: f></footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/main/js/header.js"></script>
</html>

