<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>적립금</title>
    <link rel="stylesheet" href="/member/css/myPageSaving.css">
    <link rel="stylesheet" href="/main/css/header.css">
    <link rel="stylesheet" href="/main/css/footer.css">
</head>
<body>
    <!-- 헤더시작 -->
    <header th:replace="main/header.html" :: h></header>
    <!-- 마이페이지 고정 틀 start -->
    <div th:replace="/member/mypageHeader.html" :: myh></div>
        <div class="mypageBottom">
            <div class="mypageBottomLeft">
                <div class="leftTitle">마이컬리</div>
                <ul class="leftList">
                    <li class="orderList">
                        <a href="/member/mypage" class="orderList">
                            주문 내역
                            <span class="orderList"></span>
                        </a>
                    </li>
                    <li class="orderList">
                        <a href="/member/mypageLike" class="orderList2">
                            찜한 상품
                            <span class="orderList2"></span>
                        </a>
                    </li>
                    <li class="orderList">
                        <a href="/member/mypageDelivery" class="orderList3">
                            배송지 관리
                            <span class="orderList3"></span>
                        </a>
                    </li>
<!--                    <li class="orderList">-->
<!--                        <a href="/member/mypageReview" class="orderList4">-->
<!--                            상품후기-->
<!--                            <span class="orderList4"></span>-->
<!--                        </a>-->
<!--                    </li>-->
                    <li class="orderList">
                        <a href="/member/mypageSaving" class="orderList6">
                            적립금
                            <span class="orderList6"></span>
                        </a>
                    </li>
                    <li class="orderList">
                        <a href="/member/mypageEpi" class="orderList8">
                            개인 정보 수정
                            <span class="orderList8"></span>
                        </a>
                    </li>
                </ul>

            </div>
            <!-- 마이페이지 고정 틀 end -->
            <div class="bottomRight">
                <div class="bottomRightHeader">
                    <div class="brhLeft">
                        <h2 class="brhLeft">
                            적립금
                        </h2>
                        <span class="brhLeft">
                            보유하고 계신 적립금의 내역을 한 눈에 확인 하실 수 있습니다.
                        </span>
                    </div>
                </div>
<!--                <section class="savingWon">-->
<!--                    <dl class="item">-->
<!--                        <dt class="label">현재 적립금</dt>-->
<!--                        <dd class="price">25-->
<!--                            <span class="unit">원</span>-->
<!--                        </dd>-->
<!--                    </dl>-->
<!--                    <dl class="item">-->
<!--                        <dt class="label">소멸예정 적립금</dt>-->
<!--                        <dd class="price">-->
<!--                            0-->
<!--                            <span class="unit">원</span>-->
<!--                        </dd>-->
<!--                    </dl>-->
<!--                </section>-->
                <div class="brhLine"></div>
                <div class="deliveryList">
                    <div class="deliveryChoice">날짜</div>
                    <div class="deliveryChoice2">내용</div>
                    <div class="deliveryChoice3">유효기간</div>
                    <div class="deliveryChoice4">금액</div>
                </div>
                <ul class="savingList">
                    <th:block th:each="point:${points}" th:if="${not #strings.isEmpty(points)}">
                        <li class="savingListDetail" th:object="${point}">
                            <div class="savingDate" th:text="*{pointDate}"></div>
                            <div class="savingDetail1" th:text="*{pointContent}"></div>
                            <div class="expire-date" th:text="*{pointEndDate}"></div>
                            <div class="point" th:if="*{#strings.equals(pointType,'적립')}" th:text="'+' + *{pointPrice}"></div>
                            <div class="point" th:unless="*{#strings.equals(pointType,'적립')}" th:text="'-' + *{pointPrice}" style="color: grey;"></div>
                        </li>
                    </th:block>
                    <th:block th:unless="${not #strings.isEmpty(points)}">
                        <li class="savingListDetail" style="justify-content: center;">
                            적립금 내역이 없습니다.
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>
    <!-- 푸터 -->
    <footer th:replace="main/footer.html" :: f></footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/main/js/header.js"></script>
</html>
